// ------------------- new --------------------------------

textarea.mat-input-element {
  border: 0.0625rem solid color("grey", "darken-2");
  padding: 1.8rem 1.8rem !important;
  border-radius: $form-fields-radius;
  min-height: 96px;
  margin-top: 0.7rem !important;
  color: color("grey", "lighten-2") !important;
}

textarea {
  min-height: 9.375rem;
  color: color("grey", "darken-6");

  // @include dark-theme {
  //   color: #ffffff;
  // }
}

//mat-checkbox
.mat-mdc-checkbox label {
  color: color("purple", "darken-1");

  // @include dark-theme {
  //   color: #ffffff;
  // }

  font-weight: 500;
  font-size: 1rem;
}

// ------------------- new --------------------------------
