body {
  font-size: 1rem;
  color: color("grey", "darken");
  background-color: color("grey", "lighten-3");
}

a {
  font-family: $font-medium;
  color: color("blue", "base");
}

.font-16 {
  font-size: 1.6rem !important;
}

.no-margin {
  margin: 0 !important;
}

.no-border {
  border: none !important;
}

.no-padding {
  padding: 0 !important;
}
.margin-top-0 {
  margin-top: 0 !important;
}

.margin-top-10 {
  margin-top: 10px !important;
}

.margin-top-20 {
  margin-top: 20px !important;
}
.margin-top-30 {
  margin-top: 30px !important;
}
.margin-top-40 {
  margin-top: 40px !important;
}
.margin-top-50 {
  margin-top: 50px !important;
}

.margin-bottom-0 {
  margin-bottom: 0 !important;
}

.padding-top-10 {
  padding-top: 10px;
}
.padding-top-20 {
  padding-top: 20px !important;
}

.padding-top-30 {
  padding-top: 30px;
}


.padding-bottom-10 {
  padding-bottom: 10px;
}
.padding-bottom-20 {
  padding-bottom: 20px !important;
}

.padding-bottom-30 {
  padding-top: 30px;
}





.margin-bottom-10 {
  margin-bottom: 10px !important;
}

.margin-bottom-20 {
  margin-bottom: 20px !important;
}

.margin-bottom-30 {
  margin-bottom: 30px !important;
}

.margin-bottom-40 {
  margin-bottom: 40px !important;
}

.margin-bottom-50 {
  margin-bottom: 50px !important;
}

.margin-right-10 {
  margin-right: 10px !important;
}

.margin-right-20 {
  margin-right: 20px !important;
}

.margin-right-30 {
  margin-right: 30px !important;
}

.margin-right-40 {
  margin-right: 40px !important;
}

.margin-right-50 {
  margin-right: 50px !important;
}

.margin-left-10 {
  margin-left: 10px !important;
}

.margin-left-20 {
  margin-left: 20px !important;
}

.margin-left-30 {
  margin-left: 30px !important;
}

.margin-left-40 {
  margin-left: 40px !important;
}

.margin-left-50 {
  margin-left: 50px !important;
}

.no-bottom-padding {
  padding-bottom: 0 !important;
}
.no-top-padding {
  padding-top: 0 !important;
}

.w-full {
  width: 100%;
}

.black-color {
  .base {
    background-color: color("grey", "base");
  }

  .lighten-1 {
    background-color: color("grey", "lighten-1");
  }

  .lighten-2 {
    background-color: color("grey", "lighten-2");
  }

  .lighten-3 {
    background-color: color("grey", "lighten-3");
  }

  .lighten-4 {
    background-color: color("grey", "lighten-4");
  }

  .lighten-5 {
    background-color: color("grey", "lighten-5");
  }

  .lighten-6 {
    background-color: color("grey", "lighten-6");
  }

  .lighten-7 {
    background-color: color("grey", "lighten-7");
  }

  .lighten-8 {
    background-color: color("grey", "lighten-8");
  }

  .lighten-9 {
    background-color: color("grey", "lighten-9");
  }
}

.blue-color {
  .base {
    background-color: color("blue", "base");
  }

  .darken {
    background-color: color("blue", "darken");
  }

  .lighten {
    background-color: color("blue", "lighten");
  }
}

.green-color {
  .base {
    background-color: color("green", "base");
  }
}

.red-color {
  .base {
    background-color: color("red", "base");
  }
}

.orange-color {
  .base {
    background-color: color("orange", "base");
  }
}

.large-button {
  padding: $large-button-padding !important;
}

.small-button {
  padding:3px 24px !important;
  font-size: 1.3rem !important;
}

.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

input:focus {
  outline: 0;
}

.flex {
  @include flexbox;
}

.flex-wrap {
  @include flex-wrap(wrap);
}

.justify-between {
  @include justify-content(space-between);
}

.flex-col {
  @include flex-direction(column);
}

input,
select {
  color: color("grey", "lighten-2");
}

label,
mat-label {
  // font-size: 1.3rem;	
  // color: color("blue", "darken");
  color: #2B2B30;
  margin-bottom: 8px;
  font-size: 1.6rem;
  display: block;
  font-family: $font-medium;
  font-weight: 400;
}

.mat-checkbox-label {
  font-weight: $normal;
}

textarea.mat-input-element {
  border: 1px solid color("grey", "darken-2");
    padding: 1.8rem 1.8rem !important;
    border-radius: $form-fields-radius;
  min-height: 96px;
  max-height: 140px;
  margin-top: 0.7rem !important;
  color: color("grey", "lighten-2") !important ; 
}

textarea {
  border: 1px solid color("grey", "darken-2");
    padding: 0 1.8rem;
    border-radius: $form-fields-radius;
    min-height: 96px;
    max-height: 140px;
  margin-top: 0.7rem !important;
  color: color("grey", "lighten-2") !important;
}

mat-label {
  margin-bottom: 1rem;
}

.mat-form-field-appearance-legacy .mat-form-field-label {
  // top: 6.4rem !important;	
  // padding: 0 $margin-padding2;
  transform: none;
  top: 2.9rem !important;
  padding: 0 2.3rem;
}

.login .mat-form-field {
  display: block !important;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  display: none;
}

button.rounded {
  border-radius: $button-radius !important;
}

.cancel-btn {
  color: color("grey", "darken-1");
}

.red {
  background-color: color("red", "base");
}

.margin-right2 {
  margin-right: 2rem !important;
}
.mat-select-trigger {
  width: $width-full;
}

.mat-typography {

  .mat-form-field-appearance-legacy {
    .mat-form-field-infix {
      padding: 0;
      width: $width-full;
    }
    .mat-form-field-suffix {
      position: absolute;
      right: 20px;
      top: 18px;
      .mat-icon-button {
        .mat-icon {
          font-size: 22px;
          color: #2b2b30;
        }
      }
      svg.mat-datepicker-toggle-default-icon.ng-star-inserted {
        font-size: 22px;
        color: #2b2b30;
      }
    }
  }

  input,
  .mat-select {
    // border: 1px solid color("grey", "darken-2");
    border: 1px solid color("grey", "lighten-10");
    padding: 0 1.8rem;
    border-radius: $form-fields-radius;
    width: $width-full;
    display: block;
    height: 55px;
    font-size: 1.6rem;
    font-weight: 500;
    margin-top: 0 !important;

    &+span span {
      font-size: 1.6rem !important;
      color: color("grey", "lighten-14");
    }

    &:hover {
      border-color: color("grey", "darken");
      &+span span {
        color: color("grey", "darken-6");
      }
    }
  }

  .mat-form-field-label span {
    font-size: 1.6rem !important;
    color: color("grey", "lighten-14");
  } 
  
  .time-input {
    .mat-form-field-suffix {
      position: absolute;
      top: 16px;
      button {
        background: none;
        border: none;
        padding: 0;
        .mat-icon {
          font-size: 22px;
        }
      }
    }
  }

  .mat-select {
    padding: 17px 2rem 0;
    color: #2B2B30;
    font-size: 1.6rem;
    padding-top: 17px;
    border: 1px solid color("grey", "lighten-10");
    border-radius: $form-fields-radius;
    width: $width-full;
    display: block;
    height: 55px;
    margin-top: 0 !important;
    font-weight: 500;


    &+span span {
      font-size: 1.6rem !important;
      color: color("grey", "lighten-14");
    }

    &:hover {
      border-color: color("grey", "darken");
      &+span span {
        color: color("grey", "darken-6");
      }
    }

    .mat-select-trigger {
      height: 41px;
      padding: 0px;      
    }

    .mat-select-arrow {
      display: block;
      margin: 0;
      border: solid #2b2b30;
      border-width: 0 2px 2px 0;
      top: -14px;
      transform: rotate(45deg);
      padding: 0.3rem;
      position: relative;
    }
  }

  .mat-select-value {
    vertical-align: middle;
    // .mat-select-value-text {
    //   font-size: 1.6rem;
    // }
  }

  .mat-form-field {
    &.mat-focused {
      input, .mat-select {
        border-color: color("grey", "darken");
        &+span span {
          color: color("grey", "darken");
        }
      }
    }
    &.mat-form-field-disabled {
      input {
        color: color("grey", "lighten-17");
        background: color("grey", "lighten-16");
        border-color: color("grey", "lighten-16");
        opacity: 1;
        &+span span {
          color: color("grey", "lighten-17");
        }
      }
      .mat-select {
        color: color("grey", "lighten-17");
        background: color("grey", "lighten-16");
        border-color: color("grey", "lighten-16");
        &+span span {
          color: color("grey", "lighten-17");
        }
      }
    }
    .mat-form-field-subscript-wrapper {
      top: inherit !important;
      margin-top: 0 !important;
    }
    &.ew-input-md {
      input {
        height: 48px;
        font-size: 14px;
        padding: 0 1.6rem;
        border-radius: 0.4rem;
        &+span {
          span {
            font-size: 1.4rem !important;
          }
        }
      }
      .mat-select {
        height: 48px;
        font-size: 1.4rem;
        padding: 17px 1.6rem 0;
        border-radius: 0.4rem;
        .mat-select-trigger {
          height: 30px;
          .mat-select-arrow {
            top: -11px;
          }
        }
        &+span {
          span {
            font-size: 1.4rem !important;
          }
        }
      }
      &.mat-form-field-appearance-legacy .mat-form-field-label {
        top: 2.6rem !important;
        padding: 0 1.8rem;
      }
      &.mat-form-field-can-float.mat-form-field-should-float {
        .mat-form-field-label {
          transform: translateY(-0.77em) scale(0.96) !important;
          -webkit-transform: translateY(-0.77em) scale(0.96) !important;
          -moz-transform: translateY(-0.77em) scale(0.96) !important;
          padding: 0 1.8rem;
        }
      }
    }
    &.ew-input-sm {
      input {
        height: 40px;
        font-size: 14px;
        padding: 0 1.6rem;
        border-radius: 0.4rem;
        &+span {
          span {
            font-size: 1.4rem !important;
          }
        }
      }
      .mat-select {
        height: 40px;
        font-size: 1.4rem;
        padding: 12px 1.6rem 0;
        border-radius: 0.4rem;
        .mat-select-trigger {
          height: 30px;
          .mat-select-arrow {
            top: -9px;
          }
        }
        &+span {
          span {
            font-size: 1.4rem !important;
          }
        }
      }
      &.mat-form-field-appearance-legacy .mat-form-field-label {
        top: 2.2rem !important;
        padding: 0 1.8rem;
      }
      &.mat-form-field-can-float.mat-form-field-should-float {
        .mat-form-field-label {
          transform: translateY(-0.62em) scale(0.86) !important;
          -webkit-transform: translateY(-0.62em) scale(0.86) !important;
          -moz-transform: translateY(-0.62em) scale(0.86) !important;
          padding: 0 1.8rem;
        }
      }
    }
    &.ew-insider-label {
      &.ew-input-md {
        input {
          padding-top: 19px;
        }
      }
      &.ew-input-sm {
        input {
          padding-top: 15px;
        }
      }
    }
    .mat-placeholder-required {
      color: $red-lighten;
    }
  }

  .with-label-design {
    &.mat-form-field {
      &.mat-form-field-appearance-legacy {
        .mat-form-field-label {
          top: 5.9rem !important;
        }
      }
      &.ew-input-md {
        &.mat-form-field-appearance-legacy {
          .mat-form-field-label {
            top: 5.4rem !important;
          }
        }
      }
      &.ew-input-sm {
        &.mat-form-field-appearance-legacy {
          .mat-form-field-label {
            top: 5rem !important;
          }
        }
      }
    }
  }

  .ew-input-md {
    &.mat-form-field-appearance-legacy {
      .mat-form-field-suffix {
        right: 18px;
        top: 13px;
        .mat-icon-button {
          .mat-icon {
            font-size: 21px;
          }
        }
        svg.mat-datepicker-toggle-default-icon.ng-star-inserted {
          font-size: 22px;
          color: #2b2b30;
        }
      }
    }
    .mat-form-field-label span {
      font-size: 1.4rem !important;
    }
    &.time-input {
      .mat-form-field-suffix {
        top: 14px;
        button {
          .mat-icon {
            font-size: 21px;
          }
        }
      }
    }
    label, mat-label {
      font-size: 1.4rem;
      padding: 0;
      margin-bottom: 6px;
    }
  }

  .ew-input-sm {
    &.mat-form-field-appearance-legacy {
      .mat-form-field-suffix {
        right: 18px;
        top: 10px;
        .mat-icon-button {
          .mat-icon {
            font-size: 19px;
          }
        }
        svg.mat-datepicker-toggle-default-icon.ng-star-inserted {
          font-size: 22px;
          color: #2b2b30;
        }
      }
    }
    &.time-input {
      .mat-form-field-suffix {
        top: 10px;
        button {
          .mat-icon {
            font-size: 20px;
          }
        }
      }
    }
    .mat-form-field-label span {
      font-size: 1.4rem !important;
    }
    label, mat-label {
      font-size: 1.4rem;
      padding: 0;
      margin-bottom: 6px;
    }
  }  

}

.owl-dt-timer-content .owl-dt-timer-input, .owl-dt-container-control-button .owl-dt-control-button-content {
  color: color("grey", "darken");
}

input.input2,
.mat-select.input2 {
  background-color: color("grey", "lighten-8");
  border: 0;
  margin-bottom: 1.5rem;

  &+span span {
    font-size: 1.4rem !important;
    color: color("grey", "darken");
  }
}

.search {
  @include relative();

  .material-icons {
    @include absolute(top 32px left 15px)
  }

  input {
    width: 450px;
    border: 0;
    @include border-radius(50px);
    padding: 15px 15px 15px 45px;
    background-color: color("grey", "lighten-8");
  }
}

.common-slider-ew-spiner {
  padding: 15px 0 8px;

}




.color-picker {
  box-shadow: 0 3px 6px rgba(0,0,0,.16); 
  @include border-radius($form-fields-radius);
  border:  none !important;
  .saturation-lightness {
     @include border-radius(0 18px 0 0 !important);
  }
  .type-policy {
    top: 226px !important;
  }
  .cmyk-text .box input, .hsla-text .box input, .rgba-text .box input,  .value-text .box input {
    padding: 1px !important;
  }
  .hex-text .box input {
    padding: 1px !important;
  }
}









.mat-typography {
  .ew-insider-label {
    margin-top: 0;
    input, .mat-select {
      border: 1px solid color("grey", "lighten-10");
      margin-top: 0 !important;
      padding: 0 2rem;
      color: color("grey", "darken");
      font-weight: $medium;
      font-size: 1.6rem;
      padding-top: 17px;
      .mat-select-value {
        vertical-align: initial;
        .mat-select-value-text {
          font-size: 1.6rem !important;
          position: relative;
          top: 9px;
        }
      } 
      .mat-select-trigger {
        height: 41px;
        padding: 0;
      }
      // &:hover {
      //   border-color: color("blue", "primary-color");
      // }
      &:hover {
        border-color: color("grey", "darken");
        &+span span {
          color: color("grey", "darken-6");
        }
      }
    }
    &.mat-form-field-appearance-legacy {
      .mat-form-field-label {
        top: 2.9rem !important;
      }
      .mat-form-field-infix {
        padding: 0 0 0;
      }
    }
    input + span span, .mat-select + span span {
      font-size: 1.4rem !important;
      color: #a0a7be;
    } 
    .mat-form-field-wrapper {
      padding-bottom: 30px;
  }
  &.mat-focused {
    input, .mat-select {
      border-color: color("grey", "darken");
      &+span span {
        color: color("grey", "darken");
      }
    }
  }
  &:hover span.ew-edit-field {
    display: block;
}
span.ew-edit-field {
  @include absolute(top 19px right 22px);
  font-size: 1.3rem;
  background: #fff;
  color: color("blue", "primary-color");
  font-weight: $medium;
  display: none;
  cursor: pointer;
}
.mat-select-arrow {
  display: block;
  margin: 0;
  border: solid #2b2b30;
  border-width: 0 2px 2px 0;
  top: -14px;
  transform: rotate(45deg);
  padding: 0.3rem;
  position: relative;
}
&.mat-form-field.mat-form-field-disabled {
  input {
    border-color: #E8E8EA;
  }
}
  }
  .mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-0.79em) scale(0.87) !important;
    -webkit-transform: translateY(-0.79em) scale(0.87) !important;
    -moz-transform: translateY(-0.79em) scale(0.87) !important;
  }
} 




.ew-spiner-loader {
  @include flexbox;
  position: absolute !important;
  right: 0;
  svg {
    width: 13px !important;
    height: 13px !important;
  }
  mat-spinner.mat-spinner {
    width: 13px !important;
    height: 13px !important;
    margin-right: 4px;
    @include relative(top -1px)
  }
  .mat-progress-spinner circle, .mat-spinner circle {
    stroke: #2B2B30;
  }
  .mat-button-wrapper {
    @include flexbox;
    @include align-items(center);
  }
  svg.status-done {
    margin-right: 6px;
}
}

.mat-typography  {
  .ew-insider-label {
    &.mat-form-field-can-float.mat-form-field-should-float {
      .mat-form-field-label {
        padding: 0 2.3rem;
      }
    } 
  }
  
}

.ew-insider-label {
  .textarea, textarea.mat-input-element {
    border: 1px solid #e8eaf0;
    margin: 0 !important;
  }
}

// ELEVATION 

.box-shadow {
  @include box-shadow(0px, 4px, 48px, #2b2b3014);
}

.box-shadow-large {
  @include box-shadow(0px, 4px, 32px, #2b2b303d);
}

.box-shadow-modal {
  @include box-shadow(0px, 12px, 20px, #0d0e213d);
}

.search-input-filter {
  border-radius: 8px;
  background: white;
  position: relative;
  .search-icon-template {
    position: absolute;
    left: 20px;
    top: 16px;
    color: #707070;
  }
  input {
    padding: 0 54px;
    &:disabled {
      color: color("grey", "lighten-17");
      background: color("grey", "lighten-16");
      border-color: color("grey", "lighten-16");
    }
  }
  .enter {
    position: absolute;
    right: 27px;
    top: 16px;
    color: #2B2B30;
    cursor: pointer;
  }
  &.ew-input-md {
    input {
      height: 48px;
      font-size: 15px;
    }
    .search-icon-template {
      top: 14px;
      mat-icon {
        font-size: 21px;
      }
    }
    .enter {
      top: 14px;
      mat-icon {
        font-size: 22px;
      }
    }
  }
  &.ew-input-sm {
    input {
      height: 40px;
      font-size: 14px;
    }
    .search-icon-template {
      top: 9px;
      mat-icon {
        font-size: 21px;
      }
    }
    .enter {
      top: 9px;
      mat-icon {
        font-size: 21px;
      }
    }
  }
}

.attention-box {
  border-radius: 8px;
  padding: 24px;
  width: 100%;
  max-width: 340px;
  @media screen and (max-width: $large-desktop-middle-down) {
    max-width: 335px;
  }
  .attention-box-header {
    display: flex;
    align-items: center;
    h5 {
      margin: 0 0 0 11px;
      word-break: break-word;
      white-space: pre-wrap;
    }
  }
  .attention-box-content {
    margin-top: 11px;
    p {
      font-size: 14px;
      margin: 0;
      line-height: 22px;
      word-break: break-word;
      white-space: pre-wrap;
    }
  }
}

.toast {
  min-height: 48px;
  padding: 8px 15px;
  display: inline-flex;
  align-items: center;  
  border-radius: 8px;
  flex-wrap: wrap;
  .mat-icon {
    font-size: 24px;
    margin-right: 12px;
    color: #2B2B30;
    @media screen and (max-width: $vsmall-screen-down) {
      font-size: 22px;
      margin-right: 8px;
    }
  }
  .selected-video-title {
    color: #2B2B30;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-right: 12px;
    @media screen and (max-width: $vsmall-screen-down) {
      font-size: 14px;
      line-height: 20px;
      margin-right: 8px;
    }
  }
  .date-time {
    font-size: 14px;
    line-height: 24px;
    @media screen and (max-width: $vsmall-screen-down) {
      font-size: 12px;
      line-height: 18px;
      width: 100%;
      padding-left: 32px;
    }
  }
}

.alert-box {
  width: 100%;
  border-radius: 4px;
  min-height: 40px;
  color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 8px 32px;
  position: relative;
  span, u {
    font-size: 14px;
    word-break: break-word;
    white-space: pre-wrap;
  }
  span {
    margin-right: 5px;
  }
  .close {
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    height: 20px;
    position: absolute;
  }
}

.alert-box-subtle {
  width: 100%;
  border-radius: 4px;
  height: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 2px 32px;
  position: relative;
  span, u {
    font-size: 14px;
  }
  span {
    margin-right: 5px;
  }
  .close {
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    height: 20px;
    position: absolute;
  }
}

.padding-y-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.padding-0 {
  padding: 0 !important;
}

.mat-icon.upload-icon-uploader {
  color: #178EFC;
  font-size: 3.6rem;
  width: 55px;
  height: 55px;
  display: flex;
  -moz-justify-content: center;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  margin: 0 auto;
  background: #e7f3ff;
}

.error-illustration {
  text-align: center;
  span {
    font-size: 32px;
    color: #2B2B30;
    display: block;
    text-align: center;
    margin-bottom: 25px;
  }
  &.linked-assets {
    text-align: left;
    span {
      text-align: left;
    }
  }
}

// CARDS 

.event-video-column {
  &.ew-card-wrapper {
    padding: 0 0 8px;
    border-radius: 8px;
    max-width: 402px;
    border: 1px solid #E8EAF0;
    cursor: pointer;
    &:hover {
      box-shadow: 0px 4px 32px #2b2b303d;
    }
    &.selected {
      span.selection-hover-selected {
        svg.ew-selected-element {
          display: inline-block;
        }
      }
    }
    span.selection-hover-selected {
      @include absolute(top 17px left 13px);  
      svg {
        @include absolute;
      }
      svg.ew-selected-element {
        display: none;
      }
      .ew-hover-element path {
        fill: #fff;
      }
    }
    .event-video-placeholder {
      width: 100%;
      height: auto;
      border-radius: 8px;
      overflow: hidden;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      position: relative;
      min-height: 226px;
      display: flex;
      align-items: center;
      background: #000000;
      @media screen and (max-width: $vsmall-screen-down) {
        min-height: 196px;
      }
      .default-video-img {
        width: 100%;
        position: absolute;
        top: 0;
        height: 100%;
        display: flex;
        align-items: center;
        -moz-justify-content: center;
        justify-content: center;
        img {
          width: 40px !important;
        }
      }
      .video-full-time {
        position: absolute;
        right: 8px;
        bottom: 8px;
        background: #2B2B30A6;
        color: #fff;
        font-size: 14px;
        border-radius: 4px;
        height: 25px;
        line-height: 25px;
        padding: 0 5px;
      }
    }
    .video-description {
      position: relative;
      .title-event-gallary {
        max-width: calc(100% - 50px);
        padding-left: 15px;
        margin-bottom: -2px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 100%;
        font-weight: 500;
        display: block;
        margin-top: 13px;
        font-size: 14px;
      }
      .ew-event-schedule-date-time {
        max-width: calc(100% - 50px);
        padding-left: 15px;
        display: block;
        position: relative;
        overflow: hidden;
        padding-bottom: 3px;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 1.3rem;
        .material-icons {
          font-size: 18px;
          transform: rotate(0.03deg);
          margin-right: 3px;
          position: relative;
          top: 4px;
        }
      }
      .video-icon-placeholder {
        position: absolute;
        right: 8px;
        top: 5px;
      }
    }
  }
}

.px-20 {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.info-note {
  display: inline-flex;
  border-radius: 8px;
  padding: 7px 18px;
  background: #fdf4cd;
  p {
    font-size: 12px;
    line-height: 1.4;
    font-weight: 500;
    margin: 0;
  }
}

.mr-auto {
  margin-right: auto !important;
}

.ml-unset {
  margin-left: unset !important;
}