// &.primary {
//   &.contained {
//     background-color: #603ADE;
//     color: #fff;

//     &:hover {
//       background-color: color('purple', 'lighten');
//     }

//     &:disabled {
//       background-color: rgba(50, 71, 92, 0.12);
//       color: rgba(50, 71, 92, 0.26);
//     }
//   }

//   &.text {
//     background-color: transparent;
//     color: color('purple', 'lighten');;

//     &:hover {
//       background-color: rgba(102, 108, 255, 0.05);
//     }

//     &:disabled {
//       color: rgba(50, 71, 92, 0.26);
//     }
//   }
// }

// &.secondary {
//   &.contained {
//     background-color: #969696;
//     color: #fff;

//     &:hover {
//       background-color: #596274;
//     }

//     &:disabled {
//       background-color: rgba(50, 71, 92, 0.12);
//       color: rgba(50, 71, 92, 0.26);
//     }
//   }

//   &.text {
//     background-color: transparent;
//     color: color("grey", "lighten-4");

//     &:hover {
//       background-color: rgba(109, 120, 141, 0.05);
//     }

//     &:disabled {
//       color: rgba(50, 71, 92, 0.26);
//     }

//   }

//   &.outlined {
//     background-color: transparent;
//     border: 1px solid rgba(109, 120, 141, 0.5);

//     &:hover {
//       background-color: rgba(109, 120, 141, 0.05);
//     }
//   }
// }

// &.tertiary {
//   background-color: transparent;
//   border: 1px solid;

//   &.contained {
//     border-color: rgba(102, 108, 255, 0.5);
//     color: color('purple', 'lighten');;

//     &:hover {
//       background-color: rgba(102, 108, 255, 0.05);
//     }
//   }

//   &.text {
//     border-color: rgba(109, 120, 141, 0.5);
//     color: color("grey", "lighten-4");

//     &:hover {
//       background-color: rgba(109, 120, 141, 0.05);
//       ;
//     }
//   }

//   &:disabled {
//     color: rgba(50, 71, 92, 0.26);
//   }
// }

// &.text-light {
//   height: 30px !important;
//   color: color('purple', 'loghten') !important;
//   font-size: 13px;
//   display: flex;
//   align-items: center;
//   background-color: rgba(102, 108, 255, 0.05);
//   border: none;
//   line-height: 22px;
//   padding: 0 8px !important;
//   &:hover{
//     background-color: #F7F7FF !important;
//   }
// }
// .mat-mdc-button, .mat-mdc-outlined-button {
//   --mat-mdc-button-persistent-ripple-color: transparent !important;
// }
.mdc-button ,.mat-mdc-button.mat-mdc-button-base {
  &.small {
    height: 2rem;
    padding: 0 0.5rem;
    font-size: 0.75rem;
  }
  &.small-font-14 {
    height: 2rem;
    padding: 0 0.5rem;
    font-size: .875rem;
    font-weight: 500;
  }
  &.small-font-16 {
    height: 2rem;
    padding: 0 0.5rem;
    font-size: 1rem;
    font-weight: 500;
  }
  &.medium {
    height: 2.5rem;
    padding: 0 1.5rem;
  }

  &.large {
    height: 2.625rem;
    padding: 0 1.5rem;
  }

  &.text-grey-darken{
    color: $text-grey-darken !important;  //#2B2B30
  }
  //link-btn
  &.mat-mdc-button.link-text {
    height: 1.5rem;
    padding: 0.25rem 0.5rem;
    color: color("blue", "darken-3");

    &:hover {
      --mat-mdc-button-persistent-ripple-color: color("shades", "transparent");
    }
  }
  //btn-icon
  &.icon-text {
    height: 2rem;
    .mat-icon {
      width: 1rem;
      height: 1rem;
      font-size: 1rem;
    }
    &.primary {
      background-color: color("primary", "main");
      color: color("shades", "white");
      .mat-icon {
        color: color("shades", "white");
      }
    }
  }
}

.mdc-icon-button {
  &.mat-mdc-icon-button .mat-mdc-button-persistent-ripple {
    border-radius: 0;
  }
  &.light-bg {
    &.mat-warn {
      background-color: rgb(color("red", "lighten-3"), 0.2);
      .mat-icon {
        color: color("red", "darken-1");
      }
    }
    &.rounded {
      border-radius: 0.25rem;
    }
    &.rounded-1 {
      border-radius: 0.175rem;
    }
    &.small {
      height: 2rem;
      min-width: 2rem;
      width: 2rem;
      padding: 0;

      .mat-icon {
        width: 1.0625rem;
        height: 1.0625rem;
        font-size: 1.0625rem;
      }
    }
    &.medium {
      height: 2.5rem;
      padding: .5rem;
    }
  }
  &.x-small {
    height: 2rem;
    width: 2rem;
    padding: 0.3125rem;
    .mat-icon {
      color: color("shades", "black");
    }
  }
}

.mat-mdc-icon-button.mat-mdc-button-base{
  &.small {
    height: 2rem;
    min-width: 2rem;
    width: 2rem;
    padding: 0;

    .mat-icon {
      width: 1.0625rem;
      height: 1.0625rem;
      font-size: 1.0625rem;
    }
  }
}


//upload btn
.upload-btn{
  height: 2.25rem;
  border: .0625rem solid $basic-border;
}