// 1. mat-chip
// 2. mat-menu-position-right

// 1. mat-chip
.basic-chip.mat-mdc-chip {
  background-color: #ffffff33 !important;
  border-radius: 4px;
  height: 24px;

  .mat-mdc-chip-action {
    padding: 0 8px;

    .mat-mdc-chip-action-label {
      color: color("shades", "white");
    }
  }
}

// 2. mat-menu-position-right
.right-menu+* .cdk-overlay-pane+* div {
  transform: translateX(67px) !important;

  .mat-menu-panel {
    max-width: inherit !important;
    margin-top: 10px !important;
  }
}


// tooltip 
.tippy-box {
  background-color: #ffffff;
  box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.1);
  border-radius: 8px;

  .tippy-arrow {
    color: #ffffff;
  }

  .tippy-content {
    padding: 1rem .9375rem;
    width: 16.25rem;

    .details {
      color: #405189;
      margin-top: .5rem;
      line-height: 161.52%;
    }

    .heading {
      color: #000000;
      font-size: 1rem;
      padding: .75rem .625rem;
      background-color: #F3F1FF;
      border-radius: 4px;
      font-weight: 500;
    }

  }
}