// LIST
// 1. tooltip
// 2. form with sample
// 3. simple table with even background


// tooltip
.tippy-box {
  background-color: #ffffff;
  box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.1);
  border-radius: 8px;

  .tippy-arrow {
    color: var(--surface-bg);
  }

  .tippy-content {
    padding: 1rem 0.9375rem;
    width: 16.25rem;
    background-color: var(--surface-bg);

    .details {
      color: var(--on-surface);
      margin-top: 0.5rem;
      line-height: 161.52%;
    }
  }
}

// form with sample
.form-with-sample {
  padding: 2.1875rem 1.125rem 2.1875rem 2.5rem;
  // .close-icon{
  //   width: 2.5rem;
  //   height: 2.5rem;
  //   border-radius: 50px;
  //   background-color: color('red' , 'lighten-4');
  //   top: -0.25rem;
  //   right: -0.25rem;
  // }
  .form-left {
    width: calc(100% - 19rem);
    height: fit-content;
    .header-section {
      border-bottom: 0.0625rem solid color("grey", "lighten-7");
      .title-left{
        padding-bottom: 1.125rem;
      }
    }
    .form-container {
      margin-top: 0.875rem;
    }
    .description-box{
      textarea{
        min-height: 4.5rem;
      }
    }
  }
  .sample-right {
    width: 18.8125rem;
    .inner-block{
      padding: .875rem 0 .875rem ;
      border-radius: .375rem;
      background-color: color('grey' , 'darken-9');
      .title{
        border-bottom: 0.0625rem solid color("grey", "lighten-7");
        padding: 1rem .875rem .75rem 1.5rem;
      }
      .info-wrapper{
        padding: 0 .875rem 0 1.5rem;
      }
    }
  }
}

// simple table with even background
table {
  text-align: left;
  &.odd-bg-color {
    th,
    td {
      padding: 0.75rem 1rem;
    }
    border-spacing: 0;
    tr:nth-child(even) {
      background-color: $primay-light-bg-color;
    }
  }

  &.simple-table {
    th,
    td {
      padding: 0.75rem 1rem .75rem .5rem;
    }

    border-spacing: 0;
  }

  &.mat-mdc-table {
    &.primary-lighten-bg {
      background-color: color("primary", "lighten-4");
      .mdc-data-table__header-row{
        height: 2.25rem;
      }
      .mdc-data-table__row{
        height: 2.4375rem;
      }
      thead{
        tr{
          th{
            padding: 0 1.5rem;
            &:nth-last-child(1) {
            text-align: right;
            }
          }
        }
      }
        tbody{
          tr{
            td{
              padding: 0 1.5rem;
              font-size: 15px;
              &:nth-last-child(1) {
              text-align: right;
              }
            }
          }
        }
      
      .mdc-data-table__cell,
      .mdc-data-table__header-cell {
        border-bottom-width: 0;
      }

    }
  }
}