// List
// 1. Flexbox
// 2. Width & Height
// 3. Position
// 4. Utility Classes
// 5. Angular Material

//disable docs controls
* {
  box-sizing: border-box;
  // font-family: "Roboto", sans-serif !important;
}

html {
  font-size: 16px !important;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a {
  cursor: pointer;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

input {
  width: 100%;
  height: 100% !important;
  background-color: transparent;
  border: none !important;
  &:focus {
    border: none;
    outline: none;
  }
}
// Material Symbols Outlined
.material-symbols-outlined {
  font-family: "Material Symbols Rounded" !important;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

// Material Symbols filled
.material-symbols-filled {
  font-family: "Material Symbols Rounded" !important;
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
}
.m-0 {
  margin: 0 !important;
}
.search-icon {
  color: rgba(50, 71, 92, 0.54);
}
.icon-btn {
  .mat-icon {
    height: 1.5rem !important;
    width: 1.5rem !important;
    font-size: 1.5rem !important;
  }
}
.mat-mdc-form-field {
  margin-bottom: 0.625rem;
}
label {
  margin: 0;
}
.mat-icon {
  color: rgba(50, 71, 92, 0.54);
}

::-webkit-scrollbar {
  width: 0.3125rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f3f3f3;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f3f3f3;
}

// global border classes
.border-1 {
  border-radius: 0.25rem;
}
.border-2 {
  border-radius: 0.5rem;
}
.border-3 {
  border-radius: 0.75rem;
}
.border-4 {
  border-radius: 1rem;
}
.basic-border {
  border: 0.0625rem solid #ededed;
}
// font-weight
.fw-500 {
  font-weight: 500 !important;
}
.fw-600 {
  font-weight: 600 !important;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

// ATOMIC SCSS
// In Atomic CSS or SCSS, we break each css property in one single class (similar to that of tailwind). This helps in reducing the css size significantly!

// *****NOTE- The media query for atomic css is still pending.

// 1. flexbox
.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.horizontal {
  flex-direction: row !important;
}

.vertical {
  flex-direction: column !important;
}

.inline-flex {
  display: inline-flex;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: flex-end;
}

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-even {
  justify-content: space-evenly;
}

.justify-around {
  justify-content: space-around;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-wrap {
  flex-wrap: wrap;
}
// 2. Width & Height

.h-screen {
  height: 100vh;
}
.h-auto {
  height: auto;
}
.h-full {
  height: 100%;
}
.w-full {
  width: 100%;
}
.w-half {
  width: 44%;
}
.w-60p{
  width: 60%;
}
.w-40p{
  width: 40%;
}
@for $i from 0 through 100 {
  .width-#{$i},
  .w-#{$i} {
    width: $i * $dimensions !important;
  }

  .height-#{$i},
  .h-#{$i} {
    height: $i * $dimensions !important;
  }
}

// 3. Position
.relative {
  position: relative !important;
}

.absolute {
  position: absolute !important;
}

.inherit {
  position: inherit;
}

.fixed {
  position: fixed;
}
.sticky {
  position: sticky;
}
.inset-0 {
  inset: 0;
}
.top-0 {
  top: 0;
}
.right-0 {
  right: 0;
}
.bottom-0 {
  bottom: 0;
}
.left-0 {
  left: 0;
}
.position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.vertical-center {
  top: 50%;
  transform: translateY(-50%);
}
.horizontal-center {
  left: 50%;
  transform: translateX(-50%);
}

// 4. Display

.block {
  display: block !important;
}
.inline {
  display: inline;
}
.inline-block {
  display: inline-block;
}

// 5. Overflow
.overflow-auto {
  overflow: auto;
}
.overflow-scroll {
  overflow: scroll;
}
.overflow-hidden {
  overflow: hidden;
}
.overflow-visible {
  overflow: visible;
}

// SPACING
// Auto Margin
.m-auto {
  margin: auto;
}
.my-auto {
  margin: auto 0;
}
.mx-auto {
  margin: 0 auto;
}
.ml-auto {
  margin-left: auto;
}
.mr-auto {
  margin-right: auto;
}
.mt-auto {
  margin-top: auto;
}
.mb-auto {
  margin-bottom: auto;
}
// Margin Loop
@for $i from 0 through 12 {
  .mt-#{$i} {
    margin-top: $i * $spacing !important;
  }

  .mr-#{$i} {
    margin-right: $i * $spacing !important;
  }

  .mb-#{$i} {
    margin-bottom: $i * $spacing !important;
  }

  .ml-#{$i} {
    margin-left: $i * $spacing !important;
  }

  .my-#{$i} {
    margin-top: $i * $spacing !important;
    margin-bottom: $i * $spacing !important;
  }

  .mx-#{$i} {
    margin-right: $i * $spacing !important;
    margin-left: $i * $spacing !important;
  }

  .ml-n-#{$i} {
    margin-left: -$i * $spacing !important;
  }
  .m-#{$i} {
    margin: $i * $spacing !important;
  }
}

// Padding Loop
@for $i from 0 through 12 {
  .p-#{$i} {
    padding: $i * $spacing !important;
  }

  .pt-#{$i} {
    padding-top: $i * $spacing !important;
  }

  .pr-#{$i} {
    padding-right: $i * $spacing !important;
  }

  .pb-#{$i} {
    padding-bottom: $i * $spacing !important;
  }

  .pl-#{$i} {
    padding-left: $i * $spacing !important;
  }

  .py-#{$i} {
    padding-top: $i * $spacing !important;
    padding-bottom: $i * $spacing !important;
  }

  .px-#{$i} {
    padding-right: $i * $spacing !important;
    padding-left: $i * $spacing !important;
  }
}

// 4. Utility Classes

.pointer {
  cursor: pointer;
}
.main-bg {
  background-color: var(--surface-bg);
  transition: $sidebar-transition;
  transition-property: background-color;
}
.secondary-light-bg{
  background-color: var(--secondary-light) !important;
}
.primary-light-bg {
  background-color: var(--primary-light) //#F3F1FF
}
.primary-dark-1-bg {
  background-color: color("primary", "dark-1"); //#2C2466
}
.primary-light-6-bg {
  background-color: color("primary", "lighten-6"); //#7868e61a
}
.primary-bg {
  background-color: color("primary", "main"); //#7868E6
}
.neutral-black-bg{
  background-color: color("grey" , "darken-7"); //#1B1B1E
}
.neutral-dark-gray-bg{
  background-color: color("grey" , "darken-8"); //#49494C
}
.neutral-gray-bg{
  background-color: color("grey" , "form-caption"); //#6C6C6C
}
.neutral-gray-Outline-bg{
  background-color: color("grey" , "Outline"); //#7A797D
}
.neutral-gray-light-bg{
  background-color: color("grey" , "lighten-9"); //#AAAAAA
}
.neutral-gray-off-bg{
  background-color: color("grey" , "off"); //#D4D4D5
}
.neutral-gray-stroke-bg{
  background-color: color("grey" , "lighten-9"); //#E5E7EB
}
.neutral-gray-off-white-bg{
  background-color: color("grey" , "off-white"); //#D4D4D5
}
.green-success-bg{
  background-color: color("green" , "success"); //#008F5D
}
.green-lighten-100-bg{
  background-color: color("green" , "lighten-100"); //#CEF8E0
}
.green-lighten-200-bg{
  background-color: color("green" , "lighten-200"); //#ADF4CE
}
.green-lighten-300-bg{
  background-color: color("green" , "lighten-300"); //#89ECBC
}
.green-lighten-400-bg{
  background-color: color("green" , "lighten-400"); //#67DEA8
}
.green-lighten-500-bg{
  background-color: color("green" , "lighten-500"); //#49CC93
}
.green-lighten-600-bg{
  background-color: color("green" , "lighten-600"); //#2FB880
}
.green-lighten-700-bg{
  background-color: color("green" , "lighten-700"); //#15A46E
}
.green-lighten-900-bg{
  background-color: color("green" , "lighten-900"); //#007A4D
}
.green-lighten-1000-bg{
  background-color: color("green" , "lighten-1000"); //#00653E
}
.blue-bg{
  background-color: color("blue" , "blue"); //#3892F3
}
.blue-lighten-100-bg{
  background-color: color("blue" , "lighten-100"); //#E0F2FF
}
.blue-lighten-200-bg{
  background-color: color("blue" , "lighten-200"); //#CAE8FF
}
.blue-lighten-300-bg{
  background-color: color("blue" , "lighten-300"); //#B5DEFF
}
.blue-lighten-400-bg{
  background-color: color("blue" , "lighten-400"); //#96CEFD
}
.blue-lighten-500-bg{
  background-color: color("blue" , "lighten-500"); //#78BBFA
}
.blue-lighten-600-bg{
  background-color: color("blue" , "lighten-600"); //#59A7F6
}
.blue-lighten-800-bg{
  background-color: color("blue" , "lighten-800"); //#147AF3
}
.blue-lighten-900-bg{
  background-color: color("blue" , "lighten-900"); //#0265DC
}
.blue-lighten-1000-bg{
  background-color: color("blue" , "lighten-1000"); //#0054B6
}
.orange-bg{
  background-color: color("orange" , "orange"); //#F68524
}
.orange-lighten-100-bg{
  background-color: color("orange" , "lighten-100"); //#FFECCC
}
.orange-lighten-200-bg{
  background-color: color("orange" , "lighten-200"); //#FFDFAD
}
.orange-lighten-300-bg{
  background-color: color("orange" , "lighten-300"); //#FDD291
}
.orange-lighten-400-bg{
  background-color: color("orange" , "lighten-400"); //#FFBB63
}
.orange-lighten-500-bg{
  background-color: color("orange" , "lighten-500"); //#FFA037
}
.orange-lighten-600-bg{
  background-color: color("orange" , "lighten-600"); //#F68511
}
.orange-lighten-700-bg{
  background-color: color("orange" , "lighten-700"); //#E46F00
}
.orange-lighten-800-bg{
  background-color: color("orange" , "lighten-800"); //#CB5D00
}
.orange-lighten-900-bg{
  background-color: color("orange" , "lighten-900"); //#B14C00
}
.orange-lighten-1000-bg{
  background-color: color("orange" , "lighten-1000"); //#953D00
}
.red-bg{
  background-color: color("red" , "darken-2"); //#EA3829
}
.red-lighten-100-bg{
  background-color: color("red" , "lighten-100"); //#FFEBE7
}
.red-lighten-200-bg{
  background-color: color("red" , "lighten-200"); //#FFDDD6
}
.red-lighten-300-bg{
  background-color: color("red" , "lighten-300"); //#FFCDC3
}
.red-lighten-400-bg{
  background-color: color("red" , "lighten-400"); //#FFB7A9
}
.red-lighten-500-bg{
  background-color: color("red" , "lighten-500"); //#FF9B88
}
.red-lighten-600-bg{
  background-color: color("red" , "lighten-600"); //#FF7C65
}
.red-lighten-700-bg{
  background-color: color("red" , "lighten-700"); //#F75C46
}
.red-lighten-800-bg{
  background-color: color("red" , "lighten-800"); //#EA3829
}
.red-lighten-900-bg{
  background-color: color("red" , "lighten-900"); //#D31510
}
.red-lighten-1000-bg{
  background-color: color("red" , "lighten-1000"); //#B40000
}
.neutral-black-bg{
  background-color: color("grey" , "darken-7"); //#1B1B1E
}
.neutral-dark-gray-bg{
  background-color: color("grey" , "darken-8"); //#49494C
}
.neutral-gray-bg{
  background-color: color("grey" , "form-caption"); //#6C6C6C
}
.neutral-gray-Outline-bg{
  background-color: color("grey" , "Outline"); //#7A797D
}
.neutral-gray-light-bg{
  background-color: color("grey" , "lighten-9"); //#AAAAAA
}
.neutral-gray-off-bg{
  background-color: color("grey" , "off"); //#D4D4D5
}
.neutral-gray-stroke-bg{
  background-color: color("grey" , "lighten-9"); //#E5E7EB
}
.neutral-gray-off-white-bg{
  background-color: color("grey" , "off-white"); //#D4D4D5
}
.green-success-bg{
  background-color: color("green" , "success"); //#008F5D
}
.green-lighten-100-bg{
  background-color: color("green" , "lighten-100"); //#CEF8E0
}
.green-lighten-200-bg{
  background-color: color("green" , "lighten-200"); //#ADF4CE
}
.green-lighten-300-bg{
  background-color: color("green" , "lighten-300"); //#89ECBC
}
.green-lighten-400-bg{
  background-color: color("green" , "lighten-400"); //#67DEA8
}
.green-lighten-500-bg{
  background-color: color("green" , "lighten-500"); //#49CC93
}
.green-lighten-600-bg{
  background-color: color("green" , "lighten-600"); //#2FB880
}
.green-lighten-700-bg{
  background-color: color("green" , "lighten-700"); //#15A46E
}
.green-lighten-900-bg{
  background-color: color("green" , "lighten-900"); //#007A4D
}
.green-lighten-1000-bg{
  background-color: color("green" , "lighten-1000"); //#00653E
}
.blue-bg{
  background-color: color("blue" , "blue"); //#3892F3
}
.blue-lighten-100-bg{
  background-color: color("blue" , "lighten-100"); //#E0F2FF
}
.blue-lighten-200-bg{
  background-color: color("blue" , "lighten-200"); //#CAE8FF
}
.blue-lighten-300-bg{
  background-color: color("blue" , "lighten-300"); //#B5DEFF
}
.blue-lighten-400-bg{
  background-color: color("blue" , "lighten-400"); //#96CEFD
}
.blue-lighten-500-bg{
  background-color: color("blue" , "lighten-500"); //#78BBFA
}
.blue-lighten-600-bg{
  background-color: color("blue" , "lighten-600"); //#59A7F6
}
.blue-lighten-800-bg{
  background-color: color("blue" , "lighten-800"); //#147AF3
}
.blue-lighten-900-bg{
  background-color: color("blue" , "lighten-900"); //#0265DC
}
.blue-lighten-1000-bg{
  background-color: color("blue" , "lighten-1000"); //#0054B6
}
.orange-bg{
  background-color: color("orange" , "orange"); //#F68524
}
.orange-lighten-100-bg{
  background-color: color("orange" , "lighten-100"); //#FFECCC
}
.orange-lighten-200-bg{
  background-color: color("orange" , "lighten-200"); //#FFDFAD
}
.orange-lighten-300-bg{
  background-color: color("orange" , "lighten-300"); //#FDD291
}
.orange-lighten-400-bg{
  background-color: color("orange" , "lighten-400"); //#FFBB63
}
.orange-lighten-500-bg{
  background-color: color("orange" , "lighten-500"); //#FFA037
}
.orange-lighten-600-bg{
  background-color: color("orange" , "lighten-600"); //#F68511
}
.orange-lighten-700-bg{
  background-color: color("orange" , "lighten-700"); //#E46F00
}
.orange-lighten-800-bg{
  background-color: color("orange" , "lighten-800"); //#CB5D00
}
.orange-lighten-900-bg{
  background-color: color("orange" , "lighten-900"); //#B14C00
}
.orange-lighten-1000-bg{
  background-color: color("orange" , "lighten-1000"); //#953D00
}
.red-bg{
  background-color: color("red" , "darken-2"); //#EA3829
}
.red-lighten-100-bg{
  background-color: color("red" , "lighten-100"); //#FFEBE7
}
.red-lighten-200-bg{
  background-color: color("red" , "lighten-200"); //#FFDDD6
}
.red-lighten-300-bg{
  background-color: color("red" , "lighten-300"); //#FFCDC3
}
.red-lighten-400-bg{
  background-color: color("red" , "lighten-400"); //#FFB7A9
}
.red-lighten-500-bg{
  background-color: color("red" , "lighten-500"); //#FF9B88
}
.red-lighten-600-bg{
  background-color: color("red" , "lighten-600"); //#FF7C65
}
.red-lighten-700-bg{
  background-color: color("red" , "lighten-700"); //#F75C46
}
.red-lighten-800-bg{
  background-color: color("red" , "lighten-800"); //#EA3829
}
.red-lighten-900-bg{
  background-color: color("red" , "lighten-900"); //#D31510
}
.red-lighten-1000-bg{
  background-color: color("red" , "lighten-1000"); //#B40000
}
.main-content-height {
  height: calc(100% - 5.75rem);
}
.p-main {
  padding: 1.6875rem 1.8125rem;
}
.text-nowrap {
  white-space: nowrap;
}
.inner-form-wrapper{
  max-width: 81.25rem;
  width: 100%;
  margin: auto;
}
.wrapper-border{
  border: 0.0625rem solid $basic-border;
}
.divider-bt-black{
  border-bottom: 0.0625rem solid $basic-border;
}
.create-btn {
  min-width: 10rem !important;
  height: 2.625rem !important;
  border-radius: 0.25rem !important;
  .letter-spacing-0 {
    letter-spacing: 0 !important;
  }
  .mdc-button__label {
    display: flex;
  }
}
.mdc-button__label {
  display: flex;
}
.small-icon {
  font-size: 1rem;
  width: 1.125rem;
  height: 1.125rem;
}
.lg-icon {
  font-size: 1.25rem !important;
}
.upper-case {
  text-transform: uppercase;
}
.text-underline {
  text-decoration: underline;
}
.heading-with-background {
  color: #000000;
  font-size: 1rem;
  padding: 0.75rem 0.625rem;
  background-color: var(--chip-grey-bg);
  border-radius: 0.25rem;
  font-weight: 500;
}
.heading-bt-br {
  padding: 1.125rem 1.5rem 1rem;
  border-bottom: 0.0625rem solid color("grey", "border-2");
}
.input-suffix {
  position: absolute;
  right: -0.1875rem;
  top: 0;
  padding-left: 0.8125rem;
  border-left: 0.0625rem solid color("grey", "lighten-11");
  bottom: 0;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.section-heading {
  border-bottom: 0.0625rem solid color("grey", "border-2");
}
.img-contain {
  @include image(6.625rem, 7.3125rem);
  border-radius: 0.25rem;
  img {
    width: 100%;
    min-height: 100%;
    object-fit: contain;
  }
}

// loader Scss
.loader {
  position: absolute;
  inset: 0;
  background-color: rgba(249, 246, 246, 0.477);
  z-index: 9999;
}

// 5. Angular Material

.mat-mdc-menu-content.mdc-list {
  padding: 0;
}
// simple table with even background
table {
  text-align: left;
  &.odd-bg-color {
    th,
    td {
      padding: 0.75rem 1rem;
    }
    border-spacing: 0;
    tr:nth-child(even) {
      background-color: $primay-light-bg-color;
    }
  }
}
.transition-400 {
  transition: 10s;
}

//breadcrumb
ul.breadcrumb {
  list-style: none;
  display: flex;

  li {
    display: flex;
    align-items: center;

    a {
      color: #aaaaaa;
      font-weight: 500;
    }
    span {
      font-weight: bold;
      color: var(--on-surface);
    }
  }
}

//list bottom line
.list-wrapper{
  border-bottom: .0625rem solid color("grey", "darken-10");
  padding-bottom: .375rem;
  &:last-child{
    border-bottom: none;
  }
}
.left-header{
  left: 1.875rem;
}