.mat-mdc-form-field {
    width: 100%;
}

.mat-mdc-form-field-infix {
    // height: 3rem;
    min-height: 3rem;
}
// .mdc-text-field__input {
//     color: ;
// }

.input-label {
    color: color('purple', 'darken-1');
    font-weight: 500 !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
    color: rgb(121, 0, 0);  
    border: 1px solid #E5E7EB !important;
  }