.mat-mdc-form-field {
  width: 100%;

  //   .mdc-text-field--outlined:not(.mdc-text-field--disabled)
  //     .mdc-notched-outline__leading,
  //   .mdc-text-field--outlined:not(.mdc-text-field--disabled)
  //     .mdc-notched-outline__notch,
  //   .mdc-text-field--outlined:not(.mdc-text-field--disabled)
  //     .mdc-notched-outline__trailing {
  //     border-color: $input-border-color;
  //   }
}

.mat-mdc-form-field-infix {
  min-height: 3rem;
}

.input-label {
  color: var(--on-suface);

  // @include dark-theme {
  //   color: color("shades", "white");
  // }
  
  font-weight: 500 !important;
  &.disabled {
    opacity: 0.5;
  }
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  color: rgb(121, 0, 0);
  border: 1px solid #e5e7eb !important;
}
