// 1. Mat-chip
// 2. Tables
// 3. list checkbox

// 1. mat-chip
.basic-chip.mat-mdc-chip {
  background-color: #ffffff33 !important;
  border-radius: 0.25rem;
  height: 1.5rem;

  .mat-mdc-chip-action {
    padding: 0 0.5rem;

    .mat-mdc-chip-action-label {
      color: color("shades", "white");
    }
  }
}
.chip-dark.mat-mdc-chip {
  background-color: #000080 !important;
  border-radius: 3rem;
  height: 1.375rem;
  .mat-mdc-chip-action {
    padding: 0 0.5rem;
    .mat-mdc-chip-action-label {
      color: color("shades", "white");
    }
  }
}
.table-chip.mat-mdc-chip {
  background-color: #e1e0ff !important;
  border-radius: 0.5rem;
  height: 2rem;
  .mat-mdc-chip-action {
    padding: 0 1rem;
  }
}

// 2. Tables
.primary-table {
  overflow: auto;
  .mat-mdc-table {
    border-collapse: separate;
    border-spacing: 0 0.5rem;
    .mdc-data-table__header-cell {
      border: none;
      font-weight: 500;
      white-space: nowrap;
    }
    tbody {
      tr {
        cursor: pointer;
        &:hover {
          border: 1px solid #d6d6d6;
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.14);
          position: relative;
        }
        td {
          position: relative;
          &.Active {
            color: color("green", "darken-3");
          }
        }
        &.selected-row {
          td {
            border-top: $primary-table-selected-row;
            border-bottom: $primary-table-selected-row !important;
            &:nth-last-child(1) {
              border-right: $primary-table-selected-row;
            }
            &:nth-child(1)::after {
              content: "";
              display: block;
              position: absolute;
              width: 0.1875rem;
              top: 0;
              bottom: 0;
              left: 0;
              background-color: color("primary", "main");
            }
          }
        }
      }
    }
    td {
      border-top: $primary-table-border;
      &:nth-last-child(1) {
        border-right: $primary-table-border;
      }
      &:nth-child(1) {
        border-left: $primary-table-border;
      }
      &.description-col {
        width: 25.6875rem;
        p {
          display: block;
          @include text-ellipsis(25.6875rem);
        }
      }
    }
    .mdc-data-table__row:first-child .mdc-data-table__cell:nth-child(1) {
      border-top-left-radius: $primary-table-border-radius;
    }
    .mdc-data-table__row:first-child .mdc-data-table__cell:nth-last-child(1) {
      border-top-right-radius: $primary-table-border-radius;
    }
    .mdc-data-table__row:last-child .mdc-data-table__cell:nth-child(1) {
      border-bottom-left-radius: $primary-table-border-radius;
    }
    .mdc-data-table__row:last-child .mdc-data-table__cell:nth-last-child(1) {
      border-bottom-right-radius: $primary-table-border-radius;
    }
    .mdc-data-table__row:last-child .mdc-data-table__cell {
      border-bottom: $primary-table-border;
    }
  }
}

// checked stripe table
.checked-stripe-table {
  .mat-mdc-table {
    border: 1px solid color("primary", "light");
    border-radius: 0.5rem;

    .mdc-data-table__row {
      height: 3.5rem;
    }
  }
  .mdc-data-table__cell,
  .mdc-data-table__header-cell {
    border-bottom-color: transparent;
    padding: 0 0.5rem 0 0.5rem;

    &.mat-column-select {
      width: 3rem;
      padding-right: 0;
    }

    .mdc-checkbox__background {
      border: 1px solid #8394a4;
    }

    // dropdown
    .mat-mdc-form-field {
      margin-bottom: 0;
      .mat-mdc-text-field-wrapper {
        height: fit-content;
        border: 1px solid color("grey", "lighten-11");
        border-radius: 0.25rem;
        min-width: 6.375rem;
        padding: 0 0.5rem;
        background-color: #ffffff;
        width: fit-content;

        .mat-mdc-form-field-flex .mat-mdc-form-field-infix {
          padding-top: 0;
          padding-bottom: 0;
          height: fit-content;
          min-height: fit-content;

          .mat-mdc-select-arrow svg {
            fill: color("grey", "border-2");
          }
        }
      }
      .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple {
        &::before {
          border: none;
        }
      }
      .mat-mdc-form-field-infix {
        width: fit-content;
        padding: 0;
      }
      .mat-mdc-select-value {
        margin-right: 19px;
      }
    }
  }

  td.mdc-data-table__cell {
    color: $headline-light;

    &.Active {
      color: color("green", "darken-3");
    }
  }
  .mat-mdc-table .mdc-data-table__row:nth-child(odd) {
    background-color: $primay-light-bg-color;
  }

  .mat-mdc-select {
    width: fit-content;
  }
}

// Table Scrollbar
.primary-table::-webkit-scrollbar {
  height: 0.4rem;
  border-radius: 0.25rem;
}
// 2. mat actions menu for primary table
.actions-menu.mat-mdc-menu-panel.mdc-menu-surface {
  padding: 0.5rem 0;
  min-width: 10.1875rem;
  border-radius: 0.5rem;
  .mat-mdc-menu-content {
    .mat-mdc-menu-item {
      min-height: 2rem;
    }
  }
}
.edit-menu + * .cdk-overlay-pane {
  transform: translate(-2.2rem, -1.6875rem) !important;
}
.mdc-menu-surface.mat-mdc-select-panel {
  border-radius: 0.5rem;
  .mat-mdc-option.mdc-list-item {
    min-height: 1.75rem;
    color: color("text", "primary");
  }
}
.dialog-curved {
  .mdc-dialog__container {
    border-radius: 1rem;
    overflow: hidden;
  }
}

// list checkbox
.mat-mdc-option.mdc-list-item .mat-pseudo-checkbox-full {
  margin-right: 0.625rem;
  color: color("grey", "lighten-9");
  border-radius: $checkbox-border;
}
