// 1. Mat-chip
// 2. Tables
// 3. list checkbox
// 4. accordion custom
// 5. ul with green mark
// 6. chip with success-bg
// 7. coupons dialog
// 8. mat-paginator

// 1. mat-chip
.basic-chip.mat-mdc-chip {
  background-color: #ffffff33 !important;
  border-radius: 0.25rem;
  height: 1.5rem !important;

  .mat-mdc-chip-action {
    padding: 0 0.5rem;

    .mat-mdc-chip-action-label {
      color: color("shades", "white");
    }
  }
}
.chip-dark.mat-mdc-chip {
  background-color: var(--primary-main) !important;
  border-radius: 3rem;
  height: 1.375rem;
  // .mdc-evolution-chip__cell{}
  .mat-mdc-chip-action {
    padding: 0 0.5rem;
    .mat-mdc-chip-action-label {
      color: color("shades", "white");
    }
  }
}
.table-chip.mat-mdc-chip {
  background-color: #e1e0ff !important;
  border-radius: 0.5rem;
  height: 2rem;
  .mat-mdc-chip-action {
    padding: 0 1rem;
  }
}

// 2. Tables
.primary-table {
  overflow: auto;
  .mat-mdc-table {
    border-collapse: separate;
    border-spacing: 0 0.5rem;
    .mdc-data-table__header-cell {
      border: none;
      font-weight: 500;
      white-space: nowrap;
      &:nth-last-child(1) {
        text-align: center;
      }
    }
    tbody {
      tr {
        cursor: pointer;
        &:hover {
          border: 1px solid #d6d6d6;
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.14);
          position: relative;
        }
        td {
          white-space: nowrap;
          position: relative;
          &.Active {
            color: color("green", "darken-3");
          }
          &.InActive {
            color: color("red", "darken-2");
          }
          &:nth-last-child(1) {
            text-align: center;
          }
        }
        &.selected-row {
          td {
            border-top: $primary-table-selected-row;
            border-bottom: $primary-table-selected-row !important;
            &:nth-last-child(1) {
              border-right: $primary-table-selected-row;
            }
            &:nth-child(1)::after {
              content: "";
              display: block;
              position: absolute;
              width: 0.1875rem;
              top: 0;
              bottom: 0;
              left: 0;
              background-color: var(--primary-main);
            }
          }
        }
      }
    }
    td {
      border-top: $primary-table-border;
      &:nth-last-child(1) {
        border-right: $primary-table-border;
      }
      &:nth-child(1) {
        border-left: $primary-table-border;
      }
      &.description-col {
        width: 25.6875rem;
        p {
          display: block;
          @include text-ellipsis(25.6875rem);
        }
      }
    }
    .mdc-data-table__row:first-child .mdc-data-table__cell:nth-child(1) {
      border-top-left-radius: $primary-table-border-radius;
    }
    .mdc-data-table__row:first-child .mdc-data-table__cell:nth-last-child(1) {
      border-top-right-radius: $primary-table-border-radius;
    }
    .mdc-data-table__row:last-child .mdc-data-table__cell:nth-child(1) {
      border-bottom-left-radius: $primary-table-border-radius;
    }
    .mdc-data-table__row:last-child .mdc-data-table__cell:nth-last-child(1) {
      border-bottom-right-radius: $primary-table-border-radius;
    }
    .mdc-data-table__row:last-child .mdc-data-table__cell {
      border-bottom: $primary-table-border;
    }
  }
}
// checked stripe table
.primary-table.checked-stripe-table,
.checked-stripe-table {
  .mat-mdc-checkbox
    .mdc-checkbox
    .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate):not(
      [data-indeterminate="true"]
    )
    ~ .mdc-checkbox__background {
    border-color: color("grey", "lighten-9");
  }
  .mdc-checkbox__background {
    height: 0.9375rem;
    width: 0.9375rem;
  }
  .mat-mdc-table {
    border: 1px solid var(--primary-light);
    border-radius: 0.5rem;
    border-spacing: 0 0.25rem;

    .mdc-data-table__row {
      height: 3.5rem;
    }
  }
  .mdc-data-table__cell,
  .mdc-data-table__header-cell {
    border-bottom-color: transparent;
    padding: 0 0.5rem 0 0.5rem;

    &.mat-column-select {
      width: 3rem;
      padding-right: 0;
    }

    .mdc-checkbox__background {
      border: 1px solid #8394a4;
    }

    // dropdown
    .mat-mdc-form-field {
      margin-bottom: 0;
      .mat-mdc-text-field-wrapper {
        height: fit-content;
        border: 1px solid color("grey", "lighten-11");
        border-radius: 0.25rem;
        min-width: 6.375rem;
        padding: 0 0.5rem;
        background-color: #ffffff;
        width: fit-content;

        .mat-mdc-form-field-flex .mat-mdc-form-field-infix {
          padding-top: 0;
          padding-bottom: 0;
          height: fit-content;
          min-height: fit-content;

          .mat-mdc-select-arrow svg {
            fill: color("grey", "border-2");
          }
        }
      }
      .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple {
        &::before {
          border: none;
        }
      }
      .mat-mdc-form-field-infix {
        width: fit-content;
        padding: 0;
      }
      .mat-mdc-select-value {
        margin-right: 19px;
      }
    }
  }

  td.mdc-data-table__cell {
    color: $headline-light;

    &.Active {
      color: color("green", "darken-3");
    }
  }
  .mat-mdc-table .mdc-data-table__row:nth-child(odd) {
    background-color: $primay-light-bg-color;
  }

  .mat-mdc-select {
    width: fit-content;
  }
  td {
    border-top: none;
    &:nth-last-child(1) {
      border-right: none;
    }
    &:nth-child(1) {
      border-left: none;
    }
  }
  .mdc-data-table__row:last-child .mdc-data-table__cell {
    border-bottom: none;
  }
}

// Table Scrollbar
.primary-table::-webkit-scrollbar {
  height: 0.4rem;
  border-radius: 0.25rem;
}
// 2. mat actions menu for primary table
.actions-menu.mat-mdc-menu-panel.mdc-menu-surface {
  padding: 0.5rem 0;
  min-width: 10.1875rem;
  border-radius: 0.5rem;
  .mat-mdc-menu-content {
    .mat-mdc-menu-item {
      min-height: 2rem;
    }
  }
}
.listing-filter.mat-mdc-menu-panel.mdc-menu-surface {
  padding: 0;
  border-radius: 0.25rem;
  min-width: 21.25rem;
  .mat-mdc-tab-group {
    .mat-mdc-tab-label-container {
      .mat-mdc-tab-labels {
        .mat-mdc-tab {
          min-width: 50%;
          height: 2.375rem;
        }
      }
    }
    .mat-mdc-tab-body-wrapper {
      .mat-mdc-tab-body-content {
        .filter-list {
          padding: 0.5rem 0.625rem;
          .mat-mdc-list-item {
            height: 2rem !important;
            margin-bottom: 0.4375rem;
            border-radius: 0.125rem;
            &:hover {
              background-color: #f2f0fd;
            }
          }
        }
      }
    }
  }
}
.edit-menu + * .cdk-overlay-pane {
  transform: translate(-2.2rem, -1.6875rem) !important;
}
.mdc-menu-surface.mat-mdc-select-panel {
  border-radius: 0.5rem;
  .mat-mdc-option.mdc-list-item {
    min-height: 1.75rem;
    color: var( --on-surface);
  }
}
.dialog-curved {
  .mdc-dialog__container {
    border-radius: 1rem;
    overflow: hidden;
  }
}

// list checkbox
.mat-mdc-option.mdc-list-item .mat-pseudo-checkbox-full {
  margin-right: 0.625rem;
  color: color("grey", "lighten-9");
  border-radius: $checkbox-border;
}

//mat-accordion custom
.mat-accordion {
  &.product-info {
    .mat-accordion .mat-expansion-panel:last-of-type {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }

    .mat-accordion .mat-expansion-panel:first-of-type {
      border-top-right-radius: 0;
      border-top-left-radius: 0;
    }

    .mat-expansion-panel:not([class*="mat-elevation-z"]) {
      box-shadow: none;
    }

    .mat-expansion-panel-header,
    .mat-expansion-panel-body {
      padding: 0;
    }

    .mat-expansion-panel
      .mat-expansion-panel-header.cdk-keyboard-focused:not(
        [aria-disabled="true"]
      ),
    .mat-expansion-panel
      .mat-expansion-panel-header.cdk-program-focused:not(
        [aria-disabled="true"]
      ),
    .mat-expansion-panel:not(.mat-expanded)
      .mat-expansion-panel-header:hover:not([aria-disabled="true"]) {
      background: color("shades", "transparent");
    }

    .mat-expansion-panel-header {
      height: unset;
    }

    .mat-content.mat-content-hide-toggle {
      margin-right: 0;
      flex-direction: column;
    }

    .mat-expansion-panel-header-title,
    .mat-expansion-panel-header-description {
      margin-right: 0;
    }
  }
}

//ul with green mark
ul {
  &.green-dot {
    padding-left: 1.125rem;
    margin: 0;

    li {
      padding: 4px 0;

      &::marker {
        color: color("green", "darken-4");
      }
    }
  }
}

//chip with success-bg
.mat-mdc-chip {
  &.mat-mdc-standard-chip.success-chip {
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    background-color: color("green", "darken-4");
    height: 1.375rem;

    span {
      color: color("shades", "white");
    }

    span.mdc-evolution-chip__action.mat-mdc-chip-action.mdc-evolution-chip__action--primary.mdc-evolution-chip__action--presentational {
      padding: 0;
    }
  }

  //primary light bg
  &.mat-mdc-standard-chip.primary-light-chip {
    padding: 0.375rem 1rem;
    background-color: var(--primary-light);
    .mdc-evolution-chip__action--primary {
      padding-left: 0;
      padding-right: 0;
    }
  }

  //white bg
  &.mat-mdc-standard-chip.white-bg {
    background-color: color("shades", "white");
  }
}

// storybook chip
.mat-mdc-standard-chip.mat-primary {
  .mdc-evolution-chip__text-label {
    color: #1b1b1e;
    font-weight: 600;
    display: flex;
    align-items: center;
  }
  &.mat-mdc-chip-highlighted {
    background-color: color("primary", "light");
    .mdc-evolution-chip__text-label {
      color: #1b1b1e;
    }
    --mdc-chip-elevated-container-color: color("primary", "light");
    --mdc-chip-elevated-disabled-container-color: color("primary", "light");
  }
}

// 7. coupons dialog
.coupons-dialog {
  position: relative;
  padding: 3.8125rem 2.625rem 2.625rem;
  .close-dialog-icon {
    position: absolute;
    top: 2.9375rem;
    right: 2.9375rem;
  }
}

// switch

.switch-box {
  &.mat-mdc-slide-toggle .mdc-switch .mdc-switch__track {
    height: 1.25rem;
    border-radius: 0.9375rem;
  }

  &.mat-mdc-slide-toggle .mdc-switch.mdc-switch--selected .mdc-switch__icon {
    width: 0.625rem;
    height: 0.625rem;
  }

  .mdc-switch__icons {
    /* height: 16px; */
    /* width: 16px; */
  }

  &.mat-mdc-slide-toggle .mdc-switch .mdc-switch__handle {
    width: 1rem;
    height: 1rem;
  }

  &.mat-mdc-slide-toggle .mdc-switch .mdc-switch__handle-track {
    width: 1rem;
  }

  svg.mdc-switch__icon.mdc-switch__icon--on {
    display: none;
  }

  svg.mdc-switch__icon.mdc-switch__icon--off {
    display: none;
  }
  &.mat-mdc-slide-toggle
    .mdc-switch.mdc-switch--selected:enabled
    .mdc-switch__icon {
    fill: white;
  }

  .mdc-switch__shadow {
    background: white;
    box-shadow: none;
  }
  &.mat-mdc-slide-toggle .mdc-switch {
    width: 2rem;
  }
}

.mat-calendar {
  .mat-calendar-content {
    padding: 0rem;
    .mat-calendar-table-header {
      tr {
        th {
          padding: 0;
          font-size: 0.75rem;
          &:nth-last-child(1) {
            color: color("error", "primary");
          }
          &:nth-last-child(2) {
            color: color("error", "primary");
          }
        }
        &:nth-child(2) {
          display: none;
        }
      }
    }
    .mat-calendar-table-header-divider::after {
      display: none;
    }
    .mat-calendar-body {
      tr {
        td {
          max-height: 1.8rem;
          max-width: 1.8rem;
        }
        &:nth-child(1) {
          td {
            &:nth-child(1) {
              display: none;
            }
          }
        }
      }
    }
  }
}
.mat-datepicker-content-container {
  .mat-calendar {
    .mat-calendar-content {
      padding: 1.3125rem;
    }
  }
}
// Mat Tab Group
.tabs-medium {
  .mat-mdc-tab-list {
    .mat-mdc-tab-labels {
      &::after {
        content: "";
        display: block;
        position: absolute;
        background-color: color("grey", "border-2");
        bottom: 0;
        left: 0;
        right: 0;
        height: 0.0625rem;
      }
      .mdc-tab {
        height: 2.5625rem;
        padding: 0 1.25rem;
        min-width: inherit;
        .mdc-tab__ripple,
        .mat-ripple {
          display: none;
        }
        .mdc-tab__text-label {
          letter-spacing: 0.0313rem;
        }
      }
    }
  }
}

// 8. mat-paginator
.mat-mdc-paginator{
  font-size: .875rem;
  .mat-mdc-paginator-container{
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .mdc-notched-outline__trailing{
    border: none;
  }
  .mdc-notched-outline__leading{
    border: none;
  }
  .mat-mdc-select-value {
    width: auto;
    margin-right: 4px;
  }
}