/* sidenav */
.outer-layout {
  padding: 1.5rem 2rem 3.4375rem 1.5rem;
  background-color: color("primary", "light");
  height: 100vh;
  width: 100%;
}
.mat-drawer-container {
  background-color: transparent;
}
.mat-sidenav-container {
  height: calc(100vh - 4.9375rem);
}
.mat-sidenav {
  background-color: color("primary", "light");
  border: 0rem;
  width: 5.3125rem;
  transition: 300ms;
}
.mat-sidenav-content {
  background-color: color("primary", "light");
}
.sidenav-open {
  .mat-sidenav {
    width: 16.375rem !important;
    .sidenav-wrapper {
      .sidebar-toggle {
        transform: rotate(180deg);
      }
    }
  }
  .mat-sidenav-content {
    margin-left: 17.875rem !important;
  }
}
.mat-sidenav-content {
  margin-left: 6.8125rem !important;
  // transition-delay: 100ms;
}
.sidenav-slider.mat-drawer {
  transform: none !important;
  visibility: visible !important;
  display: block !important;
  overflow: visible;
  .mat-drawer-inner-container {
    overflow: visible;
    .sidenav-wrapper {
      position: relative;
      background-color: color("shades", "white");
      z-index: 1003;
      height: 100%;
      border-right: 0.0625rem solid #e6e9ef;
      @include justify-content(center);
      @include flex-wrap(wrap);
      .sidebar-toggle {
        position: absolute;
        right: -0.9rem;
        top: 4rem;
        @include flex-position("center", "center");
        .toggle-sidenav {
          border: 0.125rem solid color("primary", "light");
          width: 1.75rem !important;
          height: 1.75rem !important;
          box-shadow: none;
          background-color: #ed79ae;
          .mdc-button__label {
            height: 0.875rem;
            margin-left: 0.125rem;
          }
        }
      }
    }
  }
}

// Header css
.header-wrapper {
  height: 4.25rem;
  padding: 0.8125rem 0.75rem 0.8125rem 0.75rem;
  border-radius: 0.5rem;
  background-color: color("shades", "white");
  display: flex;
  justify-content: space-between;
  align-items: center;
  .header-right {
    display: flex;
    align-items: center;
    .notifications-section {
      height: 1.25rem;
    }
    .user-profile {
      margin-left: 2.5rem;
      display: flex;
      align-items: center;
      .user-image {
        @include circle(2.625rem);
      }
      .user-info {
        margin-left: 0.625rem;
        width: 4.625rem;
        .name {
          display: block;
          font-weight: 500;
          font-size: 0.875rem;
          color: color("text", "secondary");
          width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .role {
          font-size: 0.75rem;
          font-weight: 400;
          color: color("text", "dark");
        }
      }
    }
  }
}
// Global Search
.global-search {
  display: block;
  max-width: 36.75rem;
  width: 100%;
  height: 2.625rem;
  position: relative;
  padding: 0.75rem 1.5rem 1rem 2.6875rem;
  &.basic{
    background-color: color("grey", "primary");
  }
  &.light {
    background-color: color("primary", "light");
  }
  .search-icon {
    position: absolute;
    left: 0.625rem;
    top: 0.5625rem;
  }
  input {
    font-size: 0.875rem;
    color: color("text", "primary");
  }
  input::-webkit-input-placeholder {
    color: color("text", "primary");
  }
}
// sidebar
.sidebar-wrapper {
  padding: 1.375rem 0.875rem;
  overflow: auto;
  height: 100%;
  .logo {
    @include flexbox;
    h3 {
      color: color("primary", "main");
      font-size: 1.6875rem;
      font-weight: 700;
      line-height: 73%;
      margin: 0rem;
    }
    .text-wrapper {
      margin-left: 0.9375rem;
      .logo-text {
        margin-top: 0.25rem;
        display: block;
        font-size: 1rem;
        font-weight: 500;
        color: color("primary", "main");
      }
    }
  }
  .sidebar {
    h1 {
      margin: 0;
      font-size: 0.75rem;
      font-weight: 700;
      color: color("text", "primary");
      opacity: 0.7;
      padding: 1.5rem 0 0.75rem 1.125rem;
      text-transform: uppercase;
    }
    .nav-list-item {
      color: color("text", "primary");
      &:hover {
        background-color: color("primary", "main");
        .mat-icon,
        .content {
          color: color("shades", "white") !important;
        }
      }
      border-radius: 0.25rem;
      .icon-wrapper {
        padding: 0.625rem 0.875rem;
        .content {
          font-weight: 500;
          font-size: 0.875rem;
          margin-left: 0.5rem;
          color: color("text", "primary");
          margin-top: 0.0625rem;
        }
      }
    }
  }
  .image-wrapper {
    margin-top: 1.3125rem;
    text-align: center;
    .img {
      text-align: center;
    }
    .text {
      margin-top: 0.5rem;
      h3 {
        font-weight: 500;
        color: color("text", "primary");
        font-size: 0.875rem;
        line-height: 1rem;
        margin: 0rem;
        margin-bottom: 0.5rem;
      }
      .description {
        font-weight: 400;
        font-size: 0.75rem;
        line-height: 0.875rem;
        color: color("text", "primary");
        margin: 0rem;
        margin-bottom: 0.5rem;
      }
      span {
        font-weight: 500;
        font-size: 0.875rem;
        line-height: 1rem;
        display: block;
        color: color("primary", "main");
      }
    }
  }
}
.sidenav-closed.mat-drawer-container {
  .sidenav-slider.mat-drawer {
    .sidenav-wrapper {
      .sidebar-wrapper {
        .sidebar {
          .category-heading {
            margin: 1.5rem 0rem 0.9375rem 0rem;
            height: 0.0625rem;
            background-color: #78869c33;
            h1 {
              display: none;
            }
          }
          .nav-list-item {
            .icon-wrapper {
              justify-content: center;
              .content {
                display: none;
              }
            }
          }
        }
        .image-wrapper {
          display: none;
        }
        .logo {
          justify-content: center;
          .text-wrapper {
            display: none;
          }
        }
      }
    }
  }
}
// Notifications Menu
.notifications-menu.mat-mdc-menu-panel.mdc-menu-surface {
  width: 25rem;
  max-width: 25rem;
  height: 26.625rem;
  .notifications-header {
    height: 6.25rem;
    background-color: color("primary", "main");
    padding: 1.1875rem 0.9063rem 0 0.9063rem;
    .label{
      color: color('shades', 'white')
    }
  }
}
// Profile Menu
.profile-menu.mat-mdc-menu-panel.mdc-menu-surface {
  max-width: 21.1875rem;
  width: 21.1875rem;
  border-radius: 0.5rem;
  .profile-menu-outer {
    .grad-bg {
      background: linear-gradient(90deg, #7868e6 0%, #ed7aac 100%);
      position: relative;
      height: 5.625rem;
      margin-bottom: 3rem;
      .user-initials {
        position: absolute;
        bottom: -2.625rem;
        left: 50%;
        transform: translate(-50%, 0);
        display: flex;
        justify-content: center;
        align-items: center;
        @include circle(5rem);
        border: 0.25rem solid #ffffff;
        background: linear-gradient(180deg, #b9aeff 0%, #ffa7c5 100%);
        font-size: 2rem;
      }
    }
    .profile-inner {
      text-align: center;
      margin-bottom: 0.875rem;
    }
    .profile-paths {
      padding: 0rem 1.125rem 0.9375rem 1.125rem;
      .user-link {
        padding: 0.378rem 0.625rem;
        margin-bottom: 0.5rem;
        &:nth-last-child(1) {
          margin-bottom: 0rem;
        }
        &:hover {
          background-color: color("primary", "light");
        }
      }
    }
  }
}
.sidebar-scrollable{
  height: calc(100% - 12.47rem);
  overflow: auto;
}