/* sidenav */
.outer-layout {
  padding: 1.5rem 2rem 3.4375rem 1.5rem;
  background-color: color("primary", "light");
  height: 100vh;
  width: 100%;
}
.mat-drawer-container {
  background-color: transparent;
}
.mat-sidenav-container {
  height: calc(100vh - 4.9375rem);
  .mat-drawer-content {
    transition: $sidebar-transition;
    transition-timing-function: inherit !important;
    background-color: color("primary", "light");
  }
}
.mat-sidenav {
  background-color: color("primary", "light");
  border: 0rem;
  width: 5.3125rem;
  transition: $sidebar-transition;
}
.mat-sidenav-content {
  padding-left: 1.5rem;
}
.sidenav-open {
  .mat-sidenav {
    width: 16.375rem !important;
    transition: $sidebar-transition;
    .sidenav-wrapper {
      .sidebar-toggle {
        transform: rotate(180deg);
      }
    }
  }
  .mat-sidenav-content {
    margin-left: 16.375rem !important;
  }
}
.mat-sidenav-content {
  margin-left: 5.3125rem !important;
}
.sidenav-slider.mat-drawer {
  transform: none !important;
  visibility: visible !important;
  display: block !important;
  overflow: visible;
  border-radius: $half-rem !important;
  .mat-drawer-inner-container {
    overflow: visible;
    .sidenav-wrapper {
      position: relative;
      background-color: color("shades", "white");

      // @include dark-theme {
      //   background-color: color("grey", "darken");
      // }
      z-index: 1003;
      height: 100%;
      border-right: 0.0625rem solid #e6e9ef;
      @include justify-content(center);
      @include flex-wrap(wrap);
      .sidebar-toggle {
        position: absolute;
        right: -0.9rem;
        top: 4rem;
        @include flex-position(center, center);
        .toggle-sidenav {
          outline: 0.125rem solid color("primary", "light");
          @include circle(1.75rem !important);
          box-shadow: none;
          .mdc-button__label {
            height: 0.875rem;
            margin-left: 0.125rem;
          }
        }
      }
    }
  }
}

// Header css
.header-wrapper {
  height: 4.25rem;
  padding: 0.8125rem 0.75rem 0.8125rem 0.75rem;
  border-radius: 0.5rem;
  background-color: color("shades", "white");
  @include flex-position(flex-end, center);
  .header-right {
    @include flex-align(center);
    .notifications-section {
      height: 1.25rem;
    }
    .user-profile {
      margin-left: 2.5rem;
      @include flex-align(center);
      .user-image {
        @include circle(2.625rem);
      }
      .user-info {
        margin-left: 0.625rem;
        width: 4.625rem;
        .name {
          display: block;
          font-weight: $medium;
          font-size: 0.875rem;
          color: color("text", "secondary");
          @include text-ellipsis(100%);
        }
        .role {
          font-size: 0.75rem;
          font-weight: $normal;
          color: color("text", "dark");
        }
      }
    }
  }
}
// Global Search
.global-search {
  display: block;
  max-width: 36.75rem;
  // width: 100%;
  width: 36.75rem;
  height: 2.625rem;
  position: relative;
  padding: 0 1.5rem 0 2.6875rem;
  &.basic {
    background-color: color("grey", "primary");
  }
  &.light {
    background-color: color("primary", "light");
  }
  &.full {
    max-width: 100%;
    margin-bottom: 0.375rem !important;
  }
  .search-icon {
    position: absolute;
    left: 0.625rem;
    top: 0.5625rem;
  }
  input {
    font-size: 0.875rem;
    color: color("text", "primary");
  }
  input::-webkit-input-placeholder {
    color: color("text", "primary");
  }
  &:hover {
    box-shadow: 0 0 0 2px #ccc7f2;
  }
  &:active {
    box-shadow: 0 0 0 2px #8d80ec;
  }
  &:focus {
    box-shadow: 0 0 0 2px #8d80ec;
  }
}
// sidebar
.sidebar-wrapper {
  padding: 1.375rem 0.875rem;
  overflow: auto;
  height: 100%;
  .logo {
    overflow: hidden;
    display: grid;
    grid-template-columns: 2.1875rem auto;
    transition: $sidebar-transition;
    .logo-img {
      z-index: 9;
      background-color: color("shades", "white");
      transition: $sidebar-transition;
      display: flex;
      justify-content: center;
      align-items: flex-start;
    }
    h3 {
      color: color("primary", "main");
      font-size: 1.6875rem;
      font-weight: 700;
      line-height: 73%;
      margin: 0rem;
    }
    .text-wrapper {
      margin-left: 0.9375rem;
      transition: $sidebar-transition;
      .logo-text {
        margin-top: 0.25rem;
        display: block;
        font-size: 1rem;
        font-weight: $medium;
        color: color("primary", "main");
      }
    }
  }
  .sidebar {
    .category-heading {
      transition: $sidebar-transition;
    }
    h1 {
      margin: 0;
      font-size: 0.75rem;
      font-weight: 700;
      color: color("text", "primary");
      opacity: 0.7;
      padding: 1.5rem 0 0.75rem 1.125rem;
      text-transform: uppercase;
      transition: $sidebar-transition;
    }
    .nav-list-item {
      color: color("text", "primary");
      border-radius: 0.25rem;
      height: 2.5625rem;
      .active {
        background-color: color("primary", "main");
        .mat-icon,
        .content {
          color: color("shades", "white") !important;
        }
      }
      &:hover {
        background-color: color("primary", "light");

        // @include dark-theme {
        //   background-color: color("grey", "base");
        // }
      }
      .icon-wrapper {
        padding: 0.625rem 0.875rem;
        height: 2.5625rem;
        .content-wrapper {
          transition: $sidebar-transition;
          position: relative;
          @include flex-align(flex-end);
          overflow: hidden;
          .content {
            transition: $sidebar-transition;
            font-weight: $medium;
            font-size: 0.875rem;
            margin-left: 0.5rem;
            color: color("text", "primary");

            // @include dark-theme {
            //   color: color("grey", "lighten-10");
            // }
            margin-top: 0.0625rem;
            transition: $sidebar-transition;
            transform: translate(0);
          }
        }
      }
    }
  }
  .image-wrapper {
    margin-top: 1.3125rem;
    text-align: center;
    transition: $sidebar-transition;
    .img {
      text-align: center;
    }
    .text {
      margin-top: 0.5rem;
      h3 {
        font-weight: $medium;
        color: color("text", "primary");
        font-size: 0.875rem;
        line-height: 1rem;
        margin: 0rem;
        margin-bottom: 0.5rem;
      }
      .description {
        font-weight: $normal;
        font-size: 0.75rem;
        line-height: 0.875rem;
        color: color("text", "primary");
        margin: 0rem;
        margin-bottom: 0.5rem;
      }
      span {
        font-weight: $medium;
        font-size: 0.875rem;
        line-height: 1rem;
        display: block;
        color: color("primary", "main");
      }
    }
  }
}
.sidenav-closed.mat-drawer-container {
  .sidenav-slider.mat-drawer {
    .sidenav-wrapper {
      .sidebar-wrapper {
        .sidebar {
          .category-heading {
            margin: 1.5rem 0rem 0.9375rem 0rem;
            height: 0.0625rem;
            background-color: #78869c33;
            transition: $sidebar-transition;
            h1 {
              transform: translate(-9.25rem, 0);
              transition: 40ms;
            }
          }
          .nav-list-item {
            .icon-wrapper {
              justify-content: space-between;
              overflow: hidden;
              .sidebar-icon-wraper {
                width: 1.75rem;
              }
              .content-wrapper {
                overflow: hidden;
                position: absolute;
                left: 2.75rem;
                .content {
                  display: block;
                  transform: translate(-100px, 0);
                  // opacity: 0;
                  // position: absolute;
                  // left: -6.125rem;
                  transition: $sidebar-transition;
                }
              }
            }
          }
        }
        .config-section{
          padding-right: 0.3125rem;
        }
        .image-wrapper {
          position: absolute;
          left: -18.75rem;
          transition: $sidebar-transition;
        }
        .logo {
          grid-template-columns: 3.4rem auto;
          transition: $sidebar-transition;
          .logo-img {
            transition: $sidebar-transition;
            justify-self: flex-start;
            width: 100%;
          }
          .text-wrapper {
            transform: translate(-25rem);
            transition: $sidebar-transition;
          }
        }
      }
    }
  }
}
// Notifications Menu
.notifications-menu.mat-mdc-menu-panel.mdc-menu-surface {
  width: 25rem;
  max-width: 25rem;
  height: 26.625rem;
  .notifications-header {
    height: 6.25rem;
    background-color: color("primary", "main");
    padding: 1.1875rem 0.9063rem 0 0.9063rem;
    .label {
      color: color("shades", "white");
    }
    .tab-panel {
      margin-top: 1.5625rem;
      .mat-mdc-tab-header {
        .mat-mdc-tab-label-container {
          .mat-mdc-tab-labels {
            align-items: flex-end;
            .mat-mdc-tab {
              font-size: 0.875rem;
              color: color("shades", "white");
              min-width: fit-content;
              height: 2rem;
              border-top-left-radius: 0.25rem;
              border-top-right-radius: 0.25rem;
              padding: 0 1rem;
              .mdc-tab__text-label {
                letter-spacing: 0.0625rem;
                color: color("shades", "white");
              }
              &.mdc-tab--active {
                .mdc-tab__text-label {
                  color: color("primary", "main");
                }
                background-color: color("shades", "white");
              }
              .mdc-tab-indicator {
                .mdc-tab-indicator__content {
                  border: none;
                }
              }
            }
          }
        }
      }
    }
  }
  .modal-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: color("primary", "light");
    color: color("primary", "main");
  }
}
// Profile Menu
.profile-menu.mat-mdc-menu-panel.mdc-menu-surface {
  max-width: 21.1875rem;
  width: 21.1875rem;
  border-radius: 0.5rem;
  .profile-menu-outer {
    .grad-bg {
      background: linear-gradient(90deg, #7868e6 0%, #ed7aac 100%);
      position: relative;
      height: 5.625rem;
      margin-bottom: 3rem;
      .user-initials {
        position: absolute;
        bottom: -2.625rem;
        left: 50%;
        transform: translate(-50%, 0);
        display: flex;
        justify-content: center;
        align-items: center;
        @include circle(5rem);
        border: 0.25rem solid #ffffff;
        background: linear-gradient(180deg, #b9aeff 0%, #ffa7c5 100%);
        font-size: 2rem;
      }
    }
    .profile-inner {
      text-align: center;
      margin-bottom: 0.875rem;
    }
    .profile-paths {
      padding: 0rem 1.125rem 0.9375rem 1.125rem;
      .user-link {
        padding: 0.378rem 0.625rem;
        margin-bottom: 0.5rem;
        border-radius: 0.125rem;
        &:nth-last-child(1) {
          margin-bottom: 0rem;
        }
        &:hover {
          background-color: color("primary", "light");
        }
      }
    }
  }
}
.sidebar-scrollable {
  height: calc(100% - 12.47rem);
  overflow: auto;
}
.alert-menu + * .cdk-overlay-pane {
  transform: translate(0.3125rem, 1.1875rem) !important;
}
.right-menu + * .cdk-overlay-pane {
  transform: translate(10.75rem, 1.8125rem) !important;
}
.sidebar-icon {
  width: 1.3125rem !important;
  height: 1.15rem !important;
  font-size: 1.2rem !important;
}

// //sidenav-wrapper
// .sidenav-wrapper {
//   .sidebar-wrapper {
//     .sidebar {
//       .category-heading {
//         margin: 1.5rem 0rem 0.9375rem 0rem;
//         height: 0.0625rem;
//         background-color: #78869c33;
//         transition: 400ms;
//         h1 {
//           transform: translate(-9.25rem, 0);
//           // opacity: 0;
//           // position: absolute;
//           // left: -6.125rem;
//           transition: 40ms;
//         }
//       }
//       .nav-list-item {
//         .icon-wrapper {
//           justify-content: space-between;
//           overflow: hidden;
//           .sidebar-icon-wraper {
//             width: 1.75rem;
//           }
//           .content-wrapper {
//             overflow: hidden;
//             position: absolute;
//             left: 2.75rem;
//             .content {
//               display: block;
//               transform: translate(-100px, 0);
//               // opacity: 0;
//               // position: absolute;
//               // left: -6.125rem;
//               transition: 400ms;
//             }
//           }
//         }
//       }
//     }
//     .image-wrapper {
//       position: absolute;
//       left: -18.75rem;
//       transition: 400ms;
//     }
//     .logo {
//       grid-template-columns: 3.4rem auto;
//       transition: 400ms;
//       .logo-img {
//         transition: 400ms;
//         justify-self: flex-start;
//         width: 100%;
//       }
//       .text-wrapper {
//         transform: translate(-25rem);
//         transition: 400ms;
//       }
//     }
//   }
// }
