.tab-toggle-ew {
    .mat-button-toggle-appearance-standard {
        background: transparent;
        color: #929296;
        border: none !important;
        @include border-radius($button-radius-default);
        height: 32px;
        margin-right: 9px;
        button {
            @include border-radius($button-radius-default);
            height: 32px;
        }
        .mat-ripple.mat-button-toggle-ripple {
            @include border-radius($button-radius-default);
        }
        &.mat-button-toggle-checked {
            background: color("grey", "base");
            color: #fff;
        }
        .mat-button-toggle-label-content {
            line-height: 32px;
            padding: 0 15px;
            font-weight: $medium;
        }
    }
} 


.page-status-custom-widget {
    .can-toggle {
        width: 140px;
        label {
            .can-toggle__switch {
                width: 140px;
                flex: 0 0 140px;
                &:before {
                    left: 70px;
                    width: 70px;
                    text-transform: capitalize;
                }
                &:after {
                    width: 70px;
                    text-transform: capitalize;
                }
            }
        } 
        input[type=checkbox]:focus ~ label ~ label .can-toggle__switch:after,  input[type=checkbox]:checked ~ label .can-toggle__switch:after {transform: translate3d(70px, 0, 0);}
    }
} 

// BORDERED TAB 

.ew-tabbing-bordered {
    .mat-button-toggle-group {
        border-radius: 0;
        border: none;
        .mat-button-toggle {
            background: transparent;
            color: #2b2b30;
            border-radius: 0;
            margin-right: 25px;
            font-size: 16px;
            font-weight: 500;
            &.mat-button-toggle-checked {
                border-bottom: 2px solid #178efc;
                color: #178efc;
                button {
                    .mat-button-toggle-label-content {
                        .total-session-number {
                            background: #e7f3ff;
                            color: #178efc;
                        }
                    }
                }
            }
            button {
                height: 40px;
                line-height: 40px;
                .mat-button-toggle-label-content {
                    padding: 0 4px;
                    line-height: 40px;
                    .total-session-number {
                        background: #f5f6f8;
                        border-radius: 4px;
                        height: 24px;
                        padding: 0 6px;
                        display: inline-flex;
                        align-items: center;
                        font-size: 14px;
                        color: #2b2b30;
                        margin-left: 7px;
                    }
                }
            }
        }
    }
}