.page-status-custom-widget {
    .can-toggle {
        width: 140px;
        label {
            .can-toggle__switch {
                width: 140px;
                flex: 0 0 140px;
                &:before {
                    left: 70px;
                    width: 70px;
                    text-transform: capitalize;
                }
                &:after {
                    width: 70px;
                    text-transform: capitalize;
                }
            }
        } 
        input[type=checkbox]:focus ~ label ~ label .can-toggle__switch:after,  input[type=checkbox]:checked ~ label .can-toggle__switch:after {transform: translate3d(70px, 0, 0);}
    }
}