a {
  text-decoration: none;
}
// Items
// 1. typography colors

.mat-body p,
.mat-body-2 p,
.mat-typography .mat-body p,
.mat-typography .mat-body-2 p,
.mat-typography p {
  margin: 0;
}

.mat-h1,
.mat-headline-5,
.mat-typography .mat-h1,
.mat-typography h4,
.mat-typography .mat-body-1,
.mat-typography .mat-headline-5,
.mat-typography h1 {
  margin: 0;
}

.font-weight-400 {
  font-weight: 400;
}

.font-weight-500 {
  font-weight: 500 !important;
}

.font-weight-600 {
  font-weight: 600 !important;
}

.font-weight-700 {
  font-weight: 700 !important;
}

// typography colors
.text-light {
  color: $text-light;
  font-weight: 600 !important;
}

.text-headline-dark {
  color: $text-headline-dark; //#2C2466
}

.text-dark {
  color: $text-dark; // #3A3742 text-dark
}

.text-dark-1 {
  color: $text-dark-1;
}

.text-headline-light {
  color: $headline-light; //#405189
}

.text-primary {
  color: $text-primary;
}

.text-lighten-2 {
  color: $text-lighten-2; //#9CA8BA
}

.text-lighten-4 {
  color: $text-lighten-4; //#7A7E83
}

.text-green-dark-3{
  color: $green-dark-3; //#4DA63E
}

.text-grey-darken-6{
  color: $grey-darken-6; //#495057
}

.text-grey-darken-7{
  color: $grey-darken-7; //#1B1B1E
}

.fs-lg {
  font-size: 1rem;
}
