a {
  text-decoration: none;
}
// Items
// 1. typography colors

.mat-body p,
.mat-body-2 p,
.mat-typography .mat-body p,
.mat-typography .mat-body-2 p,
.mat-typography p {
  margin: 0;
}

.mat-h1,
.mat-headline-5,
.mat-typography .mat-h1,
.mat-typography h4,
.mat-typography .mat-body-1,
.mat-typography .mat-headline-5,
.mat-typography h1 {
  margin: 0;
}

.font-weight-400 {
  font-weight: 400;
}

.font-weight-500 {
  font-weight: 500 !important;
}

.font-weight-600 {
  font-weight: 600 !important;
}

.font-weight-700 {
  font-weight: 700 !important;
}

// typography colors
.text-light {
  color: $text-light;
  font-weight: 600 !important;
}

.text-headline-dark {
  color: $text-headline-dark; //#2C2466
}

.text-dark {
  color: $text-dark; //#3A3742 text-dark
}

.text-dark-1 {
  color: $text-dark-1;
}

.text-headline-light {
  color: $headline-light; //#405189
}

.text-primary {
  color: $text-primary;
}

.text-lighten-2 {
  color: $text-lighten-2; //#9CA8BA
}

.text-lighten-4 {
  color: $text-lighten-4; //#7A7E83
}

.text-green-dark-3 {
  color: $green-dark-3; //#4DA63E
}

.text-grey-darken-6 {
  color: $grey-darken-6; //#495057
}

.text-grey-darken-7 {
  color: $grey-darken-7; //#1B1B1E
}

.text-purple-dark-2 {
  color: $text-purple-dark-2; //#364A63
}

.text-grey-lighten-11 {
  color: $text-grey-lighten-11; //#5E7080
}

.text-purple-lighten-1 {
  color: $text-purple-lighten-1; //#5B3CC6
}

.text-secondary {
  color: $text-secondary; //#1A3447
}

.text-grey-darken-8 {
  color: $text-grey-darken-8; //#333333
}

.text-black {
  color: $text-black;
}

.text-white {
  color: $text-white;
}

.fs-lg {
  font-size: 1rem;
}

.text-uppercase {
  text-transform: uppercase;
}
.dark-mode {
  .text-text.text-dark {
    color: #e7046a !important;
  }

  .primary-text.text-main {
    color: var(--primary-main) !important;
  }

  .text-text.text-primary {
    color: var(--on-surface) !important;
  }

  .text-light,
  .purple-text.text-darken-1,
  .text-dark,
  .purple-text,
  .text-darken-1,
  .text-light,
  .text-headline-dark,
  .text-dark-1,
  .text-headline-light,
  .text-lighten-2,
  .text-lighten-4,
  .text-green-dark-3,
  .text-grey-darken-6,
  .text-grey-darken-7,
  .text-purple-dark-2,
  .text-grey-lighten-11,
  .text-purple-lighten-1,
  .grey-text.text-darken-6,
  .text-black,
  .text-white,
  .text-secondary,
  .text-grey-darken-8,
  .grey-text.text-form-caption {
    color: white !important;
  }
}


.text-dark,
.grey-text.text-darken-6,
.text-text.text-primary,
.primary-text.text-main {
  @include dark-theme {
    color: white !important;
  }
}
