
<div class="popup-container">
  <div class="popup">
    <div class="loader" *ngIf="showLoader">
      <mat-spinner></mat-spinner>
    </div>  </div>
</div>

<div class="form-with-sample-popup flex relative">
  <!-- <div class="close-icon absolute flex justify-center align-center">
        <mat-icon class="material-symbols-outlined mr-0" color="warn">close</mat-icon>
    </div> -->
  <div class="form-outer pr-5">
    <div class="header-section mb-3 pr-5">
      <div class="title-left">
        <h5 class="mat-subtitle-1 text-blue-darken font-weight-500 mb-1">
          {{ editable ? "Update Feature" : "Create Feature" }}
        </h5>
        <span class="text-grey-darken">
          Fill in the details to create a new item
        </span>
      </div>
    </div>
    <div class="form-left pr-5">
      <form [formGroup]="featureForm">
        <div class="form-container">
            <div class="input-wrapper">
                <div class="flex align-center mb-2">
                  <p class="mat-subtitle-2 font-weight-500 input-label">
                    Feature Name
                  </p>
                  <mat-icon
                    class="material-symbols-outlined pointer ml-3 help-icon text-text text-primary"
                    [ngxTippy]="featureName"
                    [tippyProps]="{ placement: 'right' }"
                    >help</mat-icon
                  >
                  <ng-template #featureName let-name class="t-template">
                    <div class="help-info-tooltip">
                      <div class="details">
                        Enter a name that helps you identify this Feature.
                      </div>
                    </div>
                  </ng-template>
                </div>
                <mat-form-field appearance="outline" class="border-2 mb-0">
                  <input
                    required
                    matInput
                    placeholder="Enter here"
                    formControlName="name"
                  />
                  <mat-error
                    *ngIf="
                      featureForm.controls['name'].invalid &&
                      featureForm.controls['name'].touched
                    "
                  >
                    <ng-container
                      *ngIf="featureForm.controls['name'].errors['required']"
                    >
                      Name is required and cannot be left empty.
                    </ng-container>
                    <ng-container
                      *ngIf="featureForm.controls['name'].errors['maxlength']"
                    >
                      Name cannot exceed 20 characters.
                    </ng-container>
                    <ng-container
                      *ngIf="featureForm.controls['name'].errors['pattern']"
                    >
                      Name cannot contain special characters.
                    </ng-container>
                  </mat-error>
                </mat-form-field>
              </div>

          <div class="input-wrapper">
            <div class="flex align-center mb-2">
              <p class="mat-subtitle-2 font-weight-500 input-label">
                Select Product
              </p>
              <mat-icon
                class="material-symbols-outlined pointer ml-3 help-icon text-text text-primary"
                [ngxTippy]="selectProduct"
                [tippyProps]="{ placement: 'right' }"
                >help</mat-icon
              >
              <ng-template #selectProduct let-name class="t-template">
                <div class="help-info-tooltip">
                  <div class="details">
                    Please select a product to create a feature to it.
                  </div>
                </div>
              </ng-template>
            </div>
            <mat-form-field appearance="outline" class="border-2 mb-0">
              <input
              type="text"
              readonly="productID"
              formControlName="productID"
              matInput
              placeholder="Enter Product Name"
            />
            </mat-form-field>
          </div>
          <div class="input-wrapper">
            <div class="flex align-center mb-2">
              <p class="mat-subtitle-2 font-weight-500 input-label">
                Feature ID
              </p>
              <mat-icon
                class="material-symbols-outlined pointer ml-3 help-icon text-text text-primary"
                [ngxTippy]="helpinfotooltip"
                [tippyProps]="{ placement: 'right' }"
                >help</mat-icon
              >
              <ng-template #helpinfotooltip let-name>
                <div class="help-info-tooltip">
                  <div class="details">
                    Please enter a Customized Id.If user do not enter this
                    field, the system will generate a 'Customized
                    Human-Readable-id' based on the Name field.
                    <div>
                      e.g. Feature Name: "Analytics Reporting" FeatureId:
                      "analytics-reporting-01".
                    </div>
                  </div>
                </div>
              </ng-template>
            </div>
            <mat-form-field appearance="outline" class="border-2 mb-0">
              <input
                required
                matInput
                placeholder="Enter here"
                formControlName="featureId"
              />
            </mat-form-field>
          </div>
          <div class="input-wrapper">
            <div class="flex align-center mb-2">
              <p class="mat-subtitle-2 font-weight-500 input-label">
                Feature Type
              </p>
              <mat-icon
                class="material-symbols-outlined pointer ml-3 help-icon text-text text-primary"
                [ngxTippy]="type"
                [tippyProps]="{ placement: 'right' }"
                >help</mat-icon
              >
              <ng-template #type let-name class="t-template">
                <div class="help-info-tooltip">
                  <div class="details">
                    Select how entitlements to this feature can be set in plans,
                    addons, and charges.
                  </div>
                </div>
              </ng-template>
            </div>
            <mat-form-field appearance="outline" class="border-2 mb-0">
              <mat-select required formControlName="type" placeholder="select">
                <mat-option
                  *ngFor="let type of featureType"
                  value="{{ type.title }}"
                  (click)="onTypeSelection(type.title)"
                >
                  {{ type.title }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="input-wrapper">
            <div class="flex align-center mb-2">
              <p class="mat-subtitle-2 font-weight-500 input-label">
                Description
              </p>
            </div>
            <mat-form-field
              appearance="outline"
              class="description-box dark-description-input mb-0"
            >
              <textarea
                rows="4"
                matInput
                placeholder="Enter here..."
                formControlName="description"
              ></textarea>
              <mat-error
                *ngIf="
                  featureForm.controls['description'].invalid &&
                  featureForm.controls['description'].touched
                "
              >
                <ng-container
                  *ngIf="
                    featureForm.controls['description'].errors['maxlength']
                  "
                >
                  Description cannot exceed 500 characters.
                </ng-container>
              </mat-error>
            </mat-form-field>
          </div>
          <div
            class="input-wrapper"
            *ngIf="
              (this.featureForm.value.type &&
                this.featureForm.value.type != 1 &&
                this.featureForm.value.type !== 'switch') ||
              this.isRangeSelected
            "
          >
            <div class="flex align-center mb-2">
              <p class="mat-subtitle-2 font-weight-500 input-label">
                Entitlement Units
              </p>
              <mat-icon
                class="material-symbols-outlined pointer ml-3 help-icon text-text text-primary"
                [ngxTippy]="selectProduct"
                [tippyProps]="{ placement: 'right' }"
                >help</mat-icon
              >
              <ng-template #selectProduct let-name class="t-template">
                <div class="help-info-tooltip">
                  <div class="details">
                    Please select a product to create a feature to it.
                  </div>
                </div>
              </ng-template>
            </div>
            <mat-form-field appearance="outline" class="border-2 mb-0">
              <input
              (input)="setNameUnit()"
                required
                matInput
                placeholder="Enter here"
                formControlName="unit"
                (input)="featureForm.controls['unit'].markAsTouched()"
              />
              <mat-error
                *ngIf="
                  featureForm.controls['unit'].invalid &&
                  featureForm.controls['unit'].touched
                "
              >
                <ng-container
                  *ngIf="featureForm.controls['unit'].errors['pattern']"
                >
                  Unit cannot contain special characters.
                </ng-container>
                <ng-container *ngIf="featureForm.controls['unit'].errors['maxlength']">
                  Unit cannot exceed 50 characters.
                </ng-container>
              </mat-error>
            </mat-form-field>
          </div>
          <div *ngIf="this.featureForm.value.unit">
            <ng-container formArrayName="levels">
              <ng-container
                *ngFor="let element of levels.controls; let i = index"
              >
                <div class="flex align-center wrap mb-3" [formGroupName]="i">
                  <div class="flex align-center wrap w-88">
                    <div class="input-wrapper pr-2">
                      <div class="flex align-center mb-2">
                        <p class="mat-subtitle-2 font-weight-500 input-label">
                          Entitlement
                        </p>
                      </div>
                      <mat-form-field appearance="outline" class="border-2">
                        <input
                            (input)="setName(i)"
                            required
                            matInput
                            placeholder="Enter here"
                            formControlName="value"
                            pattern="[a-zA-Z0-9\s]*"
                          />
                          <mat-error
                            *ngIf="
                              featureForm.get('levels.' + i + '.value').invalid &&
                              featureForm.get('levels.' + i + '.value').touched
                            "
                          >
                            <ng-container
                              *ngIf="
                                featureForm.get('levels.' + i + '.value').errors[
                                  'pattern'
                                ]
                              "
                            >
                              Entitlement cannot contain special characters.
                            </ng-container>
                            <ng-container
                            *ngIf="
                              featureForm.get('levels.' + i + '.value').errors[
                                'maxlength'
                              ]
                            "
                          >
                            Entitlement cannot exceed 50 characters.
                          </ng-container>
                          </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="input-wrapper">
                      <div class="flex align-center mb-2">
                        <p class="mat-subtitle-2 font-weight-500 input-label">
                          Display Name
                        </p>
                      </div>
                      <mat-form-field appearance="outline" class="border-2">
                        <input
                        matInput
                        placeholder="Enter here"
                        formControlName="name"
                        (input)="
                          featureForm
                            .get('levels.' + i + '.name')
                            .markAsTouched()
                        "
                        pattern="[a-zA-Z0-9\s]*"
                      />
                      <mat-error
                        *ngIf="
                          featureForm.get('levels.' + i + '.name').invalid &&
                          featureForm.get('levels.' + i + '.name').touched
                        "
                      >
                        <ng-container
                          *ngIf="
                            featureForm.get('levels.' + i + '.name').errors[
                              'pattern'
                            ]
                          "
                        >
                          Display Name cannot contain special characters.
                        </ng-container>
                        <ng-container
                        *ngIf="
                          featureForm.get('levels.' + i + '.value').errors[
                            'maxlength'
                          ]
                        "
                      >
                      Display Name cannot exceed 50 characters.
                      </ng-container>
                      </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <button
                    *ngIf="
                      levels.controls.length > 1 &&
                      i < levels.controls.length - 1 &&
                      i != 0
                    "
                    mat-stroked-button
                    disableRipple
                    class="upper-case primary light medium px-1 ml-2 text-grey-darken"
                    (click)="deleteLevels(i)"
                  >
                    Remove
                  </button>
                </div>
              </ng-container>
            </ng-container>
            <div>
              <button
                mat-button
                color="primary"
                class="small-font-14"
                (click)="toggleUnlimited()"
              >
                <!-- <mat-icon class="add-course-btn"></mat-icon> -->
                {{ unlimitedButtonLabel }}
              </button>
            </div>
            <button
              mat-button
              color="primary"
              class="small-font-16 mt-4"
              (click)="addLevels()"
              *ngIf="!isRangeSelected"
            >
              <mat-icon class="add-course-btn mat-primary">add</mat-icon>Add
              Entitlement
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="action-btns flex align-center justify-between pr-5">
      <mat-checkbox
        color="primary"
        formControlName="status"
        class="font-weight-500 checkbox ml-n-3"
        >Active</mat-checkbox
      >
      <div>
        <button
          mat-stroked-button
          color="primary"
          class="mr-2 large"
          (click)="onDelete()"
        >
          Dismiss
        </button>
        <button
          mat-flat-button
          color="primary"
          class="large"
          type="button"
          (click)="onSubmit()"
          [disabled]="
            featureForm.invalid && this.featureForm.value.type !== 'switch'
          "
        >
          {{ editable ? "Update" : "Create" }}
        </button>
      </div>
    </div>
  </div>
  <div class="sample-right h-auto">
    <div class="inner-block">
      <div class="title">
        <h5 class="mb-0 mat-subtitle-2 font-weight-500 text-black">
          Sample Feature
        </h5>
      </div>
      <div class="info-wrapper">
        <div class="text-text text-primary my-2">
          <h3 class="text-blue-darken mat-subtitle-2 font-weight-500 mb-2">
            Switch Feature
          </h3>
          <p class="text-grey-darken mb-1">
            This feature type has 2 entitlement levels- "available" and "not
            available".
          </p>
          <button
            mat-button
            color="primary"
            class="medium px-1"
            (click)="switchSample()"
          >
            Try a Sample
          </button>
        </div>
        <div class="text-text text-primary my-2">
          <h3 class="text-blue-darken mat-subtitle-2 font-weight-500 mb-2">
            Range Feature
          </h3>
          <p class="text-grey-darken mb-1">
            This feature supports range based entitlements. For eg : Customer’s
            access can be between 100 and 300 API / minute.
          </p>
          <button
            mat-button
            color="primary"
            class="medium px-1"
            (click)="rangeSample()"
          >
            Try a Sample
          </button>
        </div>
        <div class="text-text text-primary my-2">
          <h3 class="text-blue-darken mat-subtitle-2 font-weight-500 mb-2">
            Quantity Feature
          </h3>
          <p class="text-grey-darken mb-1">
            This feature type has numbered entitlement levels- For eg : 2,3,4 or
            10 user licenses.
          </p>
          <button
            mat-button
            color="primary"
            class="medium px-1"
            (click)="quantitySample()"
          >
            Try a Sample
          </button>
        </div>
        <div class="text-text text-primary">
          <h3 class="text-blue-darken mat-subtitle-2 font-weight-500 mb-2">
            Custom Feature
          </h3>
          <p class="text-grey-darken mb-1">
            This feature supports range based entitlements. For eg : Customer’s
            access can be between 100 and 300 API / minute.
          </p>
          <button
            mat-button
            color="primary"
            class="medium px-1"
            (click)="customSample()"
          >
            Try a Sample
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
