<div class="p-8">
  <div class="flex align-center justify-between">
    <div class="flex align-center" (click)="previousClicked('month')">
      <img
        src="../../../../assets/images/icons/prev-circle-primary.svg"
        alt="prev icon"
      />
    </div>
    <div class="primary-text text-main">{{periodLabel}}</div>
    <div class="flex align-center" (click)="nextClicked('month')">
      <img
        src="../../../../assets/images/icons/next-circle-primary.svg"
        alt="prev icon"
      />
    </div>
  </div>
</div>
