<div class="product-listing-wrapper">
  <h1>Products</h1>
  <div class="empty-state-info-wrapper">
    <div class="empty-state-info">
      <img
        src="../../../../assets/images/search-people.svg"
        alt="search-people"
      />
      <div>
        <p class="mat-h1">Looking for Product</p>
        <p class="desc-info">
          Seems like you haven't added any Product. Start adding products by
          click on “Create Product” button
        </p>
      </div>
      <button mat-flat-button color="primary" class="btn-medium">
        Create Product
      </button>
    </div>
  </div>
</div>
