<div class="view-feature-wrapper">
  <div class="header-block border-2">
    <h3 class="mat-headline-5 heading text-text text-primary">View Feature</h3>
    <div class="flex align-center justify-between">
      <div class="brand-info flex align-end">
        <div>
          <div class="flex align-center">
            <p class="mat-headline-5 text-text text-dark title mb-1">
              Whiteboard
            </p>
            <div class="active-text flex align-center green-text text-darken-3 ml-4">
              <mat-icon
                class="material-symbols-outlined mr-1 green-text text-darken-3"
                color="primary"
                >check_circle</mat-icon
              ><span>Active</span>
            </div>
          </div>
          <span class="mat-subtitle-2 subtitle font-weight-500 block"
            >#65130</span
          >
        </div>
      </div>
      <div class="btn-section flex align-center">
        <button mat-stroked-button color="primary" class="mr-2 large">
          Edit
        </button>
        <button mat-flat-button color="primary" class="large">
          Back to list
        </button>
      </div>
    </div>
  </div>  
</div>
