<div>
  <div class="absolute position-center text-center">
    <div class="">
      <img src="{{imgUrl}}" alt="No Page Found" />
      <div class="my-10">
        <p class="mat-h1 purple-text text-darken-1"> {{ subHeader }}</p>
        <p class="desc-info mt-6 text-text text-lighten-2">
          {{ details }}
        </p>
      </div>
      <a href="">
        <sft-button [label]="'Back To Home'" [color]="'primary'" [variant]="'flat'" [disable]="false"
          [disableRipple]="false" [size]="'medium'" [onClick]="'funtion()'"></sft-button>
      </a>
    </div>
  </div>
</div>