<div class="stepper-wrapper">
  <mat-stepper orientation="vertical" [linear]="isLinear" #stepper [disableRipple]="true">
    <mat-step>
      <ng-template matStepLabel>
          <span class="block text-dark font-weight-500">STEP 1</span>
          <span class="block font-weight-600 mat-subtitle-2 text-headline-light">Plan information</span>
      </ng-template>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>
        <span class="block text-dark font-weight-500">STEP 2</span>
        <span class="block font-weight-600 mat-subtitle-2 text-headline-light">Add plan pricing</span>
    </ng-template>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>
        <span class="block text-dark font-weight-500">STEP 3</span>
        <span class="block font-weight-600 mat-subtitle-2 text-headline-light">Product Details</span>
    </ng-template>
    </mat-step>

    <mat-step>
     <ng-template matStepLabel>
          <span class="block text-dark font-weight-500">STEP 4</span>
          <span class="block font-weight-600 mat-subtitle-2 text-headline-light">Add-on Details</span>
      </ng-template>
    </mat-step>

    <mat-step>
     <ng-template matStepLabel>
          <span class="block text-dark font-weight-500">STEP 5</span>
          <span class="block font-weight-600 mat-subtitle-2 text-headline-light">Charges</span>
      </ng-template>
    </mat-step>
  </mat-stepper>
</div>
  
