<div class="plan-outer-bolck mt-11">
  <div class="plan-details p-10 border-2 main-bg">
    <div class="heading flex align-center justify-between pb-3">
        <div class="flex align-center">
            <div class="icon-img mr-4">
                <img
                  src="../../../../../../assets/images/icons/carbon_document-multiple-02.svg"
                  alt="carbon_document-multiple-icon"
                />
            </div>
            <abbr class="mat-subtitle-2 font-weight-500 text-blue-darken">Plan Details</abbr>
        </div>
        <div class="flex">
            <button mat-stroked-button color="primary" class="mr-3 small font-weight-500 px-4">
                Edit
              </button>
              <button  mat-stroked-button color="primary" class="small font-weight-500 px-4">
                Delete
              </button>
        </div>
      </div>

      <div class="info-details py-8 flex">
        <div class="details">
            <h5 class="text-grey-darken mat-subtitle-2 mb-2">Plan Name</h5>
            <h6 class="mat-subtitle-2 font-weight-500 text-blue-darken mb-0">Premium</h6>
        </div>
        <div class="details">
          <h5 class="text-grey-darken mat-subtitle-2 mb-2">Plan Id</h5>
          <h6 class="mat-subtitle-2 font-weight-500 text-blue-darken mb-0">#AS- 012P</h6>
      </div>
      <div class="details">
        <h5 class="text-grey-darken mat-subtitle-2 mb-2">Plan Status</h5>
        <h6 class="mat-subtitle-2 font-weight-500 text-blue-darken mb-0">Active</h6>
    </div>
      </div>

      <div class="description-box">
        <h5 class="mat-subtitle-2 font-weight-500 text-blue-darken mb-2">Plan Description</h5>
        <p class="text-grey-darken mat-subtitle-2">
          Smart plan with the right mix of basic and slightly advanced tools to help you with all marketing and sales requirements
          right mix of basic and slightly advanced tools to help.
        </p>
      </div>
  </div>
  
</div>
