<div class="sidenav-wrapper">
  <div class="sidebar-wrapper">
    <div class="">
      <h3 class="mat-headline-5 font-weight-700 text-purple-lighten-1">Digital Framework</h3>
    </div>
    <div class="sidebar-scrollable mt-12">
      <mat-nav-list class="sidebar p-0">
        <div *ngFor="let element of Menu_Headings" class="transition-400 list-wrapper">
          <div *ngIf="element.name != 'Dashboard'" class="category-heading">
            <h1 class="mat-caption font-weight-600">{{ element.name }}</h1>
          </div>
          <mat-list-item
            class="nav-list-item p-0 w-full"
            *ngFor="let item of getList(element.category)"
          >
            <a
              class="icon-wrapper flex align-center"
              routerLinkActive="active"
              [ngClass]="{
                active:
                  activeRoute.includes(item.name)
              }"
              [routerLink]="[item.state]"
            >
              <div class="flex justify-center sidebar-icon-wraper">
                <mat-icon class="material-symbols-outlined m-0 sidebar-icon mat-primary">{{
                  item.icon
                }}</mat-icon>
              </div>
              <div class="content-wrapper">
                <span class="mat-subtitle-2 ml-2 text-grey-darken-9">{{ item.name | translate }}</span>
              </div>
            </a>
          </mat-list-item>
        </div>
      </mat-nav-list>
    </div>
    <mat-nav-list class="config-section sidebar">
      <mat-list-item
        class="nav-list-item p-0"
        *ngFor="let item of configOptions"
      >
        <a
          class="icon-wrapper flex align-center"
          [routerLink]="['/', item.state]"
        >
          <div class="flex justify-center sidebar-icon-wraper">
            <mat-icon class="material-symbols-outlined m-0 sidebar-icon mat-primary">{{
              item.icon
            }}</mat-icon>
          </div>
          <div class="content-wrapper">
            <span class="mat-subtitle-2 ml-2 text-grey-darken-9">{{ item.name | translate}}</span>
          </div>
        </a>
      </mat-list-item>
    </mat-nav-list>
  </div>
</div>
