<div class="sidenav-wrapper border-2">
  <div class="sidebar-toggle">
    <button
      mat-mini-fab
      color="accent"
      class="toggle-sidenav"
      (click)="toggleSidenav()"
    >
      <svg
        width="8"
        height="14"
        viewBox="0 0 8 14"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M0.269968 12.3681L1.42697 13.5186L7.85547 7.08355L1.42047 0.648554L0.269969 1.79905L5.55447 7.08355L0.269968 12.3681V12.3681Z"
          fill="white"
        />
      </svg>
    </button>
  </div>
  <div class="sidebar-wrapper">
    <div class="logo pointer">
      <div class="logo-img pointer">
        <img src="../../../../assets/images/framework-logo.png" alt="logo" />
      </div>
      <div class="text-wrapper">
        <h3>Digital</h3>
        <span class="logo-text">Framework</span>
      </div>
    </div>
    <div class="sidebar-scrollable mt-11">
      <mat-nav-list class="sidebar p-0">
        <div *ngFor="let element of Menu_Headings" class="transition-400">
          <div *ngIf="element.name != 'Dashboard'" class="category-heading">
            <h1>{{ element.name }}</h1>
          </div>
          <mat-list-item
            class="nav-list-item p-0 w-full"
            *ngFor="let item of getList(element.category)"
          >
            <a
              class="icon-wrapper flex align-center"
              [ngClass]="{'active': (activeRoute.includes(item.state) || currentRoute == item.state)}"
              [routerLink]="[item.state]"
            >
              <div class="flex justify-center sidebar-icon-wraper">
                <mat-icon class="material-symbols-outlined m-0 sidebar-icon">{{
                  item.icon
                }}</mat-icon>
              </div>
              <div class="content-wrapper">
                <span class="content">{{ item.name }}</span>
              </div>
            </a>
          </mat-list-item>
        </div>
      </mat-nav-list>
      <div class="image-wrapper">
        <div class="img">
          <img
            src="../../../../assets/images/dashboard-cat.png"
            alt="Dashboard Get Started"
          />
        </div>
        <div class="text">
          <h3>First steps</h3>
          <p class="description">
            Customize your dashboard and lean <br />about out features
          </p>
          <span class="pointer">Get Started</span>
        </div>
      </div>
    </div>
    <mat-nav-list class="config-section sidebar">
      <mat-list-item
        class="nav-list-item p-0" 
        *ngFor="let item of configOptions"
      >
        <a
        class="icon-wrapper flex align-center"
          [routerLink]="['/', item.state]"
        >
          <mat-icon class="material-symbols-outlined m-0 sidebar-icon">{{
            item.icon
          }}</mat-icon>
          <div class="content-wrapper">
            <span class="content">{{ item.name }}</span>
          </div>
        </a>
      </mat-list-item>
    </mat-nav-list>
  </div>
</div>
