<div
  *ngIf="customers.length == 0"
  class="relative main-bg border-2 w-full h-full p-7 overflow-auto"
>
  <app-empty-listing [items]="emptyList"></app-empty-listing>
</div>
<div
  class="relative main-bg border-2 w-full h-full py-6 pl-5 pr-6 overflow-auto"
  *ngIf="customers.length > 0"
>
  <div class="flex justify-between align-center px-1">
    <div class="flex align-center">
      <h1 class="text-text text-dark">Customers</h1>
    </div>
    <div class="flex align-center">
      <div class="global-search light mr-2 border-1">
        <span class="search-icon pointer">
          <img
            src="../../../../assets/images/icons/search.svg"
            alt="search-icon"
          />
        </span>
        <input type="text" placeholder="Search anything..." />
        <!-- <div class="loader" *ngIf="loading">
          <mat-spinner></mat-spinner>
        </div> -->
      </div>
      <button mat-flat-button color="primary" class="create-btn">
        <img
          src="../../../../../../assets/images/icons/file-download.svg"
          alt="download"
        />
        <span class="text-nowrap block ml-2 letter-spacing-0">Export Data</span>
      </button>
    </div>
  </div>
  <div class="primary-table overflow-visible mt-8 px-1 pb-2">
    <table
      mat-table
      [dataSource]="customers"
      matSort
      (matSortChange)="announceSortChange($event)"
    >
      <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox
            color="primary"
            (click)="selectAll(customers)"
            (change)="$event ? toggleAllRows() : null"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()"
          >
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox
            color="primary"
            (click)="selectedRow(row.id, $event)"
            (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)"
          >
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>#ID</th>
        <td mat-cell *matCellDef="let element" [routerLink]="'/customers/view'">{{ element.id }}</td>
      </ng-container>

      <!-- Product Name Column -->
      <ng-container matColumnDef="name">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by title"
        >
          Name
        </th>
        <td mat-cell *matCellDef="let element" [routerLink]="'/customers/view'">{{ element.name }}</td>
      </ng-container>

      <!-- Description Column -->
      <ng-container matColumnDef="companyName">
        <th mat-header-cell *matHeaderCellDef>Company Name</th>
        <td mat-cell *matCellDef="let element" [routerLink]="'/customers/view'">
          {{ element.companyName }}
        </td>
      </ng-container>

      <!-- Created Date Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>
          <p class="text-center">Email</p>
        </th>
        <td mat-cell *matCellDef="let element" [routerLink]="'/customers/view'">
          <p class="text-center">{{ element.email }}</p>
        </td>
      </ng-container>

      <!-- Created Date Column -->

      <ng-container matColumnDef="workPhone">
        <th mat-header-cell *matHeaderCellDef>Work Phone</th>
        <td mat-cell *matCellDef="let element" [routerLink]="'/customers/view'">
          {{ element.workPhone }}
        </td>
      </ng-container>

      <!-- Description Column -->
      <ng-container matColumnDef="website">
        <th mat-header-cell *matHeaderCellDef>Website</th>
        <td mat-cell *matCellDef="let element" [routerLink]="'/customers/view'">
          {{ element.website }}
        </td>
      </ng-container>

      <!-- Created Date Column -->
      <ng-container matColumnDef="subscription">
        <th mat-header-cell *matHeaderCellDef>Subscription</th>
        <td mat-cell *matCellDef="let element" [routerLink]="'/customers/view'">
          {{ element.subscription }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        [id]="row.id"
      ></tr>
    </table>
  </div>
</div>
