<div class="view-product-wrapper pt-8">
  <div class="header-section pb-6">
    <div class="flex align-center justify-between">
      <div class="flex align-center">
        <mat-icon class="material-symbols-outlined pointer mr-1" color="primary"
          [routerLink]="'/products'">keyboard_backspace</mat-icon>
        <p class="mat-headline-5 font-weight-500 text-purple-lighten-1">View Product</p>
      </div>
      <button mat-stroked-button color="primary" class="medium">
        Edit
      </button>
    </div>
  </div>
  <div class="header-block border-2">
    <div class="flex align-end justify-between inner-block">
      <div class="brand-info flex align-center">
        <div class="product-img mr-4 border-2"
          *ngIf="productDetail?.imageUrl && productDetail.imageUrl.length > 1;else uploadImage">
          <img src="{{ imagePath + imageUrl }}" alt="{{imageName}}" />
        </div>
        <ng-template #uploadImage>
          <div class="productImg-wrapper">
            <div class="product-img border-2">
              <img src="../.././../../assets/images/no-image.logo.jpg" alt="product-img" />
            </div>
          </div>
        </ng-template>
        <div>
          <div class="">
            <h5 class="mat-headline-5  font-weight-600 text-white mb-2">
              Microsoft Teams
            </h5>
            <p class="mat-subtitle-2 font-weight-500 sub-title">
              O365ProPlusRetail
            </p>
          </div>
          <span class="mat-subtitle-2 subtitle font-weight-500 block">{{productId}}</span>
        </div>
      </div>
      <div class="date-block flex align-center mb-8">
        <div class="flex align-center">
          <mat-icon class="material-symbols-outlined mr-3 text-white">calendar_today</mat-icon>
          <p class="mat-subtitle-2 text-white">Created {{createdOn | date: 'd MMMM y'}}</p>
        </div>
        <div class="vertical-divider mx-6"></div>
        <div class="flex align-center">
          <mat-icon class="material-symbols-outlined mr-3 text-white">calendar_today</mat-icon>
          <p class="mat-subtitle-2 text-white"> Modified {{modifiedOn | date: 'd MMMM y'}}</p>
        </div>
      </div>
    </div>
    <div class="product-desc main-bg">
      <h4 class="mat-subtitle-1 font-weight-500 mb-4 text-headline-dark">Description</h4>
      <p class="mat-subtitle-2 text-grey-darken">
        {{description }}
      </p>
    </div>
  </div>
  <div class="header-block border-2 mt-6 main-bg">
    <div class="product-features">
      <div class="flex justify-between align-center py-2">
        <h4 class="mat-subtitle-2 text-headline-dark font-weight-500 mb-0">Features</h4>
        <button mat-button color="primary" class="small-font-14" (click)="navigateToFeatures()">
          Create Features
        </button>
      </div>
      <!-- with feature added -->
      <div class="features-wrapper mt-2">
        <div *ngIf="productDetail?.feature && productDetail.feature.length > 0; else noFeaturesBlock">
          <div class="feature-item flex align-start border-2"
            *ngFor="let feature of productDetail.feature; let i = index">
            <div class="feature-logo border-2 flex-center mat-subtitle-2 font-weight-500 text-purple-lighten-1 main-bg">
              <span>{{ feature.featureId}}</span>
            </div>
            <div class="details ml-7">
              <div class="flex align-center mb-2">
                <span class="mat-subtitle-2 font-weight-500 text-purple-lighten-1">{{ feature.name }}</span>
                <div class="active-text flex align-center green-text text-darken-3 ml-6">
                  <mat-icon class="material-symbols-outlined mr-1 green-text text-darken-3"
                    color="primary">check_circle</mat-icon><span>{{feature.status}}</span>
                </div>
              </div>
              <p class="mat-body-1 text-grey-darken mb-2">
                {{ feature.description }}
              </p>
              <span class="text-grey-darken">Feature type : </span>
              <span class="text-purple-lighten-1 ml-3">{{feature.type}}</span>
            </div>
            <div class="action-btns flex align-center">
              <button mat-button color="primary" class="small" (click)="navigateToFeatures()">
                <mat-icon class="material-symbols-outlined mb-1 small edit-icon" color="primary">
                  edit </mat-icon>Edit
              </button>
              <button mat-icon-button class="ml-2 small" color="warn"
                aria-label="Example icon button with a vertical three dot icon" (click)="openDelete(feature.featureId)">
                <mat-icon class="material-symbols-outlined" color="warn">close</mat-icon>
              </button>
            </div>
          </div>
        </div>

        <!-- No features block -->
        <ng-template #noFeaturesBlock>
          <div class="feature-add-block flex align-center justify-center p-6">
            <div class="text-center flex align-center flex vertical">
              <div class="icon-with-bg">
                <div class="bg-box"></div>
                <div class="icon inherit">
                  <mat-icon class="material-symbols-outlined mb-1">featured_play_list</mat-icon>
                </div>
              </div>
              <p class="mat-subtitle-2 text-dark-1 mb-3 font-weight-500">
                You have not added features
              </p>
              <button mat-button color="primary" class="small" (click)="navigateToFeatures()">
                Create Features
              </button>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>