<div class="view-product-wrapper">
  <div class="header-block border-2">
    <h3 class="mat-headline-5 heading text-text text-primary">View Product</h3>
    <div class="flex align-center justify-between">
      <div class="brand-info flex align-end">
        <div class="product-img mr-4 border-2">
          <img src="{{imageUrl}}" alt="product-img" />
        </div>
        <div>
          <div class="flex align-center">
            <p class="mat-headline-5 text-text text-dark title mb-1">
              {{name}}
            </p>
            <div
              class="active-text flex align-center green-text text-darken-3 ml-4"
            >
              <mat-icon
                class="material-symbols-outlined mr-1 green-text text-darken-3"
                color="primary"
                >check_circle</mat-icon
              ><span>{{status}}</span>
            </div>
          </div>
          <span class="mat-subtitle-2 subtitle font-weight-500 block"
            >{{productId}}</span
          >
        </div>
      </div>
      <div class="btn-section flex align-center">
        <button mat-stroked-button color="primary" class="mr-2 large" [routerLink]="['/products/edit-product/'+productId]" >
          Edit
        </button>
        <button mat-flat-button color="primary" class="large" [routerLink]="['/products']">
          Back to list
        </button>
      </div>
    </div>
  </div>
  <div class="content-block p-6">
    <div class="date-block flex align-center mb-8">
      <div class="flex align-center">
        <mat-icon class="material-symbols-outlined mr-3"
          >calendar_today</mat-icon
        >
        <p class="mat-subtitle-2 text-dark">Created 24 March, 2023</p>
      </div>
      <div class="vertical-divider mx-6"></div>
      <div class="flex align-center">
        <mat-icon class="material-symbols-outlined mr-3"
          >calendar_today</mat-icon
        >
       <p class="mat-subtitle-2 text-dark"> modified {{modifiedOn}}</p>
      </div>
    </div>
    <div class="product-desc">
      <h4 class="mat-subtitle-2 font-weight-500 mb-4">Description</h4>
      <p class="mat-subtitle-2">
        {{description}}
      </p>
    </div>
    <div class="product-features mt-8">
      <div class="flex align-center justify-between">
        <h4 class="mat-subtitle-2 font-weight-500 mb-4">Features</h4>
        <!-- below button will show only when added a feature  -->
        <button mat-button color="primary" [routerLink]="['/features/create']">Create feature</button>
      </div>
      <!-- with feature added -->
      <div class="features-wrapper">
       <div *ngIf="productDetail?.feature && productDetail.feature.length > 0; else noFeaturesBlock">
        <div class="feature-item flex border-2" *ngFor="let feature of productDetail.feature; let i = index">
          <div
            class="feature-logo border-2 flex-center font-weight-500 primary-text text-main"
          >
            <span>{{ feature.featureId}}</span>
          </div>
          <div class="details ml-8">
            <div class="flex align-center mb-2">
              <span
                class="mat-subtitle-2 font-weight-500 text-text text-primary"
                >{{ feature.name }}</span
              >
              <div
                class="active-text flex align-center green-text text-darken-3 ml-6"
              >
                <mat-icon
                  class="material-symbols-outlined mr-1 green-text text-darken-3"
                  color="primary"
                  >check_circle</mat-icon
                ><span>{{feature.status}}</span>
              </div>
            </div>
            <p class="mat-body-1 text-dark mb-2">
                   {{ feature.description }}
            </p>
            <span class="text-dark">Feature type : </span>
            <span class="text-text text-primary ml-3">{{feature.type}}</span>
          </div>
          <div class="action-btns flex align-center">
            <button mat-button color="primary" >
              <mat-icon
                class="material-symbols-outlined mb-1 small edit-icon"
                color="primary"
              >
                edit </mat-icon
              >Edit
            </button>
            <button
              mat-icon-button
              class="mb-1 ml-4"
              color="warn"
              aria-label="Example icon button with a vertical three dot icon"
            >
              <mat-icon class="material-symbols-outlined" color="warn"
                >close</mat-icon
              >
            </button>
          </div>
        </div>
        </div>

         <!-- No features block -->
  <ng-template #noFeaturesBlock>
    <div class="feature-add-block flex align-center justify-center p-6">
      <div class="text-center flex align-center flex vertical">
        <div class="icon-with-bg">
          <div class="bg-box"></div>
          <div class="icon inherit">
            <mat-icon class="material-symbols-outlined mb-1">featured_play_list</mat-icon>
          </div>
        </div>
        <p class="mat-subtitle-2 text-dark-1 mb-3 font-weight-500">
          You have not added any features
        </p>
        <button mat-button color="primary" class="small" [routerLink]="['/features']">
          Create Features
        </button>
      </div>
    </div>
  </ng-template>
    </div>
  </div>
</div>
