<div class="main-bg border-2 w-full h-full subscription-view">
    <div class="flex align-center title">
        <mat-icon class="material-symbols-outlined pointer text-headline-dark mr-2"
            [routerLink]="'/coupons'">keyboard_backspace</mat-icon>
        <h2 class="mat-headline-5 text-headline-dark">Subscription</h2>
    </div>
    <div class="inner-wrapper">
        <div class="flex sub-title pb-10">
            <h2 class="mat-subtitle-1 text-dark mr-2">Premium USD - Monthly</h2>
            <span class="chip-active text-white mat-subtitle-2 inline-block">Active</span>
        </div>
        <div class="tab-wrapper tab-panel">
            <mat-tab-group animationDuration="none" mat-stretch-tabs="false" mat-align-tabs="start" class="tabs-medium">
                <mat-tab label="Overview">
                    <div class="overview-box py-9">
                        <div class="date-data pb-8 flex justify-between">
                            <div>
                                <h4 class="text-dark mat-subtitle-2 mb-2">Activation Date</h4>
                                <span class="mat-body-1 text-grey-darken-6">Jan 16, 2023</span>
                            </div>
                            <div>
                                <h4 class="text-dark mat-subtitle-2 mb-2">Renew Date</h4>
                                <span class="mat-body-1 text-grey-darken-6">Feb 16, 2023</span>
                            </div>
                            <div>
                                <h4 class="text-dark mat-subtitle-2 mb-2">Billed</h4>
                                <span class="mat-body-1 text-grey-darken-6">Monthly</span>
                            </div>
                            <div>
                                <h4 class="text-dark mat-subtitle-2 mb-2">Subscription Amount</h4>
                                <a class="mat-body-1 pointer text-primary text-right block" (click)="openEdit('AmountDetailsSubscription')">$ 199.00</a>
                            </div>
                        </div>
                        <div class="payment-details">
                            <div class="detail-title w-full">
                                <h3 class="mat-subtitle-2 text-primary font-weight-500 mb-0">Payment Details</h3>
                            </div>
                            <div class="detail-wrapper">
                                <div class="flex justify-between align-center  pb-8">
                                    <div>
                                        <h4 class="text-dark mat-subtitle-2 mb-2">Last Payment</h4>
                                        <span class="mat-body-1 text-grey-darken-6">Payment Done</span>
                                    </div>
                                    <div class="card-detail py-2 px-4">
                                        <span class="mr-4">* * * *</span><span class="mr-4">* * * *</span><span
                                            class="mr-4">* * * *</span><span class="mr-4">0009</span>
                                        <span class="card-chip text-white mat-caption font-weight-400">VISA</span>
                                    </div>
                                    <div>
                                        <h3 class="text-grey-darken-6 mat-subtitle-2">$ 199.00</h3>
                                    </div>
                                </div>
                                <div class="flex justify-between align-center pb-9">
                                    <div>
                                        <h4 class="text-dark mat-subtitle-2 mb-2">Next Payment</h4>
                                        <span class="mat-body-1 text-grey-darken-6">March 16, 2023</span>
                                    </div>
                                    <div>
                                        <h3 class="text-grey-darken-6 mat-subtitle-2">$ 230.00</h3>
                                    </div>
                                </div>
                                <div class="flex justify-between align-center">
                                    <div>
                                        <span class="mat-caption font-weight-400 text-primary">Change Payment
                                            Method</span>
                                    </div>
                                    <div>
                                        <span class="mat-caption font-weight-400 text-primary">Payment History</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="other-details">
                            <div class="detail-title w-full flex justify-between align-center">
                                <h3 class="mat-subtitle-2 text-primary font-weight-500 mb-0">Other Details</h3>
                                <button class="flex icon-text mat-caption" (click)="openEdit('OtherDetailsSubscription')" mat-button color="primary">
                                    <mat-icon class="material-symbols-outlined mr-1" color="primary">edit</mat-icon>Edit
                                </button>
                            </div>
                            <div class="py-6">
                                <div class="flex">
                                    <div class="name-col">
                                        <h4 class="text-dark mat-subtitle-2 mb-2">Customer Name</h4>
                                        <span class="mat-body-1 text-grey-darken-6">Green Enterprises</span>
                                    </div>
                                    <div>
                                        <h4 class="text-dark mat-subtitle-2 mb-2">Billing Address</h4>
                                        <span class="mat-body-1 text-grey-darken-6">Abc, 1 Mumbai, 400012, India</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Invoices">
                    <div class="primary-table">
                      <table mat-table [dataSource]="invoices">
                        <!-- ID Column -->
                        <ng-container matColumnDef="id">
                          <th mat-header-cell *matHeaderCellDef>#ID</th>
                          <td
                            mat-cell
                            *matCellDef="let element"
                            class="text-primary"
                          >
                            {{ element.id }}
                          </td>
                        </ng-container>
            
                        <!-- Description Column -->
                        <ng-container matColumnDef="occurOn">
                          <th mat-header-cell *matHeaderCellDef>Occurs On</th>
                          <td
                            mat-cell
                            *matCellDef="let element"
                          >
                            {{ element.occurOn }}
                          </td>
                        </ng-container>
            
                        <!-- Created Date Column -->
                        <ng-container matColumnDef="status">
                          <th mat-header-cell *matHeaderCellDef>
                            <p>Status</p>
                          </th>
                          <td
                            mat-cell
                            *matCellDef="let element"
                            [ngClass]="element.status === 'Paid' ? 'Active' : 'InActive'" 
                          >
                            <p>{{ element.status }}</p>
                          </td>
                        </ng-container>
            
                        <!-- Created Date Column -->
            
                        <ng-container matColumnDef="paymentMethod">
                          <th mat-header-cell *matHeaderCellDef><p class="text-center">Payment Method</p></th>
                          <td
                            mat-cell
                            *matCellDef="let element"
                          >
                            <div class="flex align-center justify-center">
                              <mat-icon
                                class="material-symbols-outlined mr-2 grey-text text-darken-6"
                                >credit_card</mat-icon
                              >
                              {{ element.paymentMethod }}
                            </div>
                          </td>
                        </ng-container>
            
                        <!-- Description Column -->
                        <ng-container matColumnDef="amount">
                          <th mat-header-cell *matHeaderCellDef>Amount</th>
                          <td
                            mat-cell
                            *matCellDef="let element"
                          >
                            $ {{ element.amount }}
                          </td>
                        </ng-container>
            
                        <tr mat-header-row *matHeaderRowDef="invoiceCols"></tr>
                        <tr
                          mat-row
                          *matRowDef="let row; columns: invoiceCols"
                          [id]="row.id"
                        ></tr>
                      </table>
                    </div>
                  </mat-tab>
                  <mat-tab label="Activity Logs">
                    <div class="primary-table">
                      <table mat-table [dataSource]="activityLogs">
                        <!-- Description Column -->
                        <ng-container matColumnDef="timeStamp">
                          <th mat-header-cell *matHeaderCellDef>Timestamp</th>
                          <td
                            mat-cell
                            *matCellDef="let element"
                            [routerLink]="'/customers/view'"
                          >
                            {{ element.timeStamp }}
                          </td>
                        </ng-container>
            
                        <!-- Created Date Column -->
                        <ng-container matColumnDef="events">
                          <th mat-header-cell *matHeaderCellDef>
                           Events
                          </th>
                          <td
                            mat-cell
                            *matCellDef="let element"
                            [routerLink]="'/customers/view'"
                          >
                            {{ element.events }}
                          </td>
                        </ng-container>
            
                        <!-- Created Date Column -->
            
                        <ng-container matColumnDef="customerInfo">
                          <th mat-header-cell *matHeaderCellDef>Customer Info</th>
                          <td
                            mat-cell
                            *matCellDef="let element"
                            [routerLink]="'/customers/view'"
                          >
                            {{ element.customerInfo }}
                          </td>
                        </ng-container>
            
                        <!-- Description Column -->
                        <ng-container matColumnDef="eventSource">
                          <th mat-header-cell *matHeaderCellDef><p class="text-right">Event Source</p></th>
                          <td
                            mat-cell
                            *matCellDef="let element"
                          >
                          <p class="text-right">
                            <span class="primary-light-6-bg p-1 border-1 text-primary">
                                {{ element.eventSource }}
                            </span>
                          </p>
                          </td>
                        </ng-container>
            
                        <tr mat-header-row *matHeaderRowDef="logsCols"></tr>
                        <tr
                          mat-row
                          *matRowDef="let row; columns: logsCols"
                          [id]="row.id"
                        ></tr>
                      </table>
                    </div>
                  </mat-tab>
            </mat-tab-group>

        </div>
    </div>
</div>