<div class="cerate-feature-wrapper pt-8">
  <div class="inner-form-wrapper">
    <div class="header-section pb-6">
      <div class="flex align-center justify-between">
        <div class="flex align-center">
          <mat-icon class="material-symbols-outlined pointer mr-1" color="primary"
            [routerLink]="'/features'">keyboard_backspace</mat-icon>
          <p class="mat-headline-5 text-purple-lighten-1">Update Feature</p>
        </div>
      </div>
    </div>
    <div class="form-with-sample flex border-2">
      <div class="form-left pt-10 pl-10 pr-5 pb-6 mr-6 border-2 main-bg">
        <div class="header-section pr-5">
          <h5 class="text-blue-darken mat-subtitle-1 font-weight-500">
            Features Details
          </h5>
        </div>
        <div class="form-wrapper pr-5">
          <form [formGroup]="featureForm">
            <div class="form-container mt-6">
              <div class="input-wrapper relative">
                <div class="flex align-center mb-2">
                  <p class="mat-subtitle-2 font-weight-500 text-blue-darken">
                    Feature Name
                  </p>
                  <mat-icon class="material-symbols-outlined pointer ml-3 help-icon text-text text-primary"
                    [ngxTippy]="featureName" [tippyProps]="{ placement: 'right', interactive: true }">help</mat-icon>
                  <ng-template #featureName let-name class="t-template">
                    <div class="help-info-tooltip">
                      <div class="details">
                        Enter a name that helps you identify this Feature.
                      </div>
                     
                    </div>
                  </ng-template>
                </div>
                <mat-form-field appearance="outline" class="border-2">
                  <div class="input-container">
                  <input required matInput placeholder="Enter here" formControlName="name" 
                  [(ngModel)]="searchQuery"
                  (input)="onSearchInput()" />
                  <div class="small-loader absolute right-0" *ngIf="showLoader">
                    <mat-spinner mode="indeterminate"  [diameter]="30"></mat-spinner>
                  </div>
                </div>
                  <mat-error *ngIf="
                featureForm.controls['name'].invalid &&
                featureForm.controls['name'].touched
              ">
                    <ng-container *ngIf="featureForm.controls['name'].errors['required']">
                      Name is required and cannot be left empty.
                    </ng-container>
                    <ng-container *ngIf="featureForm.controls['name'].errors['maxlength']">
                      Name cannot exceed 20 characters.
                    </ng-container>
                    <ng-container *ngIf="featureForm.controls['name'].errors['pattern']">
                      Name cannot contain special characters.
                    </ng-container>
                  </mat-error>
                </mat-form-field>
                <div *ngIf="featuresSearchDataLength ==true&&search.length>0" class="absolute custom-error text-error mat-caption font-weight-500">
                  This name is already existing. Please choose a unique name            
                 </div>
                  <div *ngIf="featuresSearchDataLength ==false&&search.length>0&&showLoader==false"class="custom-tick absolute custom-tick">
                    <mat-icon class="material-icons text-success">check_circle</mat-icon>
                  </div>
              </div>
              <div class="input-wrapper">
                <div class="flex align-center mb-2">
                  <p class="mat-subtitle-2 font-weight-500 text-blue-darken">
                    Product Name
                  </p>
                  <!-- <mat-icon class="material-symbols-outlined pointer ml-3 help-icon text-text text-primary"
                    [ngxTippy]="selectProduct" [tippyProps]="{ placement: 'right', interactive: true }">help</mat-icon>
                  <ng-template #selectProduct let-name class="t-template">
                    <div class="help-info-tooltip"> -->
                      <!-- <div class="heading-with-background">Product</div> -->
                      <!-- <div class="details">
                        Please select a product to create a feature to it.
                      </div> -->
                      <!-- <button mat-button color="primary" class="px-0">
                        Learn more
                      </button> -->
                    <!-- </div>
                  </ng-template> -->
                </div>
                <mat-form-field appearance="outline" class="border-2 product-select">
                  <!-- <mat-label> Select </mat-label> -->
                  <mat-select required formControlName="productID" placeholder="select">
                    <mat-option *ngFor="let product of filteredProducts | async" [value]="product">
                      {{ product }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="input-wrapper">
                <div class="flex align-center mb-2">
                  <p class="mat-subtitle-2 font-weight-500 text-blue-darken">
                    Feature ID
                  </p>
                  <!-- <mat-icon class="material-symbols-outlined pointer ml-3 help-icon text-text text-primary"
                    [ngxTippy]="helpinfotooltip"
                    [tippyProps]="{ placement: 'right', interactive: true }">help</mat-icon>
                  <ng-template #helpinfotooltip let-name>
                    <div class="help-info-tooltip">
                      <div class="heading-with-background">Feature id</div>
                      <div class="details">
                        Please enter a Customized Id.If user do not enter this field,
                        the system will generate a 'Customized Human-Readable-id'
                        based on the Name field.
                        <div>
                          e.g. Feature Name: "Analytics Reporting" FeatureId:
                          "analytics-reporting-01".
                        </div>
                      </div>
                    </div>
                  </ng-template> -->
                </div>
                <mat-form-field appearance="outline" class="border-2 disabled-input">
                  <input required matInput readonly placeholder="Enter here" formControlName="featureId" />
                </mat-form-field>
              </div>
              <div class="input-wrapper">
                <div class="flex align-center mb-2">
                  <p class="mat-subtitle-2 font-weight-500 text-blue-darken">
                    Feature Type
                  </p>
                  <mat-icon class="material-symbols-outlined pointer ml-3 help-icon text-text text-primary"
                    [ngxTippy]="type" [tippyProps]="{ placement: 'right', interactive: true }">help</mat-icon>
                  <ng-template #type let-name class="t-template">
                    <div class="help-info-tooltip">
                      <!-- <div class="heading-with-background">Feature Type</div> -->
                      <div class="details">
                        Select how entitlements to this feature can be set in plans,
                        addons, and charges.
                      </div>
                      <!-- <button mat-button color="primary" class="px-0">
                        Learn more
                      </button> -->
                    </div>
                  </ng-template>
                </div>
                <mat-form-field appearance="outline" class="border-2">
                  <mat-select required formControlName="type" placeholder="select">
                    <mat-option *ngFor="let type of featureType" value="{{ type.title }}"
                      (click)="onTypeSelection(type.title)">
                      {{ type.title }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="input-wrapper">
                <div class="flex align-center mb-2">
                  <p class="mat-subtitle-2 font-weight-500 text-blue-darken">
                    Description
                  </p>
                </div>
                <mat-form-field appearance="outline" class="description-box">
                  <textarea rows="4" matInput placeholder="Enter here..." formControlName="description"></textarea>
                  <mat-error *ngIf="
                featureForm.controls['description'].invalid &&
                featureForm.controls['description'].touched
              ">
                    <ng-container *ngIf="featureForm.controls['description'].errors['maxlength']">
                      Description cannot exceed 500 characters.
                    </ng-container>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="input-wrapper" *ngIf="
            (this.featureForm.value.type &&
              this.featureForm.value.type != 1 &&
              this.featureForm.value.type !== 'switch' &&
              this.featureForm.value.type !== 'custom') ||
            this.isRangeSelected
          ">
                <div class="flex align-center mb-2">
                  <p class="mat-subtitle-2 font-weight-500 text-blue-darken">
                    Entitlement Units
                  </p>
                  <mat-icon class="material-symbols-outlined pointer ml-3 help-icon text-text text-primary"
                    [ngxTippy]="selectProduct" [tippyProps]="{ placement: 'right', interactive: true }">help</mat-icon>
                  <ng-template #selectProduct let-name class="t-template">
                    <div class="help-info-tooltip">
                      <!-- <div class="heading-with-background">Entitlement Units</div> -->
                      <div class="details">
                        Please select a product to create a feature to it.
                      </div>
                      <!-- <button mat-button color="primary" class="px-0">
                        Learn more
                      </button> -->
                    </div>
                  </ng-template>
                </div>
                <mat-form-field appearance="outline" class="border-2">
                  <input required matInput placeholder="Enter here" formControlName="unit" />
                </mat-form-field>
              </div>
              <div *ngIf="
            this.featureForm.value.unit ||
            this.featureForm.value.type == 'custom'
          ">
                <ng-container formArrayName="levels">
                  <ng-container *ngFor="let element of levels.controls; let i = index">
                    <div class="flex align-center wrap mb-3" [formGroupName]="i">
                      <div class="flex align-center wrap w-88">
                        <div class="input-wrapper pr-2">
                          <div class="flex align-center mb-2">
                            <p class="mat-subtitle-2 font-weight-500 text-blue-darken">
                              Entitlement
                            </p>
                          </div>
                          <mat-form-field appearance="outline" class="border-2">
                            <input (input)="setName(i)" required matInput placeholder="Enter here"
                              formControlName="value" />
                          </mat-form-field>
                        </div>
                        <div class="input-wrapper">
                          <div class="flex align-center mb-2">
                            <p class="mat-subtitle-2 font-weight-500 input-label">
                              Display Name
                            </p>
                          </div>
                          <mat-form-field appearance="outline" class="border-2">
                            <input matInput placeholder="Enter here" formControlName="name" />
                          </mat-form-field>
                        </div>
                      </div>
                      <button
                        *ngIf="
                          levels.controls.length > 1 &&
                          i < levels.controls.length - 1 &&
                          i != 0
                        "
                        mat-icon-button
                        color="warn"
                        disableRipple
                        class="light-bg medium rounded-1 mb-2"
                        (click)="deleteLevels(i)"
                      >
                      <mat-icon
                      class="material-symbols-outlined mr-0"
                      color="warn"
                      >close</mat-icon
                    >
                      </button>
                    </div>
                  </ng-container>
                </ng-container>
                <div class="flex">
                  <button mat-button color="primary" class="small-font-14 mr-2" (click)="toggleUnlimited()">
                    <!-- <mat-icon class="add-course-btn"></mat-icon -->
                    {{ unlimitedButtonLabel }}
                  </button>
                <button mat-button color="primary" class="small-font-16" (click)="addLevels()"
                  *ngIf="!isRangeSelected">
                  <mat-icon class="add-course-btn mat-primary">add</mat-icon>Add Entitlement
                </button>
              </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="sample-right">
        <div class="inner-block border-2 main-bg">
          <div class="header-section">
            <h5 class="text-blue-darken mat-subtitle-1 font-weight-500">
              Sample Feature
            </h5>
          </div>
          <ng-container *ngFor="let sample of featureSamples; let i = index">
            <div class="mt-4 mb-2">
              <div class="flex">
                <mat-icon class="material-symbols-outlined text-icon mr-2">
                  {{ sample.type === 'switch' ? 'toggle_off' : sample.type === 'range' ? 'arrow_range' : sample.type === 'quantity' ? 'production_quantity_limits' : 'tune' }}
                </mat-icon>
                <h3 class="font-weight-500 mat-subtitle-2 text-blue-darken m-0">
                  {{ sample.type | titlecase }} Feature
                </h3>
              </div>
              <p class="mat-h4 text-grey-darken mb-3">
                {{ sample.description }}
              </p>
              <button
                mat-button
                color="primary"
                class="medium px-1 mb-3 font-weight-500"
                (click)="setSampleFeature(sample)"
              >
                Try a Sample
              </button>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="footer-section py-6">
      <div class="action-btns flex align-center justify-between">
        <mat-checkbox color="primary" class="font-weight-500 checkbox ml-n-3" 
        [checked]="featureForm.get('status').value"
        (change)="toggleStatus()" >Active</mat-checkbox>
        <div>
          <button mat-stroked-button color="primary" class="mr-2 large" [mat-dialog-close]="true" (click)="onDelete()">
            Back
          </button>
          <button mat-flat-button color="primary" class="large" type="submit" (click)="onSubmit()" [disabled]="
          !featureForm.valid &&
          !featureForm.get('productID')?.value &&
          this.featureForm.value.type !== 'switch' &&
          this.featureForm.value.type !== 'custom'||featuresSearchDataLength ==true
        ">
            Update
          </button>
        </div>
      </div>
    </div>
  </div>
</div>