<div class="outer-layout">
  <mat-sidenav-container [ngClass]="opened ? 'sidenav-open' : 'sidenav-closed'">
    <mat-sidenav #sidenav mode="side" opened="true" class="sidenav-slider">
      <!-- <app-sidebar (newItemEvent)="toggleSidenav($event)"></app-sidebar> -->
      <!-- <sft-leftNavigation></sft-leftNavigation> -->
      <div class="sidenav-wrapper border-2">
        <div class="sidebar-toggle">
          <button
            mat-mini-fab
            color="accent"
            class="toggle-sidenav"
            (click)="toggleSidenav()"
          >
            <svg
              width="8"
              height="14"
              viewBox="0 0 8 14"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M0.269968 12.3681L1.42697 13.5186L7.85547 7.08355L1.42047 0.648554L0.269969 1.79905L5.55447 7.08355L0.269968 12.3681V12.3681Z"
                fill="white"
              />
            </svg>
          </button>
        </div>
        <div class="sidebar-wrapper">
          <div class="logo pointer">
            <div class="logo-img pointer">
              <img src="/framework-logo.png" alt="logo" />
            </div>
            <div class="text-wrapper">
              <h3>Digital</h3>
              <span class="logo-text">Framework</span>
            </div>
          </div>
          <div class="sidebar-scrollable mt-11">
            <mat-nav-list class="sidebar p-0">
              <div *ngFor="let element of Menu_Headings" class="transition-400">
                <div
                  *ngIf="element.name != 'Dashboard'"
                  class="category-heading"
                >
                  <h1>{{ element.name }}</h1>
                </div>
                <mat-list-item
                  class="nav-list-item p-0 w-full"
                  *ngFor="let item of getList(element.category)"
                >
                  <a
                    class="icon-wrapper flex align-center"
                  >
                    <div class="flex justify-center sidebar-icon-wraper">
                      <mat-icon
                        class="material-symbols-outlined m-0 sidebar-icon"
                        >{{ item.icon }}</mat-icon
                      >
                    </div>
                    <div class="content-wrapper">
                      <span class="content">{{ item.name }}</span>
                    </div>
                  </a>
                </mat-list-item>
              </div>
            </mat-nav-list>
            <div class="image-wrapper">
              <div class="img">
                <img src="/dashboard-cat.png" alt="Dashboard Get Started" />
              </div>
              <div class="text">
                <h3>First steps</h3>
                <p class="description">
                  Customize your dashboard and lean <br />about out features
                </p>
                <span class="pointer">Get Started</span>
              </div>
            </div>
          </div>
          <mat-nav-list class="config-section sidebar">
            <mat-list-item
              class="nav-list-item p-0"
              *ngFor="let item of configOptions"
            >
              <a
                class="icon-wrapper flex align-center"
                [routerLink]="['/', item.state]"
              >
                <mat-icon class="material-symbols-outlined m-0 sidebar-icon">{{
                  item.icon
                }}</mat-icon>
                <div class="content-wrapper">
                  <span class="content">{{ item.name }}</span>
                </div>
              </a>
            </mat-list-item>
          </mat-nav-list>
        </div>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <!-- Header for application starts here! -->
      <mat-toolbar class="header-wrapper border-2">
        <div class="global-search basic mr-6 border-2">
          <span class="search-icon pointer">
            <img src="/icons/search.svg" alt="search-icon" />
          </span>
          <input type="text" placeholder="Search..." />
        </div>
        <div class="header-right">
          <div
            class="notifications-section pointer"
            [matMenuTriggerFor]="notificationsMenu"
            matBadge="3"
            matBadgeSize="small"
            matBadgeColor="warn"
          >
            <img src="/icons/notifications.svg" alt="notifications-icon" />
          </div>
          <mat-menu
            #notificationsMenu="matMenu"
            class="notifications-menu border-2"
            backdropClass="right-menu"
          >
            <div class="notifications-header">
              <div class="flex align-center justify-between">
                <div class="label">Notifications</div>
                <mat-chip class="basic-chip"> 4 New </mat-chip>
              </div>
              <div class="tab-panel" (click)="preventClose($event)">
                <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
                  <mat-tab label="All (4)">
                    <div
                      class="relative h-55"
                      *ngIf="notificationsData.length == 0"
                    >
                      <div class="absolute position-center text-center w-full">
                        <img src="/notifications-icon.png" alt="notification-icon">
                        <span class="block mt-6">
                          Hey! You have no notifications.
                        </span>
                      </div>
                    </div>
                    <div
                      class="notification-list"
                      (click)="preventClose($event)"
                      *ngIf="notificationsData.length > 0"
                    ></div>
                  </mat-tab>
                  <mat-tab label="Messages">
                    <div
                      class="relative h-55"
                      *ngIf="notificationsData.length == 0"
                    >
                      <div class="absolute position-center text-center w-full">
                        <img src="/notifications-icon.png" alt="no data" />
                        <span class="block mt-6">
                          Hey! You have no notifications.
                        </span>
                      </div>
                    </div>
                    <div
                      class="message-list"
                      (click)="preventClose($event)"
                      *ngIf="notificationsData.length > 0"
                    >
                      My Messages
                    </div>
                  </mat-tab>
                  <mat-tab label="Alerts">
                    <div
                      class="relative h-55"
                      *ngIf="notificationsData.length == 0"
                    >
                      <div class="absolute position-center text-center w-full">
                        <img src="/notifications-icon.png" alt="notifications-icon" />
                        <span class="block mt-6">
                          Hey! You have no notifications.
                        </span>
                      </div>
                    </div>
                    <div
                      class="message-list"
                      (click)="preventClose($event)"
                      *ngIf="notificationsData.length > 0"
                    >
                      Alerts
                    </div>
                  </mat-tab>
                </mat-tab-group>
              </div>
              <div
                class="text-center modal-footer pointer"
                (click)="preventClose($event)"
              >
                <span class="block py-4"> View All </span>
              </div>
            </div>
          </mat-menu>
          <div class="user-profile pointer" [matMenuTriggerFor]="menu">
            <div class="user-image">
              <img src="/profile-avatar-1.png" />
            </div>
            <div class="user-info">
              <span class="name">John Smith</span>
              <span class="role">Founder</span>
            </div>
          </div>
          <mat-menu
            #menu="matMenu"
            class="profile-menu"
            backdropClass="alert-menu"
          >
            <div class="profile-menu-outer">
              <div class="grad-bg">
                <div class="user-initials">JS</div>
              </div>
              <div class="profile-inner">
                <p class="mat-h1 fw-600 m-0">John Smith</p>
                <p class="m-0 mt-1">Founder</p>
              </div>
              <div class="profile-paths">
                <a
                  class="flex align-center justify-between user-link"
                  *ngFor="let element of userProfile"
                >
                  <div class="flex align-center">
                    <mat-icon class="material-symbols-outlined">{{
                      element.icon
                    }}</mat-icon>
                    <span class="ml-3">{{ element.name }}</span>
                  </div>
                  <div *ngIf="element.toggle">
                    <mat-slide-toggle
                      color="primary"
                      (click)="preventClose($event)"
                    ></mat-slide-toggle>
                  </div>
                </a>
              </div>
            </div>
          </mat-menu>
        </div>
      </mat-toolbar>
      <div class="pt-6 main-content-height">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
