<div
  class="form-with-sample flex main-bg border-2 w-full h-full overflow-scroll pt-2 pb- 5 px-6"
>
  <div class="form-left">
    <div class="header-section">
      <div class="pt-10 pb-5 pl-6">
        <div class="flex align-center mb-2">
          <mat-icon
            class="material-symbols-outlined pointer"
            color="primary"
            [routerLink]="'/features'"
            >keyboard_backspace</mat-icon
          >
          <span class="mat-h1 primary-text text-main ml-2">Create</span>
        </div>
        <span class="pl-8 grey-text text-lighten-9 fs-lg">
          Fill in the details to create a new item
        </span>
      </div>
    </div>
    <form [formGroup]="featureForm">
      <div class="form-container pl-6 pr-10">
        <div class="input-wrapper">
          <div class="flex align-center mb-2">
            <p class="mat-subtitle-2 font-weight-500 input-label">
              Feature Name
            </p>
            <mat-icon
              class="material-symbols-outlined pointer ml-3 help-icon text-text text-primary"
              [ngxTippy]="selectProduct"
              [tippyProps]="{ placement: 'right' }"
              >help</mat-icon
            >
            <ng-template #selectProduct let-name class="t-template">
              <div class="help-info-tooltip">
                <div class="heading-with-background">Feature name</div>
                <div class="details">
                  Please select a product to create a feature to it.
                </div>
                <button mat-button color="primary" class="px-0">
                  Learn more
                </button>
              </div>
            </ng-template>
          </div>
          <mat-form-field appearance="outline" class="border-2">
            <input
              required
              matInput
              placeholder="Enter here"
              formControlName="name"
            />
          </mat-form-field>
        </div>
        <div class="input-wrapper">
          <div class="flex align-center mb-2">
            <p class="mat-subtitle-2 font-weight-500 input-label">
              Select Product
            </p>
            <mat-icon
              class="material-symbols-outlined pointer ml-3 help-icon text-text text-primary"
              [ngxTippy]="selectProduct"
              [tippyProps]="{ placement: 'right' }"
              >help</mat-icon
            >
            <ng-template #selectProduct let-name class="t-template">
              <div class="help-info-tooltip">
                <div class="heading-with-background">Product</div>
                <div class="details">
                  Please select a product to create a feature to it.
                </div>
                <button mat-button color="primary" class="px-0">
                  Learn more
                </button>
              </div>
            </ng-template>
          </div>
          <mat-form-field appearance="outline" class="border-2">
            <!-- <mat-label> Select </mat-label> -->
            <mat-select
              required
              formControlName="productID"
              placeholder="select"
            >
              <mat-option
                *ngFor="let product of productArray"
                [value]="product"
              >
                {{ product }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="input-wrapper">
          <div class="flex align-center mb-2">
            <p class="mat-subtitle-2 font-weight-500 input-label">Feature ID</p>
            <mat-icon
              class="material-symbols-outlined pointer ml-3 help-icon text-text text-primary"
              [ngxTippy]="helpinfotooltip"
              [tippyProps]="{ placement: 'right' }"
              >help</mat-icon
            >
            <ng-template #helpinfotooltip let-name>
              <div class="help-info-tooltip">
                <div class="heading-with-background">Feature id</div>
                <div class="details">
                  Microsoft Teams is the ultimate messaging app for your
                  organization—a workspace for real-time collaboration and
                  communication, meetings, file and app sharing, and even the
                  occasional emoji! All in one place, all in the open, all
                  accessible to everyone.
                </div>
              </div>
            </ng-template>
          </div>
          <mat-form-field appearance="outline" class="border-2">
            <input
              required
              matInput
              placeholder="Enter here"
              formControlName="featureId"
            />
          </mat-form-field>
        </div>
        <div class="input-wrapper">
          <div class="flex align-center mb-2">
            <p class="mat-subtitle-2 font-weight-500 input-label">
              Feature Type
            </p>
            <mat-icon
              class="material-symbols-outlined pointer ml-3 help-icon text-text text-primary"
              [ngxTippy]="selectProduct"
              [tippyProps]="{ placement: 'right' }"
              >help</mat-icon
            >
            <ng-template #selectProduct let-name class="t-template">
              <div class="help-info-tooltip">
                <div class="heading-with-background">Feature type</div>
                <div class="details">
                  Select how entitlements to this feature can be set in plans,
                  addons, and charges.
                </div>
                <button mat-button color="primary" class="px-0">
                  Learn more
                </button>
              </div>
            </ng-template>
          </div>
          <mat-form-field appearance="outline" class="border-2">
            <mat-select required formControlName="type" placeholder="select">
              <mat-option
                *ngFor="let type of featureType"
                value="{{ type.title }}"
              >
                {{ type.title }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="input-wrapper">
          <div class="flex align-center mb-2">
            <p class="mat-subtitle-2 font-weight-500 input-label">
              Description
            </p>
          </div>
          <mat-form-field appearance="outline">
            <textarea
              required
              rows="4"
              matInput
              placeholder="Enter here..."
              formControlName="description"
            ></textarea>
          </mat-form-field>
        </div>
        <div
          class="input-wrapper"
          *ngIf="
            this.featureForm.value.type && this.featureForm.value.type != 1
          "
        >
          <div class="flex align-center mb-2">
            <p class="mat-subtitle-2 font-weight-500 input-label">
              Entitlement Units
            </p>
            <mat-icon
              class="material-symbols-outlined pointer ml-3 help-icon text-text text-primary"
              [ngxTippy]="selectProduct"
              [tippyProps]="{ placement: 'right' }"
              >help</mat-icon
            >
            <ng-template #selectProduct let-name class="t-template">
              <div class="help-info-tooltip">
                <div class="heading-with-background">Entitlement Units</div>
                <div class="details">
                  Please select a product to create a feature to it.
                </div>
                <button mat-button color="primary" class="px-0">
                  Learn more
                </button>
              </div>
            </ng-template>
          </div>
          <mat-form-field appearance="outline" class="border-2">
            <input
              required
              matInput
              placeholder="Enter here"
              formControlName="unit"
            />
          </mat-form-field>
        </div>
        <div *ngIf="this.featureForm.value.unit">
          <ng-container formArrayName="levels">
            <ng-container
              *ngFor="let element of levels.controls; let i = index"
            >
              <div class="flex align-center wrap mb-3" [formGroupName]="i">
                <div class="flex align-center wrap w-88">
                  <div class="input-wrapper pr-2">
                    <div class="flex align-center mb-2">
                      <p class="mat-subtitle-2 font-weight-500 input-label">
                        Entitlement
                      </p>
                    </div>
                    <mat-form-field appearance="outline" class="border-2">
                      <input
                        (change)="setName(i)"
                        required
                        matInput
                        placeholder="Enter here"
                        formControlName="value"
                      />
                    </mat-form-field>
                  </div>
                  <div class="input-wrapper">
                    <div class="flex align-center mb-2">
                      <p class="mat-subtitle-2 font-weight-500 input-label">
                        Display Name
                      </p>
                    </div>
                    <mat-form-field appearance="outline" class="border-2">
                      <input
                        matInput
                        placeholder="Enter here"
                        formControlName="name"
                      />
                    </mat-form-field>
                  </div>
                </div>
                <button
                  *ngIf="i == 0"
                  mat-stroked-button
                  disableRipple
                  class="upper-case primary light medium px-1 ml-2"
                >
                  Default
                </button>
                <button
                  *ngIf="
                    levels.controls.length > 1 &&
                    i < levels.controls.length - 1 &&
                    i != 0
                  "
                  mat-stroked-button
                  disableRipple
                  class="upper-case primary light medium px-1 ml-2"
                  (click)="deleteLevels(i)"
                >
                  Remove
                </button>
                <button
                  *ngIf="i == levels.controls.length - 1"
                  mat-stroked-button
                  disableRipple
                  class="upper-case primary light medium px-1 ml-2"
                >
                  Maximum
                </button>
              </div>
            </ng-container>
          </ng-container>
          <div>
            <button mat-stroked-button (click)="toggleUnlimited()">
              <mat-icon class="add-course-btn"></mat-icon
              >{{ unlimitedButtonLabel }}
            </button>
          </div>
          <button mat-stroked-button (click)="addLevels()">
            <mat-icon class="add-course-btn"></mat-icon>Add Entitlement
          </button>
        </div>
        <div class="action-btns flex align-center justify-between">
          <mat-checkbox
            color="primary"
            formControlName="status"
            class="font-weight-500 checkbox ml-n-3"
            >Active</mat-checkbox
          >
          <div>
            <button
              mat-stroked-button
              color="primary"
              class="mr-2 large"
              (click)="onDelete()"
            >
              Dismiss
            </button>
            <button
              mat-flat-button
              color="primary"
              class="large"
              type="button"
              (click)="onSubmit()"
            >
              Create
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="sample-right h-auto">
    <div class="py-5 pr-4 pl-8">
      <div class="heading-with-background mb-2">Sample Feature</div>
      <div class="text-text text-primary mb-2">
        <h3 class="fw-500 m-0">Switch Feature</h3>
        <p class="mat-h4">
          This feature type has 2 entitlement levels- "available" and "not
          available".
        </p>
        <button mat-button color="primary" class="medium px-1">
          Try a Sample
        </button>
      </div>
      <div class="text-text text-primary mb-2">
        <h3 class="fw-500 m-0">Range Feature</h3>
        <p class="mat-h4">
          This feature supports range based entitlements. For eg : Customer’s
          access can be between 100 and 300 API / minute.
        </p>
        <button mat-button color="primary" class="medium px-1">
          Try a Sample
        </button>
      </div>
      <div class="text-text text-primary mb-2">
        <h3 class="fw-500 m-0">Quantity Feature</h3>
        <p class="mat-h4">
          This feature type has numbered entitlement levels- For eg : 2,3,4 or
          10 user licenses.
        </p>
        <button mat-button color="primary" class="medium px-1">
          Try a Sample
        </button>
      </div>
      <div class="text-text text-primary">
        <h3 class="fw-500 m-0">Custom Feature</h3>
        <p class="mat-h4">
          This feature supports range based entitlements. For eg : Customer’s
          access can be between 100 and 300 API / minute.
        </p>
        <button mat-button color="primary" class="medium px-1">
          Try a Sample
        </button>
      </div>
    </div>
  </div>
</div>
