<div class="new-charge-popup">
    <div class="heading pb-3">
      <h5 class="mat-subtitle-1 text-blue-darken mb-2 font-weight-500">Add New Charge </h5>
      <p class="text-grey-darken mt-1">Fill in the details to add new charge</p>
    </div>
    <div class="inner-block pr-5 pb-4">

    </div>
    <div class="flex align-center justify-end">
      <button mat-stroked-button color="primary" class="mr-2">Dismiss</button>
      <button mat-flat-button color="primary">
        Create
      </button>
    </div>
  </div>