<div
  *ngIf="plansData; else noDataList"
  class="relative main-bg border-2 w-full h-full p-7 overflow-scroll"
>
  <div>
    <div class="flex justify-between align-center px-1">
      <div class="flex align-center">
        <h1 class="text-text text-dark">Plans</h1>
        <mat-chip class="chip-dark ml-3">
          {{ plansData.length }}
        </mat-chip>
      </div>
      <div class="flex align-center">
        <div class="global-search light mr-6 border-2">
          <span class="search-icon pointer">
            <img
              src="../../../../assets/images/icons/search.svg"
              alt="search-icon"
            />
          </span>
          <input
            type="text"
            placeholder="Search anything..."
            (change)="searchItem($event)"
          />
        </div>
        <button
          mat-flat-button
          color="primary"
          class="create-btn"
          [routerLink]="['create']"
        >
          <mat-icon class="material-symbols-outlined m-0 white-text"
            >add_circle</mat-icon
          >
          <span class="text-nowrap block ml-2 letter-spacing-0"
            >Create Plan</span
          >
        </button>
      </div>
    </div>
    <ng-container *ngIf="plansData.length > 0; else noRecordFound">
      <div class="primary-table mt-8 px-1 pb-2">
        <table
          mat-table
          [dataSource]="plansData"
          matSort
          (matSortChange)="announceSortChange($event)"
        >
          <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
          <!-- Product ID Column -->
          <ng-container matColumnDef="plan_ID">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>#Plan ID</th>
            <td mat-cell *matCellDef="let element" [routerLink]="'/plans/view'">
              {{ element.planId }}
            </td>
          </ng-container>

          <!-- Product Name Column -->
          <ng-container matColumnDef="external_name">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              sortActionDescription="Sort by title"
            >
              External Name
            </th>
            <td mat-cell *matCellDef="let element" [routerLink]="'/plans/view'">
              {{ element.externalName }}
            </td>
          </ng-container>

          <!-- Product Name Column -->
          <ng-container matColumnDef="internal_name">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              sortActionDescription="Sort by title"
            >
              Internal Name
            </th>
            featuresData
            <td mat-cell *matCellDef="let element" [routerLink]="'/plans/view'">
              {{ element.internalName }}
            </td>
          </ng-container>

          <!-- Created Date Column -->
          <ng-container matColumnDef="created_at">
            <th mat-header-cell *matHeaderCellDef>Created On</th>
            <td mat-cell *matCellDef="let element" [routerLink]="'/plans/view'">
              {{ element.createdOn }}
            </td>
          </ng-container>

          <!-- Created Date Column -->
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>Status</th>
            <td
              mat-cell
              *matCellDef="let element"
              [ngClass]="element.status"
              [routerLink]="'/plans/view'"
            >
              {{ element.status }}
            </td>
          </ng-container>

          <!-- Created Date Column -->
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let element">
              <mat-icon
                class="material-symbols-outlined"
                [matMenuTriggerFor]="actionsMenu"
              >
                more_vert
              </mat-icon>
              <mat-menu
                #actionsMenu="matMenu"
                class="actions-menu"
                backdropClass="edit-menu"
              >
                <button
                  mat-menu-item
                  disableRipple
                  [routerLink]="['/plans/create/'] + element.planId"
                >
                  Edit
                </button>
                <button
                  mat-menu-item
                  disableRipple
                  (click)="openDelete(element.planId)"
                >
                  Delete
                </button>
              </mat-menu>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: displayedColumns"
            [id]="row.id"
          ></tr>
        </table>
        <div class="flex align-center justify-between mt-4">
          <div class="flex align-center">
            <span>Show</span>
            <div class="w-10 mx-2 basic-border">
              <mat-select (selectionChange)="setLimit($event)" value="5">
                <mat-option value="5">5</mat-option>
                <mat-option value="10">10</mat-option>
                <mat-option value="20">20</mat-option>
                <mat-option value="50">50</mat-option>
                <mat-option value="100">100</mat-option>
              </mat-select>
            </div>
            <span>Entries</span>
          </div>

          <div class="col-md-10">
            <div class="paginations">
              <div>
                <div class="btn-group" id="radioBtn">
                  <a
                    class="btn btn-primary btn-sm notActive"
                    (click)="onPrevious()"
                  >
                    Previous
                  </a>
                  <a class="btn btn-primary btn-sm active mx-5">{{
                    pageNumber
                  }}</a>
                  <a class="btn btn-primary btn-sm notActive" (click)="onNext()"
                    >Next
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-template #noRecordFound> No Data is Visible </ng-template>
  </div>
</div>
<ng-template #noDataList>
  <div class="relative border-2 w-full h-full p-7 overflow-scroll main-bg">
    <app-empty-listing [items]="emptyList"></app-empty-listing>
  </div>
</ng-template>
