<mat-sidenav-content>
  <!-- Header for application starts here! -->
  <div class="header-wrapper border-2">
    <!-- <div class="global-search basic mr-6 border-2">
      <span class="search-icon pointer">
        <img
          src="/icons/search.svg"
          alt="search-icon"
        />
      </span>
      <input type="text" placeholder="Search..." />
    </div> -->
    <sft-searchbar></sft-searchbar>
    <div class="header-right">
      <div
        class="notifications-section pointer"
        [matMenuTriggerFor]="notificationsMenu"
        matBadge="3"
        matBadgeSize="small"
        matBadgeColor="warn"
      >
        <img
          src="/icons/notifications.svg"
          alt="notifications-icon"
        />
      </div>
      <mat-menu
        #notificationsMenu="matMenu"
        class="notifications-menu border-2"
        backdropClass="right-menu"
      >
        <div class="notifications-header">
          <div class="flex align-center justify-between">
            <div class="label">Notifications</div>
            <mat-chip class="basic-chip"> 4 New </mat-chip>
          </div>
          <div class="tab-panel" (click)="preventClose($event)">
            <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
              <mat-tab label="All (4)">
                <div
                  class="relative h-55"
                  *ngIf="notificationsData.length == 0"
                >
                  <div class="absolute position-center text-center w-full">
                    <img
                      src="/notifications-icon.png"
                      alt="no data"
                    />
                    <span class="block mt-6">
                      Hey! You have no notifications.
                    </span>
                  </div>
                </div>
                <div
                  class="notification-list"
                  (click)="preventClose($event)"
                  *ngIf="notificationsData.length > 0"
                ></div>
              </mat-tab>
              <mat-tab label="Messages">
                <div
                  class="relative h-55"
                  *ngIf="notificationsData.length == 0"
                >
                  <div class="absolute position-center text-center w-full">
                    <img
                      src="/notifications-icon.png"
                      alt="no data"
                    />
                    <span class="block mt-6">
                      Hey! You have no notifications.
                    </span>
                  </div>
                </div>
                <div
                  class="message-list"
                  (click)="preventClose($event)"
                  *ngIf="notificationsData.length > 0"
                >
                  My Messages
                </div>
              </mat-tab>
              <mat-tab label="Alerts">
                <div
                  class="relative h-55"
                  *ngIf="notificationsData.length == 0"
                >
                  <div class="absolute position-center text-center w-full">
                    <img
                      src="/notifications-icon.png"
                      alt="no data"
                    />
                    <span class="block mt-6">
                      Hey! You have no notifications.
                    </span>
                  </div>
                </div>
                <div
                  class="message-list"
                  (click)="preventClose($event)"
                  *ngIf="notificationsData.length > 0"
                >
                  Alerts
                </div>
              </mat-tab>
            </mat-tab-group>
          </div>
          <div
            class="text-center modal-footer pointer"
            (click)="preventClose($event)"
          >
            <span class="block py-4"> View All </span>
          </div>
        </div>
      </mat-menu>
      <div class="user-profile pointer" [matMenuTriggerFor]="menu">
        <div class="user-image">
          <img src="/profile-avatar-1.png" />
        </div>
        <div class="user-info">
          <span class="name">John Smith</span>
          <span class="role">Founder</span>
        </div>
      </div>
      <mat-menu
        #menu="matMenu"
        class="profile-menu"
        backdropClass="alert-menu"
      >
        <div class="profile-menu-outer">
          <div class="grad-bg">
            <div class="user-initials">JS</div>
          </div>
          <div class="profile-inner">
            <p class="mat-h1 fw-600 m-0">John Smith</p>
            <p class="m-0 mt-1">Founder</p>
          </div>
          <div class="profile-paths">
            <a
              class="flex align-center justify-between user-link"
            >
              <div class="flex align-center">
                <mat-icon class="material-symbols-outlined">account_circle</mat-icon>
                <span class="ml-3">John</span>
              </div>
              <div >
                <mat-slide-toggle
                  color="primary"
                ></mat-slide-toggle>
              </div>
            </a>
            <a
              class="flex align-center justify-between user-link"
            >
              <div class="flex align-center">
                <mat-icon class="material-symbols-outlined">inbox_outline</mat-icon>
                <span class="ml-3">My Inbox</span>
              </div>
            </a>
            <a
              class="flex align-center justify-between user-link"
            >
              <div class="flex align-center">
                <mat-icon class="material-symbols-outlined">clear_day</mat-icon>
                <span class="ml-3">Dark Mode</span>
              </div>
            </a>
            <a
              class="flex align-center justify-between user-link"
            >
              <div class="flex align-center">
                <mat-icon class="material-symbols-outlined">live_help</mat-icon>
                <span class="ml-3">Help</span>
              </div>
            </a>
          </div>
        </div>
      </mat-menu>
    </div>
  </div>
  <div class="pt-6 main-content-height">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-content>