<div class="flex w-full pt-11 plan-details-wrapper">
  <div #contentSection class="create-plan-main-wrapper h-full relative">
    <div class="flex align-center justify-between mb-6">
      <div class="flex align-center">
        <mat-icon class="material-symbols-outlined pointer mr-2" color="primary"
          [routerLink]="'/plan'">keyboard_backspace</mat-icon>
        <p class="fs-2xl fw-500 text-purple-lighten-1">Create Plan</p>
      </div>
    </div>
    <div #step1 id="step1" class="plan-section-block flex-center p-10 mb-4 border-2">
      <div class="plan-info-block inner-wrapper">
        <div class="heading">
          <abbr class="mat-headline-5 text-blue-darken">Plan Details</abbr>
          <p class="text-grey-darken mt-1">Add plan details here</p>
        </div>
        <form [formGroup]="planForm">
          <div class="info-form">
            <div class="input-wrapper mt-5">

              <div>
                <div class="flex align-center mb-2">
                  <p class="mat-subtitle-2 font-weight-500 text-blue-darken">
                    Plan Name (External)
                  </p>
                  <mat-icon class="material-symbols-outlined pointer ml-3 help-icon text-text text-primary"
                    [ngxTippy]="productnameinfo"
                    [tippyProps]="{ placement: 'right', interactive: true }">help</mat-icon>
                  <ng-template #productnameinfo let-name class="t-template">
                    <div class="help-info-tooltip">
                      <div class="details">
                        <p class="text-grey-darken">
                          This name will be shown on the customer portal.
                        </p>
                      </div>
                    </div>
                  </ng-template>
                </div>
                <mat-form-field appearance="outline">
                  <input required matInput placeholder="Enter here..." formControlName="externalName" />
                  <mat-error *ngIf="
                      planForm.controls['externalName'].invalid &&
                      planForm.controls['externalName'].touched
                    ">
                    <ng-container *ngIf="
                        planForm.controls['externalName'].errors['required']
                      ">
                      External Name is required and cannot be left empty.
                    </ng-container>
                    <ng-container *ngIf="
                        planForm.controls['externalName'].errors['maxlength']
                      ">
                      External Name cannot exceed 20 characters.
                    </ng-container>
                    <ng-container *ngIf="
                        planForm.controls['externalName'].errors['pattern']
                      ">
                      External Name cannot contain special characters.
                    </ng-container>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="relative">
                <div class="flex align-center mb-2">
                  <p class="mat-subtitle-2 font-weight-500 text-blue-darken">
                    Plan Name (Internal)
                  </p>
                  <mat-icon class="material-symbols-outlined pointer ml-3 help-icon text-text text-primary"
                    [ngxTippy]="productnameinternal" [tippyProps]="{ placement: 'right', interactive: true }"
                    tippyName="content">help</mat-icon>
                  <ng-template #productnameinternal let-name class="t-template">
                    <div class="help-info-tooltip">
                      <div class="details">
                        <p class="text-grey-darken">
                          This is help you identify the Plan Internally
                        </p>
                      </div>
                    </div>
                  </ng-template>
                </div>
                <mat-form-field appearance="outline">
                    <div class="input-container">
                    <input  required matInput placeholder="Enter here..." formControlName="internalName"
                    [(ngModel)]="searchQuery"
                    (input)="onSearchInput()"
                   />
                    <div class="small-loader absolute right-0" *ngIf="showLoader">
                      <mat-spinner mode="indeterminate" [diameter]="30"></mat-spinner>
                    </div>
                  </div>
                  <mat-error *ngIf="
                      planForm.controls['internalName'].invalid &&
                      planForm.controls['internalName'].touched
                    ">
                    <ng-container *ngIf="
                        planForm.controls['internalName'].errors['required']
                      ">
                      Internal Name is required and cannot be left empty.
                    </ng-container>
                    <ng-container *ngIf="
                        planForm.controls['internalName'].errors['maxlength']
                      ">
                      Internal Name cannot exceed 20 characters.
                    </ng-container>
                    <ng-container *ngIf="
                        planForm.controls['internalName'].errors['pattern']
                      ">
                      Internal Name cannot contain special characters.
                    </ng-container>
                  </mat-error>
                </mat-form-field>
                 <div *ngIf="planSearchDataLength ==true && search.length>0" class=" text-error absolute font-weight-500 custom-error">
                  This name is already existing. Please choose a unique name             
                 </div>
                 <div *ngIf="planSearchDataLength ==false && search?.length>0 && showLoader==false"class="custom-tick absolute"> 
                  <mat-icon class="material-icons text-success">check_circle</mat-icon>
                </div>
               
              </div>
              <div>
                <div class="flex align-center mb-2">
                  <p class="mat-subtitle-2 font-weight-500 text-blue-darken">
                    Plan Id
                  </p>
                  <mat-icon class="material-symbols-outlined pointer ml-3 help-icon text-text text-primary"
                    [ngxTippy]="helpinfotooltip"
                    [tippyProps]="{ placement: 'right', interactive: true }">help</mat-icon>
                  <ng-template #helpinfotooltip let-name>
                    <div class="help-info-tooltip">
                      <div class="details">
                        <p class="text-grey-darken">
                          Enter a Customized Id. If user do not enter this field, the system will generate a ‘Customized
                          Human-Readable-id’ based on the Name fielde.g. Plan id Name: “Karisch plus Enterprise”Plan Id:
                          “karish-plus-enteprise-01”
                        </p>
                      </div>
                    </div>
                  </ng-template>
                </div>
                <mat-form-field appearance="outline">
                  <input *ngIf="!editable" required matInput placeholder="Enter here..." formControlName="planId" />
                  <input *ngIf="editable" readonly required matInput placeholder="Enter here..."
                    formControlName="planId" />
                </mat-form-field>
              </div>
              <div>
                <div class="flex align-center mb-2">
                  <p class="mat-subtitle-2 font-weight-500 text-blue-darken">
                    Description
                  </p>
                </div>
                <mat-form-field appearance="outline" class="dark-description-input">
                  <textarea matInput placeholder="Enter here..." formControlName="description"></textarea>
                  <mat-error *ngIf="
                      planForm.controls['description'].invalid &&
                      planForm.controls['description'].touched
                    ">
                    <ng-container *ngIf="
                        planForm.controls['description'].errors['maxlength']
                      ">
                      Description cannot exceed 500 characters.
                    </ng-container>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="action-btns flex align-center justify-between pl-1">
      <mat-checkbox color="primary" formControlName="status" [disableRipple]="true"
        class="font-weight-500 checkbox ml-n-3 disable-ripple-checkbox" [checked]="planForm.get('status').value"
        (change)="toggleStatus()">Active</mat-checkbox>
      <div>
        <button mat-stroked-button color="primary" class="mr-2 large" [routerLink]="'/plans'">
          Back
        </button>
        <button *ngIf="!editable" mat-flat-button color="primary" class="large" type="button" (click)="onSubmit()"
          [disabled]="planForm.invalid ||planSearchDataLength ==true">
          Create
        </button>
        <button *ngIf="editable" mat-flat-button color="primary" class="large" type="button"[disabled]="planForm.invalid ||planSearchDataLength ==true" (click)="onSubmit()">
          Update
        </button>
      </div>
    </div>
  </div>
</div>
