
.upload-message {
    font-weight: bold;
  }
  
  .upload-message.success {
    color: green;
  }
  
  .upload-message.error {
    color: var( --primary-main);
  
  }
 
  .custom-error {
    margin-top: -25px;
    color: red;
  }
  .loader{
    margin-left: 400px;
    margin-top: 8px;
  }
  .tickmark{
    margin-left: 480px;
    color: green;
  }
  .custom-tick {
    margin-top: -65px;
  }
  .space{
    margin-top: 36px;
  }
  