<div class="stepper-wrapper">
  <mat-stepper orientation="vertical" #stepper [disableRipple]="true">
    <mat-step id="foo-bar1">
      <ng-template matStepLabel>
        <div >
          <span id="step-id1" class="block text-dark font-weight-500">step 1</span>
          <span
            class="block font-weight-600 mat-subtitle-2 text-headline-light"
            >Plan Information</span
          >
        </div>
      </ng-template>
    </mat-step>
    <mat-step id="foo-bar2">
      <ng-template matStepLabel>
        <div >
          <span id="step-id2" class="block text-dark font-weight-500">step 2</span>
          <span
            class="block font-weight-600 mat-subtitle-2 text-headline-light"
            >Plan Information</span
          >
        </div>
      </ng-template>
    </mat-step>
    <mat-step id="foo-bar3">
      <ng-template matStepLabel>
        <div >
          <span id="step-id3" class="block text-dark font-weight-500">step 3</span>
          <span
            class="block font-weight-600 mat-subtitle-2 text-headline-light"
            >Plan Information</span
          >
        </div>
      </ng-template>
    </mat-step>
    <mat-step id="foo-bar4">
      <ng-template matStepLabel>
        <div >
          <span id="step-id4" class="block text-dark font-weight-500">step 4</span>
          <span
            class="block font-weight-600 mat-subtitle-2 text-headline-light"
            >Plan Information</span
          >
        </div>
      </ng-template>
    </mat-step>
    <mat-step id="foo-bar5">
      <ng-template matStepLabel>
        <div >
          <span id="step-id5" class="block text-dark font-weight-500">step 5</span>
          <span
            class="block font-weight-600 mat-subtitle-2 text-headline-light"
            >Plan Information</span
          >
        </div>
      </ng-template>
    </mat-step>
  </mat-stepper>
</div>
