@use "sass:map";
@use "@angular/material" as mat;
@include mat.core();

$dark-primary-text: rgba(black, 0.87);
$light-primary-text: white;
$light-focused: rgba(white, 0.12);
$light-dividers: rgba(white, 0.12);
$light-disabled-text: rgba(white, 0.5);
$light-secondary-text: rgba(white, 0.7);
// Define a light theme
$grey-palette: (
  50: #fafafa,
  100: #f5f5f5,
  200: #eeeeee,
  300: #e0e0e0,
  400: #bdbdbd,
  500: #9e9e9e,
  600: #757575,
  700: #616161,
  800: #424242,
  900: #212121,
  A100: #ffffff,
  A200: #eeeeee,
  A400: #bdbdbd,
  A700: #616161,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $light-primary-text,
  ),
);
$pink-palette: (
  50: #fce4ec,
  100: #f8bbd0,
  200: #f48fb1,
  300: #f06292,
  400: #ec407a,
  500: #e91e63,
  600: #d81b60,
  700: #c2185b,
  800: #ad1457,
  900: #880e4f,
  A100: #ff80ab,
  A200: #ff4081,
  A400: #f50057,
  A700: #c51162,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);
$custom-dark-theme-background-palette: (
  status-bar: black,
  app-bar: map.get($grey-palette, 800),
  background: #303030,
  hover: rgba(white, 0.04),
  card: map.get($grey-palette, 800),
  dialog:  map.get($grey-palette, 800),
  disabled-button: rgba(white, 0.12),
  raised-button: map.get($grey-palette, 800),
  focused-button: $light-focused,
  selected-button: map.get($grey-palette, 900),
  selected-disabled-button: map.get($grey-palette, 800),
  disabled-button-toggle: black,
  unselected-chip: map.get($grey-palette, 700),
  disabled-list-option: rgba(white, 0.12),
  tooltip: map.get($grey-palette, 700),
);
$custom-dark-theme-foreground-palette: (
  base: white,
  divider: $light-dividers,
  dividers: $light-dividers,
  disabled: $light-disabled-text,
  disabled-button: rgba(white, 0.3),
  disabled-text: $light-disabled-text,
  elevation: black,
  hint-text: $light-disabled-text,
  secondary-text: $light-secondary-text,
  icon: white,
  icons: white,
  text: white,
  slider-min: white,
  slider-off: rgba(white, 0.3),
  slider-off-active: rgba(white, 0.3),
);
@function custom-dark-theme($primary, $accent) {
  @return (
    primary: $primary,
    accent: $accent,
    warn: $primary,
    is-dark: true,
    foreground: $custom-dark-theme-foreground-palette,
    background: $custom-dark-theme-background-palette
  );
}

$light-primary: mat.define-palette(mat.$indigo-palette, A700);
$light-accent: mat.define-palette(mat.$pink-palette);
$light-theme: mat.define-light-theme(
  (
    color: (
      primary: $light-primary,
      accent: $light-accent,
    ),
  )
);

// Define a dark theme
$dark-primary: mat.define-palette(mat.$pink-palette, 400, 200, 900);
$dark-accent: mat.define-palette(mat.$purple-palette, 900);
$custom-dark-theme: custom-dark-theme($dark-primary, $dark-accent);

[data-app-theme="dark"], .dark-mode {
  .mat-app-background,
  .outer-layout {
    background: #303030;
  }
  @include mat.all-component-themes($custom-dark-theme);
}

// Apply the dark theme by default

[data-app-theme="light"] {
  @include mat.core-color($light-theme);
  @include mat.button-color($light-theme);
  @include mat.card-theme($light-theme);
  @include mat.progress-bar-theme($light-theme);
  @include mat.chips-theme($light-theme);
  @include mat.badge-theme($light-theme);
  @include mat.button-toggle-theme($light-theme);
  @include mat.checkbox-theme($light-theme);
  // @include mat.sidenav-theme($light-theme);
  @include mat.list-theme($light-theme);
  // @include mat.form-field-theme($light-theme);
  @include mat.icon-theme($light-theme);
  @include mat.select-theme($light-theme);
}

// style for dark theme

[data-app-theme="dark"], .dark-mode {
  textarea {
    color: #ffffff;
  }
}
