.image-upload-dialog {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  width: 29rem;
  padding: 1.75rem 2rem;

  input {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
  }
}

.upload-field {
  display: block;
  border: 2px dashed #9ca8ba;
  margin: 1.875rem 0 1.375rem;

  .file-thumbnail {
    padding: 2.0625rem 1.3125rem 1.3125rem;

    .mat-icon {
      height: 1.9375rem;
      width: 1.9375rem;
      font-size: 1.9375rem;
    }

    cursor: pointer;
    border-radius: 11px;
    text-align: center;
    padding: 1.25rem;

    img {
      width: 3.125rem;
    }

    h3 {
      margin-top: 0.5rem;
    }

    p {
      font-size: 0.75rem;
      color: #9abcd1;
      margin-bottom: 0;
    }
  }
}
