<div class="add-ons-details-outer  main-bg w-full h-full overflow-auto border-2 py-8 pl-11 pr-10">
    <div class="flex align-center justify-between mb-5">
      <div class="flex align-center">
        <mat-icon
          class="material-symbols-outlined pointer"
          color="primary"
          [routerLink]="'/features'"
          >keyboard_backspace</mat-icon
        >
        <span class="mat-h1 primary-text text-main ml-2">Create Plan</span>
      </div>
      <div class="flex">
          <button mat-stroked-button color="primary" class="mr-2 large">
            Dismiss
          </button>
          <button
            mat-flat-button
            color="primary"
            class="large"
            type="submit"
            [routerLink]="'/features/view'"
          >
          Add
          </button>
      </div>
    </div>
    <div class="flex align-center">
      <span class="pl-8 grey-text text-lighten-9"> Create plan </span>
      <mat-icon class="material-symbols-outlined mx-2 small-icon">
        chevron_right
      </mat-icon>
      <span class="shades-text text-black fw-500">Add Add-ons</span>
    </div>
    <div class="mt-7">
      <div class="py-2">
        <div class="input-wrapper border-2">
          <div class="details-wrapper p-3 primary-light-bg">
            <div class="details-inner ">
              <div class="flex">
                <div class="product-img p-2 mr-4 main-bg">
                  <img src="../.././../../assets/images/teams.png" alt="product-img" />
              </div>
              <div class="mt-2">
                <h6 class="mat-subtitle-2 font-weight-500 text-dark mb-1">MS Team</h6>
                <span class="mat-body-1 font-weight-500 text-dark">3 Features included</span>
                <div class="flex-center mt-5">
                  <mat-chip class="primary-light-chip white-bg mr-2 pointer" (click)="openPopup()"><span class="mat-body-1 text-grey-darken-7 font-weight-500  pointer">Whiteboard  (ON)</span> </mat-chip>
                  <mat-chip class="primary-light-chip white-bg mr-2 pointer"><span class="mat-body-1 text-grey-darken-7 font-weight-500  pointer">Email support   (All Week)</span> </mat-chip>
                  <mat-chip class="primary-light-chip white-bg pointer"><span class="mat-body-1 text-grey-darken-7 font-weight-500  pointer">User License  (10 License)</span> </mat-chip>
                </div>
              </div>
              </div>
            </div>

          </div>
          <div class="add-product-table pt-3 pb-3 px-3">
            <p class="mat-subtitle-2 font-weight-500 text-headline-light py-2 mb-8 table-heading text-uppercase">
              Assign Addons to product
            </p>
            <div class="mb-10">
              <div class="flex mb-4">
                <mat-checkbox class="outer-checkbox" [disableRipple]="true">
              </mat-checkbox>
              <div class="ml-2">
                <h5 class="mb-2 text-dark mat-subtitle-2 font-weight-500">Teamwork and communication</h5>
                <p class="text-grey-darken-6">It is a long established fact that a reader will be distracted by the readable content of a page.</p>
              </div>
              </div>
              <div class="relative main-bg table-wrapper">
                <div class="table-title mb-3">
                  <h6 class="mb-2 text-dark mat-subtitle-2 font-weight-500">Included Feature</h6>
                </div>
                <div class="primary-table checked-stripe-table">
                  <table mat-table [dataSource]="dataSource">
                    <!-- Checkbox Column -->
                    <ng-container matColumnDef="select">
                      <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox
                          (click)="selectAll(dataSource)"
                          (change)="$event ? toggleAllRows() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()"
                          [aria-label]="checkboxLabel()"
                          [disableRipple]="true"
                        >
                        </mat-checkbox>
                      </th>
                      <td mat-cell *matCellDef="let row">
                        <mat-checkbox
                          (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)"
                          [aria-label]="checkboxLabel(row)"
                          (click)="selectedRow(row.id, $event)"
                          [disableRipple]="true"
                        >
                        </mat-checkbox>
                      </td>
                    </ng-container>
    
                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                      <th mat-header-cell *matHeaderCellDef class="font-weight-500">
                        Name
                      </th>
                      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
                    </ng-container>
    
                    <!-- Weight Column -->
                    <ng-container matColumnDef="status">
                      <th mat-header-cell *matHeaderCellDef class="font-weight-500">
                        Status
                      </th>
                      <td
                        mat-cell
                        *matCellDef="let element"
                        [ngClass]="element.status"
                      >
                        {{ element.status }}
                      </td>
                    </ng-container>
  
                    <!-- Product Column -->
                    <ng-container matColumnDef="Product">
                      <th mat-header-cell *matHeaderCellDef class="font-weight-500">
                        Product
                      </th>
                      <td mat-cell *matCellDef="let element">
                        {{ element.Product }}
                      </td>
                    </ng-container>
    
                    <!-- Symbol Column -->
                    <ng-container matColumnDef="type">
                      <th mat-header-cell *matHeaderCellDef class="font-weight-500">
                        Type
                      </th>
                      <td mat-cell *matCellDef="let element">
                        {{ element.type }}
                      </td>
                    </ng-container>
    
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr
                      mat-row
                      *matRowDef="let row; columns: displayedColumns"
                      [id]="row.id"
                    ></tr>
                  </table>
                </div>
              </div>
            </div>
            <div class="mb-10">
              <div class="flex mb-4">
                <mat-checkbox class="outer-checkbox" [disableRipple]="true">
              </mat-checkbox>
              <div class="ml-2">
                <h5 class="mb-2 text-dark mat-subtitle-2 font-weight-500">Security and compliance</h5>
                <p class="text-grey-darken-6">It is a long established fact that a reader will be distracted by the readable content of a page.</p>
              </div>
              </div>
              <div class="relative main-bg table-wrapper">
                <div class="table-title mb-3">
                  <h6 class="mb-2 text-dark mat-subtitle-2 font-weight-500">Included Feature</h6>
                </div>
                <div class="primary-table checked-stripe-table">
                  <table mat-table [dataSource]="dataSource">
                    <!-- Checkbox Column -->
                    <ng-container matColumnDef="select">
                      <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox
                          (click)="selectAll(dataSource)"
                          (change)="$event ? toggleAllRows() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()"
                          [aria-label]="checkboxLabel()"
                          [disableRipple]="true"
                        >
                        </mat-checkbox>
                      </th>
                      <td mat-cell *matCellDef="let row">
                        <mat-checkbox
                          (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)"
                          [aria-label]="checkboxLabel(row)"
                          (click)="selectedRow(row.id, $event)"
                          [disableRipple]="true"
                        >
                        </mat-checkbox>
                      </td>
                    </ng-container>
    
                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                      <th mat-header-cell *matHeaderCellDef class="font-weight-500">
                        Name
                      </th>
                      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
                    </ng-container>
    
                    <!-- Weight Column -->
                    <ng-container matColumnDef="status">
                      <th mat-header-cell *matHeaderCellDef class="font-weight-500">
                        Status
                      </th>
                      <td
                        mat-cell
                        *matCellDef="let element"
                        [ngClass]="element.status"
                      >
                        {{ element.status }}
                      </td>
                    </ng-container>
  
                    <!-- Product Column -->
                    <ng-container matColumnDef="Product">
                      <th mat-header-cell *matHeaderCellDef class="font-weight-500">
                        Product
                      </th>
                      <td mat-cell *matCellDef="let element">
                        {{ element.Product }}
                      </td>
                    </ng-container>
    
                    <!-- Symbol Column -->
                    <ng-container matColumnDef="type">
                      <th mat-header-cell *matHeaderCellDef class="font-weight-500">
                        Type
                      </th>
                      <td mat-cell *matCellDef="let element">
                        {{ element.type }}
                      </td>
                    </ng-container>
    
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr
                      mat-row
                      *matRowDef="let row; columns: displayedColumns"
                      (click)="selection.toggle(row)"
                      [id]="row.id"
                    ></tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  