<mat-icon class="material-symbols-outlined pointer ml-3 help-icon text-text text-primary" [ngxTippy]="productnameinfo"
  [tippyProps]="{ placement: 'right', interactive: true }" tippyName="content">help</mat-icon>
<ng-template #productnameinfo let-name class="t-template main-bg">
  <div class="help-info-tooltip">
    <div class="heading-with-background"> {{infoTitle}} </div>
    <div class="details">
       {{infoDetail}}
    </div>
    <button mat-button color="primary">
      Learn more
    </button>
  </div>
</ng-template>