<div class="border-2 text-center coupons-dialog">
    <div class="close-dialog-icon">
        <mat-icon (click)="onCancelClick()" class="material-symbols-outlined">close</mat-icon>
    </div>
    <div class="mb-6">
        <img src="/coupons-delete-confirmation.png" alt="delete-confirmation">
    </div>
    <h1 class="mb-4">Confirmation</h1>
    <span class="mat-body-1 mb-8 block">Are you sure you want to delete plan</span
    >
    <div class="flex-center">
      <button mat-stroked-button color="primary" mat-dialog-close (click)="onCancelClick()" class="px-6 medium">Cancel</button>
      <button mat-flat-button color="primary" class="medium ml-2" [mat-dialog-close]="true" (click)="onYesClick()">Yes</button>
    </div>
  </div>
 