<div class="plan-section-block flex-center p-11 mb-4">
    <div class="plan-info-block inner-wrapper">
        <div class="heading flex align-center">
          <img
            src="../../../../../../assets/images/icons/basil_invoice-outline.svg"
            alt="carbon_document-multiple-icon"
          />
          <h5 class="mat-headline-5 text-dark">Pricing Plan</h5>
        </div>
        <div class="info-form">
            <div class="flag-wrapper flex align-center pt-8 pb-2">
                <img
                src="../../../../../../assets/images/flags.png"
                alt="flags"
                class="mr-3"
              />
              <span class="mat-subtitle-2 text-headline-dark">USD</span>
            </div>
            <div class="table-wrapper mt-3">
                <table mat-table [dataSource]="dataSource" class="">
                    <!-- PricingCycle Column -->
                    <ng-container matColumnDef="PricingCycle">
                      <th mat-header-cell *matHeaderCellDef class="mat-subtitle-2 text-headline-dark">Pricing Cycle</th>
                      <td mat-cell *matCellDef="let element" class="mat-subtitle-2 text-headline-light">{{element.PricingCycle}}</td>
                    </ng-container>
                  
                    <!-- Pricing Model Column -->
                    <ng-container matColumnDef="PricingModel">
                      <th mat-header-cell *matHeaderCellDef class="mat-subtitle-2 text-headline-dark">Pricing Model</th>
                      <td mat-cell *matCellDef="let element" class="mat-subtitle-2 text-headline-light">{{element.PricingModel}}</td>
                    </ng-container>
                  
                    <!-- Billing Cycle Column -->
                    <ng-container matColumnDef="BillingCycle">
                      <th mat-header-cell *matHeaderCellDef class="mat-subtitle-2 text-headline-dark">Billing Cycle</th>
                      <td mat-cell *matCellDef="let element"><span class="mat-subtitle-2 text-headline-light billing-fixed px-2 py-1 border-1">{{element.BillingCycle}}</span></td>
                    </ng-container>
                  
                    <!-- Price Column -->
                    <ng-container matColumnDef="Price">
                      <th mat-header-cell *matHeaderCellDef class="mat-subtitle-2 text-headline-dark">Price</th>
                      <td mat-cell *matCellDef="let element" class="mat-subtitle-2 text-headline-light price-cell">{{element.Price}}</td>
                    </ng-container>
                  
                   <!-- Symbol Column -->
                   <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef class="mat-subtitle-2 text-headline-dark action-header">Action</th>
                    <td mat-cell *matCellDef="let element">
                        <div class="flex justify-end">
                            <button class="flex edit-btn mat-caption mr-1" mat-button color="primary"><mat-icon class="material-symbols-outlined mr-1" color="primary">edit</mat-icon>Edit</button>
                            <button  mat-icon-button  color="warn" class="light-bg small rounded-1"> <mat-icon class="material-symbols-outlined mr-0" color="warn">close</mat-icon></button>
                        </div>
                    </td>
                  </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr
                        mat-row
                        (click)="clickedRows.add(row)"
                        [class.demo-row-is-clicked]="clickedRows.has(row)"
                        *matRowDef="let row; columns: displayedColumns;"
                    ></tr>
                  </table>
            </div>
        </div>
    </div>
</div>
