<div class="create-product-wrapper pt-8">
  <div class="inner-form-wrapper ">
    <div class="header-section pb-6">
      <div class="flex align-center justify-between">
        <div class="flex align-center">
          <mat-icon class="material-symbols-outlined pointer mr-1" color="primary"
            [routerLink]="'/products'">keyboard_backspace</mat-icon>
          <p class="mat-headline-5 text-purple-lighten-1">Create Product</p>
        </div>
      </div>
    </div>

    <div class="flex align-start outer-wrapper">
      <div class="form-block border-2 mr-8 p-10 main-bg wrapper-border details-block">
        <div class="pb-4 divider-bt-black">
          <h2 class="fs-xl fw-500 text-text text-dark mb-0">Basic Product Details</h2>
        </div>
        <div class="input-wrapper mt-8 inner-block">
          <form [formGroup]="productForm">
           
            <div class="relative">
              <div class="flex align-center mb-2">
                <p class="mat-subtitle-2 font-weight-500 input-label">
                  Product Name
                </p>
                <mat-icon class="material-symbols-outlined pointer ml-3 help-icon text-text text-primary"
                  [ngxTippy]="productnameinfo" [tippyProps]="{ placement: 'right', interactive: true }"
                  tippyName="content">help</mat-icon>
                <ng-template #productnameinfo let-name class="t-template">
                  <div class="help-info-tooltip">
                    <div class="details">
                      Enter a name that helps you identify this Product
                    </div>
                  </div>
                </ng-template>
              </div>
              <mat-form-field appearance="outline" class="manageSpace">
                <div class="input-container">
                <input matInput placeholder="Enter here..." formControlName="name"
                [(ngModel)]="searchQuery"
                (input)="onSearchInput()" />
                <div class="small-loader absolute right-0" *ngIf="showLoader">
                  <mat-spinner mode="indeterminate"  [diameter]="30"></mat-spinner>
                </div>
              </div>

                <mat-error *ngIf="
                    productForm.controls['name'].invalid &&
                    productForm.controls['name'].touched 
                  ">
                  
                  <ng-container *ngIf="productForm.controls['name'].errors['required']">
                    Name is required and cannot be left empty.
                  </ng-container>
                  <ng-container *ngIf="productForm.controls['name'].errors['maxlength']">
                    Name cannot exceed 20 characters.
                  </ng-container>
                  <ng-container *ngIf="productForm.controls['name'].errors['pattern']">
                    Name cannot contain special characters.
                  </ng-container>
                </mat-error>        
              </mat-form-field>
              <div *ngIf="productsSearchDataLength ==true&&search.length>0" class="absolute text-error mat-caption font-weight-500 custom-error">
                This name is already existing. Please choose a unique name             
               </div>
               <div *ngIf="productsSearchDataLength ==false&&search.length>0"class="custom-tick absolute custom-tick">
                <mat-icon class="material-icons text-success">check_circle</mat-icon>
              </div>
            </div>
            <div>
              <div class="flex align-center mb-2">
                <p class="mat-subtitle-2 font-weight-500 input-label">
                  Product ID
                </p>
                <mat-icon class="material-symbols-outlined pointer ml-3 help-icon text-text text-primary"
                  [ngxTippy]="helpinfotooltip" [tippyProps]="{ placement: 'right', interactive: true }">help</mat-icon>
                <ng-template #helpinfotooltip let-name>
                  <div class="help-info-tooltip">
                    <div class="details">
                      Enter a productId that helps you identify this Product
                    </div>
                  </div>
                </ng-template>
              </div>
              <mat-form-field appearance="outline">
                <input matInput placeholder="Enter here..." formControlName="productId" />
              </mat-form-field>
            </div>
            <div>
              <div class="flex align-center mb-2">
                <p class="mat-subtitle-2 font-weight-500 input-label">
                  Description
                </p>
              </div>
              <mat-form-field appearance="outline" class="dark-description-input">
                <textarea matInput placeholder="Enter here..." formControlName="description"></textarea>
                <mat-error *ngIf="
                    productForm.controls['description'].invalid &&
                    productForm.controls['description'].touched
                  ">
                  <ng-container *ngIf="
                      productForm.controls['description'].errors['maxlength']
                    ">
                    Description cannot exceed 500 characters.
                  </ng-container>
                </mat-error>
              </mat-form-field>
            </div>
          </form>
        </div>
      </div>
      <div class="form-block image-upload-dialog main-bg border-2 p-10 wrapper-border imgUpload-block">
        <div *ngIf="uploadMessage" class="font-weight-500" [ngClass]="{ success: uploadSuccess, error: !uploadSuccess }">
          {{ uploadMessage }}
        </div>
        <div class="title">
          <h2 class="text-blue-darken fs-xl mb-0 font-weight-500">
            Product Logo
          </h2>
        </div>
        <div class="user-img-wrapper mt-5">
          <div class="user-avatar flex align-center justify-center">
            <ng-container *ngIf="imageUrl &&deleteBlob==false">
              <img src="{{ imagePath + imageUrl }}" alt="product-img" />
            </ng-container>
            <ng-container *ngIf="!imageName||deleteBlob==true">
              <p class="mat-body-1 mb-0 mr-4">LOGO</p>
            </ng-container>
          </div>
          <div class="mt-3">
            <div class="upload-actions">
              <p class="mat-caption text-light font-weight-500 mb-4 text-center">
                Allowed JPG, GIF or PNG. Max size of 800K
              </p>
              <div class="flex align-center justify-center">
                <button mat-stroked-button color="primary" class="mr-3" (click)="deleteImage()">
                  Remove
                </button>
                <button mat-flat-button color="primary" (click)="openDialog()">
                  Upload
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-section py-6">
      <div class="action-btns flex align-center justify-between">
          <mat-checkbox color="primary" formControlName="status" [disableRipple]="true"
          class="font-weight-500 checkbox ml-n-3 disable-ripple-checkbox" [checked]="productForm.get('status').value"
          (change)="toggleStatus()">Active</mat-checkbox>
        <div>
          <button mat-stroked-button color="primary" class="mr-2 large" [mat-dialog-close]="true" (click)="onDelete()">
            Back
          </button>
          <button mat-flat-button color="primary" class="large" type="submit" [disabled]="productForm.invalid ||productsSearchDataLength ==true"
            (click)="onSubmit()">
            Create
          </button>
        </div>
      </div>
    </div>

  </div>
</div>