<div class="flex align-center">
  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
    <mat-tab label="Present">
      <mat-list role="list" class="filter-list">
        <mat-list-item
          role="listitem"
          *ngFor="let option of filterOptions"
          (click)="setFilter(option)"
          >{{ option }}</mat-list-item
        >
      </mat-list>
    </mat-tab>
    <mat-tab label="Custom">
      <div class="py-2 px-6">
        <div class="flex align-center input-wrapper px-2">
          <div class="block filter-input mr-4">
            <span class="block mat-body-1 pl-2 mb-1"> Start </span>
            <mat-form-field>
              <input
                matInput
                placeholder="Start Date"
                [(ngModel)]="startDate"
              />
            </mat-form-field>
          </div>
          <div class="block filter-input">
            <span class="block mat-body-1 pl-2 mb-1"> End </span>
            <mat-form-field>
              <input matInput type="text" placeholder="end Date" />
            </mat-form-field>
          </div>
        </div>
        <mat-calendar></mat-calendar>
        <div class="w-full flex justify-end align-center">
          <button mat-stroked-button color="primary" class="mr-3">
            Cancel
          </button>
          <button mat-flat-button color="primary">Apply</button>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>

  <mat-form-field appearance="outline">
    <input matInput placeholder="select date" [matDatepicker]="picker" />
    <div class="input-suffix" (click)="picker.open()" panelClass="my-custom">
      <img src="/icons/primary-calendar-icon.svg" alt="calendar-icon" />
    </div>
    <mat-datepicker #picker [calendarHeaderComponent]="customHeader">
      <!-- <app-custom-header iconUrl="/icons/primary-calendar-icon.svg"></app-custom-header> -->
    </mat-datepicker>
  </mat-form-field>
</div>

<!-- <mat-calendar></mat-calendar> -->