<div class="outer-layout">
  <mat-sidenav-container [ngClass]="opened ? 'sidenav-open' : 'sidenav-closed'">
    <mat-sidenav #sidenav mode="side" opened="true" class="sidenav-slider">
      <app-sidebar (newItemEvent)="toggleSidenav($event)"></app-sidebar>
    </mat-sidenav>
    <mat-sidenav-content>
      <!-- Header for application starts here! -->
      <mat-toolbar class="header-wrapper main-bg relative">
        <div class="absolute left-header pointer">
          <mat-icon
            class="material-symbols-outlined mat-primary"
            (click)="toggleSidenav($event)"
          >
            menu_open
          </mat-icon>
        </div>
        <div class="header-right">
          <div
            class="language-section pointer mr-4"
            (click)="changeLanguage()"
          >
            <img src="../../../../assets/images/{{currLang}}.png" alt="language flag" />
          </div>
          <div
            class="notifications-section pointer"
            [matMenuTriggerFor]="notificationsMenu"
            matBadge="3"
            matBadgeSize="small"
            matBadgeColor="warn"
          >
            <img
              src="../../../../assets/images/icons/notifications.svg"
              alt="notifications-icon"
            />
          </div>
          <mat-menu
            #notificationsMenu="matMenu"
            class="notifications-menu border-2"
            backdropClass="right-menu"
          >
            <div class="notifications-header mat-purple">
              <div class="flex align-center justify-between">
                <div class="label">Notifications</div>
                <mat-chip class="basic-chip"> 4 New </mat-chip>
              </div>
              <div class="tab-panel" (click)="preventClose($event)">
                <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
                  <mat-tab label="All (4)">
                    <div
                      class="relative h-55"
                      *ngIf="notificationsData.length == 0"
                    >
                      <div class="absolute position-center text-center w-full">
                        <img
                          src="../../../../assets/images/notifications-icon.png"
                          alt="notification-icon"
                        />
                        <span class="block mt-6">
                          {{'Heyyouhavenonotifications' | translate}}
                        </span>
                      </div>
                    </div>
                    <div
                      class="notification-list"
                      (click)="preventClose($event)"
                      *ngIf="notificationsData.length > 0"
                    ></div>
                  </mat-tab>
                  <mat-tab label="Messages">
                    <div
                      class="relative h-55"
                      *ngIf="notificationsData.length == 0"
                    >
                      <div class="absolute position-center text-center w-full">
                        <img
                          src="../../../../assets/images/notifications-icon.png"
                          alt="notifications-icon"
                        />
                        <span class="block mt-6">
                          {{'Heyyouhavenonotifications' | translate}}
                        </span>
                      </div>
                    </div>
                    <div
                      class="message-list"
                      (click)="preventClose($event)"
                      *ngIf="notificationsData.length > 0"
                    >
                      {{'myMessages' | translate}}
                    </div>
                  </mat-tab>
                  <mat-tab label="Alerts">
                    <div
                      class="relative h-55"
                      *ngIf="notificationsData.length == 0"
                    >
                      <div class="absolute position-center text-center w-full">
                        <img
                          src="../../../../assets/images/notifications-icon.png"
                          alt="notifications-icon"
                        />
                        <span class="block mt-6">
                          {{'Heyyouhavenonotifications' | translate}}
                        </span>
                      </div>
                    </div>
                    <div
                      class="message-list"
                      (click)="preventClose($event)"
                      *ngIf="notificationsData.length > 0"
                    >
                      Alerts
                    </div>
                  </mat-tab>
                </mat-tab-group>
              </div>
              <div
                class="text-center modal-footer pointer"
                (click)="preventClose($event)"
              >
                <span class="block py-4"> View All </span>
              </div>
            </div>
          </mat-menu>
          <div class="user-profile pointer" [matMenuTriggerFor]="menu">
            <div class="user-image font-weight-500">
              {{ getInitials(userName) }}
            </div>
            <div class="user-info">
              <span class="name">{{userName}}</span>
            </div>
          </div>
          <mat-menu
            #menu="matMenu"
            class="profile-menu"
            backdropClass="alert-menu"
          >
            <div class="profile-menu-outer" (click)="preventClose($event)">
              <div class="grad-bg">
               <div class="user-initials">{{ getInitials(userName) }}</div>
              </div>
              <div class="profile-inner">
                <p class="mat-h1 fw-600 m-0">{{userName}}</p>
              </div>
              <div class="profile-paths">
                <a
                  class="flex align-center justify-between user-link"
                  *ngFor="let element of userProfile"
                >
                  <div class="flex align-center" (click)="logOut(element.logOut)">
                    <mat-icon class="material-symbols-outlined mat-primary">{{
                      element.icon
                    }}</mat-icon>
                    <span class="ml-3">{{ element.name | translate }}</span>
                  </div>
                  <div *ngIf="element.toggle">
                    <mat-slide-toggle
                      color="primary"
                      (click)="preventClose($event)"
                      (change)="switchDark($event)"
                    ></mat-slide-toggle>
                  </div>
                </a>
              </div>
            </div>
          </mat-menu>
        </div>
      </mat-toolbar>
      <div class="inner-h relative overflow-auto">
        <div class="loader" *ngIf="loading">
          <div class="position-center">
            <mat-spinner ></mat-spinner>
          </div>
        </div>
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
