<div class="view-plan-wrapper border-2">
    <div class="header-block border-2">
        <h3 class="mat-headline-5 heading text-text text-primary">View Feature</h3>

        <div class="brand-info">
              <div class="flex align-center">
                <p class="mat-headline-5 text-text text-dark title mb-1">
                    Premium
                </p>
                <div
                  class="active-text flex align-center green-text text-darken-3 ml-4"
                >
                  <mat-icon
                    class="material-symbols-outlined mr-1 green-text text-darken-3"
                    color="primary"
                    >check_circle</mat-icon
                  ><span>Active</span>
                </div>
              </div>
              <span class="mat-subtitle-2 subtitle font-weight-500 block"
                >#AS- 012P</span
              >
          </div>
        <div class="flex align-center justify-between mt-8">
            <div class="flex">
                <div class="pricing-box">
                    <span class="mat-subtitle-2 text-headline-light">Pricing Model</span>
                    <span class="block mat-subtitle-2 text-headline-dark font-weight-500">Tiered</span>
                </div>
                <div class="pricing-box">
                    <span class="mat-subtitle-2 text-headline-light">Billing Cycle</span>
                    <span class="block mat-subtitle-2 text-headline-dark font-weight-500">Fixed</span>
                </div>
                <div class="pricing-box">
                    <span class="mat-subtitle-2 text-headline-light">Setup Fee</span>
                    <span class="block mat-subtitle-2 text-headline-dark font-weight-500">INR. 0.00</span>
                </div>
                <div class="pricing-box">
                    <span class="mat-subtitle-2 text-headline-light">Activation Fee</span>
                    <span class="block mat-subtitle-2 text-headline-dark font-weight-500">INR. 0.00</span>
                </div>
            </div>

          <div class="btn-section flex align-center">
            <button mat-stroked-button color="primary" class="mr-2 large">
              Edit
            </button>
            <button mat-flat-button color="primary" class="large">
              Back to list
            </button>
          </div>
        </div>
      </div>
      <div class="description-wrapper">

      </div>
</div>
