<div
  *ngIf="allFeaturesData > 0||search.length > 0; else noDataList"
  class="relative border-2 w-full h-full py-6 pl-5 pr-6 overflow-auto"
>
  <div class="flex justify-between align-center px-1">
    <div class="flex align-center"  *ngIf="search.length > 0; else allFeaturesFound"
>
      <h1 class="text-text text-dark">Features</h1>

      <mat-chip class="chip-dark ml-3">
        {{ totalNumberOfFeatureBySearch }}
      </mat-chip>
    </div>
    <ng-template #allFeaturesFound>
      <div class="flex align-center">
        <h1 class="text-text text-dark">Features</h1>
        <mat-chip class="chip-dark ml-3">
          {{ totalNumberOfFeature }}
        </mat-chip>
      </div>
    </ng-template>
    <div class="flex align-center">
      <div class="global-search mr-2 border-2 main-bg">
        <span class="search-icon pointer">
          <img
            src="../../../../assets/images/icons/search.svg"
            alt="search-icon"
          />
        </span>

        <input
          type="text"
          placeholder="Search anything..."
          [(ngModel)]="searchQuery"
          (input)="onSearchInput()"
        />
      </div>

      <button
        mat-flat-button
        color="primary"
        class="create-btn"
        [routerLink]="['create']"
      >
        <mat-icon class="material-symbols-outlined m-0 white-text"
          >add_circle</mat-icon
        >

        <span class="text-nowrap block ml-2 letter-spacing-0"
          >Create Feature</span
        >
      </button>
    </div>
  </div>

  <div
    *ngIf="featuresSearchData.length > 0; else noDataFound"
    class="primary-table mt-8 px-1 pb-2"
  >
    <table
      mat-table
      [dataSource]="featuresSearchData"
      matSort
      (matSortChange)="announceSortChange($event)"
    >
      <!--- Note that these columns can be defined in any order.

              The actual rendered columns are set as a property on the row definition" -->

      <!-- Product ID Column -->

      <ng-container matColumnDef="featureId">
        <th mat-header-cell *matHeaderCellDef class="text-blue-darken">Feature ID</th>

        <td
          mat-cell
          *matCellDef="let element"
          [routerLink]="'/features/view/' + element.featureId"
        >
          {{ element.featureId }}
        </td>
      </ng-container>

      <!-- Product Name Column -->

      <ng-container matColumnDef="productName">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by title"
          class="text-blue-darken"
        >
          Product Name
        </th>

        <td
          mat-cell
          *matCellDef="let element"
          [routerLink]="'/features/view/' + element.featureId"
        >
          {{ element.productName }}
        </td>
      </ng-container>

      <!-- Product Name Column -->

      <ng-container matColumnDef="name">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by title"
          class="text-blue-darken"
        >
          Feature Name
        </th>

        <td
          mat-cell
          *matCellDef="let element"
          [routerLink]="'/features/view/' + element.featureId"
        >
          {{ element.name }}
        </td>
      </ng-container>

      <!-- Features Column -->

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef class="text-blue-darken">Feature Type</th>

        <td
          mat-cell
          *matCellDef="let element"
          [routerLink]="'/features/view/' + element.featureId"
        >
          <p>{{ element.type }}</p>
        </td>
      </ng-container>
      <!-- Created Date Column -->

      <ng-container matColumnDef="createdOn">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by date"
          class="text-blue-darken"
        >
          Created On
        </th>

        <td
          mat-cell
          *matCellDef="let element"
          [routerLink]="'/features/view/' + element.featureId"
        >
          {{ element.createdOn | date : "d MMMM y" }}
        </td>
      </ng-container>

      <!-- Created Date Column -->

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef class="text-blue-darken">Status</th>

        <td
          mat-cell
          *matCellDef="let element"
          [ngClass]="element.status"
          [routerLink]="'/features/view/' + element.featureId"
        >
          {{ element.status| titlecase }}
        </td>
      </ng-container>

      <!-- Created Date Column -->

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef class="text-blue-darken">Action</th>

        <td mat-cell *matCellDef="let element">
          <mat-icon
            class="material-symbols-outlined mat-primary"
            [matMenuTriggerFor]="actionsMenu"
          >
            more_vert
          </mat-icon>

          <mat-menu
            #actionsMenu="matMenu"
            class="actions-menu"
            backdropClass="edit-menu"
          >
            <button
              mat-menu-item
              disableRipple
              [routerLink]="['edit-feature/' + element.featureId]"
            >
              Edit
            </button>

            <button
              mat-menu-item
              disableRipple
              (click)="openDelete(element.featureId)"
            >
              Delete
            </button>
          </mat-menu>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        [id]="row.id"
      ></tr>
    </table>

    <div class="flex justify-between">
      <div class="">
        <div class="dataTables_length">
          <label
            >Show

            <select
              [(ngModel)]="limit"
              (change)="
                this.getFeature(
                  this.PageNumber,
                  this.limit,
                  this.search,
                  this.sortBy,
                  this.sortOrder
                )
              "
            >
              <option value="10">10</option>

              <option value="20">20</option>

              <option value="50">50</option>

              <option value="100">100</option>
            </select>

            entries</label
          >
        </div>
      </div>
      <div class="">
        <div class="paginations">
          <div>
            <div class="btn-group" id="radioBtn">
              <a
                class="btn btn-primary btn-sm notActive"
                (click)="onPrevious()"
                [ngClass]="{ disabled: PageNumber == 1 }"
              >
                Previous
              </a>

              <a class="btn btn-primary btn-sm active" style="margin: 0 20px">{{
                PageNumber
              }}</a>

              <a
                class="btn btn-primary btn-sm notActive"
                (click)="onNext()"
                [ngClass]="{ disabled: !hasNextPage||fsearchDataNextPage }"
                >Next
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #noDataFound>
    <div class="relative border-2 w-full h-full p-7 overflow-auto">
      <app-no-item-found></app-no-item-found>
    </div>
  </ng-template>
</div>

<ng-template #noDataList>
    <div class="relative border-2 w-full h-full p-7 overflow-auto">
      <app-empty-listing [items]="emptyFeature"></app-empty-listing>
    </div>
</ng-template>
