<div *ngIf="featuresData.length == 0" class="relative main-bg border-2 w-full h-full p-7 overflow-scroll">
  <app-empty-listing [items]="emptyFeature"></app-empty-listing>
</div>
<div *ngIf="featuresData.length > 0" class="relative main-bg border-2 w-full h-full py-6 pl-5 pr-6 overflow-scroll">
  <div class="flex justify-between align-center px-1">
    <div class="flex align-center">
      <h1 class="text-text text-dark">Features</h1>
      <mat-chip class="chip-dark ml-3">
        {{featuresData.length}}
      </mat-chip>
    </div>
    <div class="flex align-center">
      <div class="global-search light mr-6 border-2">
        <span class="search-icon pointer">
          <img src="../../../../assets/images/icons/search.svg" alt="search-icon" />
        </span>
        <input type="text" placeholder="Search anything..." />
      </div>
      <button mat-flat-button color="primary" class="create-btn" [routerLink]="['create']">
        <mat-icon class="material-symbols-outlined m-0 white-text lg-icon">add_circle</mat-icon>
        <span class="text-nowrap block ml-2 letter-spacing-0">Create Feature</span>
      </button>
    </div>
  </div>
  <div class="primary-table mt-8 px-1 pb-2">
    <table mat-table [dataSource]="featuresData" matSort (matSortChange)="announceSortChange($event)">
      <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox color="primary" (click)="selectAll(featuresData)" (change)="$event ? toggleAllRows() : null"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox color="primary" (click)="selectedRow(row.id, $event)"
            (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"
            [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- Product ID Column -->
      <ng-container matColumnDef="feature_id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> #ID </th>
        <td mat-cell *matCellDef="let element" [routerLink]="'/features/view'"> {{element.feature_id}} </td>
      </ng-container>

      <!-- Product Name Column -->
      <ng-container matColumnDef="product_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by title"> Product Name </th>
        <td mat-cell *matCellDef="let element" [routerLink]="'/features/view'"> {{element.product_name}} </td>
      </ng-container>

      <!-- Product Name Column -->
      <ng-container matColumnDef="feature_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by title"> Feature Name </th>
        <td mat-cell *matCellDef="let element" [routerLink]="'/features/view'"> {{element.feature_name}} </td>
      </ng-container>

      <!-- Features Column -->
      <ng-container matColumnDef="feature_type">
        <th mat-header-cell *matHeaderCellDef> Feature Type</th>
        <td mat-cell *matCellDef="let element">
          <p>{{element.feature_type}}</p>
        </td>
      </ng-container>

      <!-- Description Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let element" class="description-col" [ngxTippy]="fullDescription"
          [tippyProps]="{ placement: 'right' }" tippyName="content">
          <p>{{element.description}}</p>
          <ng-template #fullDescription let-name class="t-template">
            <div class="help-info-tooltip">
              <div class="heading-with-background">Description</div>
              <p class="py-3 black-text">{{element.description}}</p>
            </div>
          </ng-template>
        </td>
      </ng-container>

      <!-- Created Date Column -->
      <ng-container matColumnDef="created_at">
        <th mat-header-cell *matHeaderCellDef> Created On </th>
        <td mat-cell *matCellDef="let element" [routerLink]="'/features/view'">
          {{element.created_at}}
        </td>
      </ng-container>

      <!-- Created Date Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element" [ngClass]="element.status" [routerLink]="'/features/view'">
          {{element.status}}
        </td>
      </ng-container>

      <!-- Created Date Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action</th>
        <td mat-cell *matCellDef="let element">
          <!-- <app-edit-delete-drop></app-edit-delete-drop> -->
          <mat-icon class="material-symbols-outlined" [matMenuTriggerFor]="actionsMenu">
            more_vert
          </mat-icon>
          <mat-menu #actionsMenu="matMenu" class="actions-menu" backdropClass="edit-menu">
            <button mat-menu-item disableRipple [routerLink]="['edit-feature/'+element.featureId]">Edit</button>
            <button mat-menu-item disableRipple (click)="openDelete(element.featureId)">Delete</button>
          </mat-menu>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" [id]="row.id"></tr>
    </table>
  </div>
</div>