<div class="plan-product-details main-bg w-full h-full overflow-auto border-2 py-8 pl-11 pr-10">
  <div class="flex align-center justify-between mb-2">
    <div class="flex align-center">
      <mat-icon class="material-symbols-outlined pointer" color="primary"
        [routerLink]="'/features'">keyboard_backspace</mat-icon>

      <span class="mat-h1 primary-text text-main ml-2">Create Plan</span>
    </div>

    <div class="flex align-center">
      <button mat-stroked-button color="primary" class="mr-2">Dismiss</button>
      <button mat-flat-button [disabled]="clicked || isButtonDisabled" (click)="onSubmit(); clicked = true"
        color="primary">
        Add
      </button>
    </div>
  </div>
  <div class="flex align-center">
    <span class="pl-8 grey-text text-lighten-9"> Create plan </span>
    <mat-icon class="material-symbols-outlined mx-2 small-icon">
      chevron_right
    </mat-icon>
    <span class="shades-text text-black fw-500">Add Product</span>
  </div>
  <div class="mt-8">
    <div class="py-2">
      <div class="input-wrapper">
        <div class="flex align-center mb-2">
          <p class="mat-subtitle-2 font-weight-500 input-label">Product</p>
          <mat-icon class="material-symbols-outlined pointer ml-3 help-icon text-text text-primary"
            [ngxTippy]="producthelpinfotooltip" [tippyProps]="{ placement: 'right' }">help</mat-icon>
          <ng-template #producthelpinfotooltip let-name>
            <div class="help-info-tooltip">
              <div class="heading-with-background">Product</div>
              <div class="details">
                Please select the product to include it in the Plan
              </div>
              <button mat-button color="primary" class="px-0">
                Learn more
              </button>
            </div>
          </ng-template>
        </div>
        <ng-container [formGroup]="formGroup">
          <mat-form-field appearance="outline" class="border-2">
            <mat-select required formControlName="productID" placeholder="select">
              <mat-option *ngFor="let product of productData" (click)="selectProduct(product)"
                [value]="product.productId">
                {{ product.productId }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </ng-container>

        <div>
          <div class="flex align-center mb-2">
            <p class="mat-subtitle-2 font-weight-500 input-label disabled">
              Product Name
            </p>
          </div>
          <mat-form-field appearance="outline">
            <input matInput [disabled]="true" placeholder="Select" [value]="formGroup.controls.productName.value"
              formControlName="productName" />
          </mat-form-field>
        </div>

        <div>
          <div class="flex align-center mb-2">
            <p class="mat-subtitle-2 font-weight-500 input-label disabled">
              Description
            </p>
          </div>
          <mat-form-field appearance="outline">
            <textarea matInput [disabled]="true" placeholder="Enter " [value]="formGroup.controls.description.value"
              formControlName="description"></textarea>
          </mat-form-field>
        </div>
    <!-----loader ------>
       <div class="loader" *ngIf="loading">
        <div class="position-center">
          <mat-spinner class="page-loader"></mat-spinner>
        </div>
        </div>

        <div *ngIf="isProductSelected" class="add-product-table">
          <p class="mat-subtitle-2 font-weight-500 text-primary py-2 mb-3 table-heading">
            Feature for this plan
          </p>
          <div class="relative main-bg border-2">
            <div class="checked-stripe-table" let feature of feature>
              <table mat-table [dataSource]="filteredFeatures">
                <!-- Checkbox Column -->
                <ng-container matColumnDef="select">
                  <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? toggleAllRows() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                    </mat-checkbox>
                  </th>
                  <td mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? toggleCheckbox($event, row) : null"
                      [checked]="selection.isSelected(row) && isCheckboxChecked" [aria-label]="checkboxLabel(row)">
                    </mat-checkbox>
                  </td>
                </ng-container>

                <!-- Position Column -->
                <ng-container matColumnDef="position">
                  <th mat-header-cell *matHeaderCellDef class="font-weight-500">
                    Name
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.name }}
                  </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef class="font-weight-500">
                    Type
                  </th>
                  <td mat-cell *matCellDef="let element">{{ element.type }}</td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="status">
                  <th mat-header-cell *matHeaderCellDef class="font-weight-500">
                    Status
                  </th>
                  <td mat-cell *matCellDef="let element" [ngClass]="element.status">
                    {{ element.status }}
                  </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="symbol">
                  <th mat-header-cell *matHeaderCellDef class="font-weight-500">
                    Entitlements
                  </th>
                  <td mat-cell *matCellDef="let element">
                    <ng-container *ngIf="element.type === 'quantity' || element.type === 'custom' ">
                      <ng-container *ngIf="element.levels && element.levels.length > 0">
                        <mat-form-field appearance="fill" subscriptSizing="dynamic">
                          <mat-select [value]="selectedLevelFromDropdown" placeholder="select">
                            <mat-option *ngFor="let level of element.levels" [value]="level.value" (click)="
                                onSelectedLevelChange(
                                  element.featureId,
                                  level.value
                                )
                              ">
                              {{ level.name }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </ng-container>
                    </ng-container>
                    <ng-container *ngIf="element.type === 'switch'">
                      <mat-form-field appearance="fill" subscriptSizing="dynamic">
                        <mat-select [(ngModel)]="selectedOptions[element.featureId]" errorState="false"
                          placeholder="select">
                          <mat-option [value]="true">Available</mat-option>
                          <mat-option [value]="false">Not available</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </ng-container>

                    <ng-container *ngIf="element.type === 'range'">
                      <form [formGroup]="rangeForm">
                        <mat-form-field appearance="outline" class="border-2" subscriptSizing="dynamic">
                          <input matInput placeholder="Enter the value" [formControlName]="element.featureId" (input)="rangeForm.controls[element.featureId].markAsTouched()" pattern="[0-9]*" required />
                           <mat-hint>
                          Between {{ element.minValue }} and {{ element.maxValue }}
                          </mat-hint>
                          <mat-error *ngIf="
                              rangeForm.controls[element.featureId].invalid &&
                              rangeForm.controls[element.featureId].touched
                            ">
                            <ng-container *ngIf="rangeForm.controls[element.featureId].errors['required']">
                              Value is required and cannot be left empty.
                            </ng-container>
                              <ng-container *ngIf="rangeForm.controls[element.featureId].errors['pattern']">
                             Only number are allowed.
                             </ng-container>
                           <ng-container *ngIf="rangeForm.controls[element.featureId].errors['min']">
                          Value should above {{ element.minValue }}.
                          </ng-container>
                       <ng-container *ngIf="rangeForm.controls[element.featureId].errors['max']">
                        Between {{ element.minValue }} and {{ element.maxValue }}
                     </ng-container>
                          </mat-error>
                        </mat-form-field>
                      </form>
                    </ng-container>
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="selection.toggle(row)"></tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>